<div id='title-container'>
    <div id='back-icon' class='material-icon material-symbols-outlined' onclick='window.location.href = "index.html";'>
        arrow_back_ios
    </div>
    <div id='title-icon' class='material-icon material-symbols-outlined'>newspaper</div>
    <div id='title'>The Steambird</div>
</div>