* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #d8d8d8;
    font-family: Genshin, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#title-container {
    background: url('assets/banner.png') center;
    background-size: cover;
    text-align: center;
    padding: min(4vh, 4dvw);
}

#back-icon {
    font-size: min(6vh, 6dvw);
    cursor: pointer;
    position: absolute;
    left: min(3vh, 3dvw);
    top: min(3vh, 3dvw);
}

#title-icon {
    font-size: min(16vh, 16dvw);
}

#title {
    font-size: min(6vh, 6dvw);
}

#container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

#navigation {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
}

.navigation-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: min(3vh, 3dvw);
    background-color: #181818;
    cursor: pointer;
}

.navigation-tile.selected {
    background-color: #222;
}

#navigation span {
    font-size: min(6vh, 6dvw);
    margin: 0 min(0.5vh, 0.5dvw);
}

.content-container {;
    display: none;
    padding: min(2vh, 2dvw);
    flex: 1;
    overflow-y: hidden
}

.content-container.selected {
    display: flex;
}

.content-section {
    background-color: #181818;
    overflow-y: auto;
}

.content-section::-webkit-scrollbar {
    display: none;
}

#stops-index {
    flex: 2;
}

.stop-group-view {
    margin: min(1vh, 1dvw);
}

.stop-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: min(0.5vh, 0.5dvw);
    background-color: #282828;
    cursor: pointer;
}

.roman-numeral {
    display: inline-block;
    font-size: min(2vh, 2dvw);
    width: min(6vh, 6dvw);
    text-align: center;
}

.name-and-stars {
    flex: 1;
}

.group-stops {
    display: none;
}

.expanded .group-stops {
    display: block;
}

.stop-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: min(0.5vh, 0.5dvw) min(1vh, 1dvw);
    padding: min(0.5vh, 0.5dvw) min(2vh, 2dvw);
    background-color: #282828;
    cursor: pointer;
}

.marker {
    display: inline-block;
    width: min(2vh, 2dvw);
    margin-right: min(1vh, 1dvw);
}

.object-view {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: min(2vh, 2dvw);
}

.name-label {
    font-size: min(3vh, 3dvw);
}

.details-table {
    width: auto;
}

.details-table td {
    padding: min(0.25vh, 0.25dvw);
    font-size: min(2vh, 2dvw);
}

.details-table td:last-child {
    width: 100%;
}

.line-view {
    display: inline-flex;
    align-items: center;
    margin: min(0.5vh, 0.5dvw);
    border-radius: 100vmax;
    background-color: rgba(255, 255, 255, 0.1);
}

.line-number {
    padding: min(0.5vh, 0.5dvw) min(1.5vh, 1.5dvw);
    border-radius: 100vmax;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: min(3vh, 3dvw);
}

.line-destination {
    padding-left: min(1vh, 1dvw);
    padding-right: min(1.5vh, 1.5dvw);
}

#stop-coordinates {
    font-size: min(1.5vh, 1.5dvw);
    color: #d8d8d8aa;
}

#street-view-link {
    display: inline-flex;
    align-items: center;
    margin-top: min(0.5vh, 0.5dvw);
    padding: min(1vh, 1dvw);
    font-size: min(1.5vh, 1.5dvw);
    background-color: rgba(255, 255, 255, 0.1);
}

#vehicles-index {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.vehicle-preview {
    position: relative;
    display: inline-block;
    margin: min(0.75vh, 0.75dvw) min(0.5vh, 0.5dvw);
    padding: min(1vh, 1dvw);
    background-color: #282828;
    cursor: pointer;
}

.vehicle-icon {
    width: min(10vh, 10dvw);
    opacity: 0.5;
    filter: brightness(0) invert(97%) brightness(88%) contrast(97%);
}

.vehicle-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + min(1vh, 1dvw)), -50%);
    width: min(5vh, 5dvw);
    filter: brightness(0) invert(97%) brightness(88%) contrast(97%) drop-shadow(0 0 min(0.25vh, 0.25dvw) #282828) drop-shadow(0 0 min(1vh, 1dvw) #282828);
}

.vehicle-id {
    margin-top: min(0.5vh, 0.5dvw);
    font-size: min(1.75vh, 1.75dvw);
}
