<p>Informujemy, że niedziele 15 i 22 grudnia 2024 r. są niedzielami handlowymi.</p>
<p>
 <span class="fontstyle0">
  W tych dniach na liniach
  <span style="color: #008000">180</span>
  i
  <span style="color: #008000">193</span>
  obowiązuje rozkład jazdy na niedzielę handlową, według którego autobusy linii 180 kursują do centrum handlowego przy ul. Sycowskiej od godziny 5:30 do końca dnia, a autobusy linii
  <span style="color: #008000">193</span>
  kursują ulicą Kolorową obok centrum handlowego King Cross. Na pozostałych liniach autobusowych i tramwajowych obowiązuje świąteczny rozkład jazdy.
 </span>
</p>
<p>
 <span class="fontstyle0">
  Na przystankowych rozkładach jazdy godziny odjazdów autobusów linii
  <span style="color: #008000">180</span>
  i
  <span style="color: #008000">193</span>
  można odczytać w kolumnie środkowej ("soboty i niedziele handlowe").
 </span>
</p>
