<p>
 Informujemy, że z przyczyn technicznych, od nocy 12/13 września br.
 <span style="color: #ff0000">do odwołania</span>
 , autobusy linii 212 w obu kierunkach pojadą objazdem ulicami Mrągowską i Jawornicką.
 <br/>
 Przystanki "<em>Kacza Zajezdnia</em>" będą tymczasowo wyłączone z użytkowania.
</p>
