<p>
 Informujemy, że z powodu rozpoczynających się prac na ul. Góreckiej, od poniedziałku, 3 czerwca 2024 r. autobusy linii 179 na odcinku między przystankami "Dmowskiego" a "Tarczowa" będą kursować w obu kierunkach objazdem ulicami Dmowskiego i Drużynową:
 <br/>
 Kacza – Mrągowska – Promienista – Ściegiennego – Arciszewskiego – Hetmańska – Dmowskiego – Drużynowa – Górecka – Jesionowa – Opolska – Dębiec PKM
 <br/>
 Na trasie objazdu zlokalizowane będą następujące przystanki:
</p>
<ul>
 <li>"Górki" (GORK91 i GORK92) – na ul. Dmowskiego w okolicy skrzyżowania z ul. Górki,</li>
 <li>"Daleka" (DALE91 i DALE92) – na ul. Dmowskiego w okolicy skrzyżowania z ul. Daleką,</li>
 <li>"Drużynowa" (DRUZ91 i DRUZ92) – na ul. Drużynowej przy ul. Góreckiej.</li>
</ul>
<p>Przystanki stałe "Drużynowa" (DRUZ01 i DRUZ02) znajdujące się na ul. Góreckiej zostają tymczasowo wyłączone z użytkowania.</p>
