<p>
 Informujemy, że od poniedziałku, 18 listopada 2024 r. z powodu dalszych prac na ul. Kurlandzkiej, przystanek "Os. Zodiak 01" (<em>OSZO01</em>) będzie tymczasowo zlokalizowany za skrzyżowaniem z ulicą Aleksandrowicz (będzie przesunięty bliżej wyjazdu ze szpitala).
</p>
