<p>
 Z okazji odbywającego się na terenach Międzynarodowych Targów Poznańskich oraz na placu Wolności "Poznańskiego Jarmarku Bożonarodzeniowego", uruchomiona zostaje dodatkowa linia tramwajowa oznaczona numerem 24 na trasie:
 <br/>
 Górczyn PKM – Głogowska – Roosevelta – rondo Kaponiera – Święty Marcin – Aleje Marcinkowskiego – plac Wolności – 27 Grudnia – Gwarna – Święty Marcin – rondo Kaponiera – Roosevelta – Głogowska – Górczyn PKM
 <br/>
 Tramwaj linii 24 kursował będzie we wszystkie dni tygodnia w godz. 16:00 – 22:00 od soboty, 16 listopada.
</p>
