<p>Funkcjonowanie komunikacji zbiorowej w okresie świąt Bożego Narodzenia 2024 i Nowego Roku 2025.</p>
<p>
 Poniedziałek, 23 grudnia 2024 r.
 <br/>
 Na wszystkich liniach obowiązuje roboczy rozkład jazdy.
</p>
<p>Na wszystkich liniach obowiązuje roboczy rozkład jazdy ze zmianami związanymi z przerwą świąteczną w szkołach i na UAM:</p>
<ul>
 <li>nie funkcjonują linie 123, 124,</li>
 <li>linia 154 wykonuje kursy tylko na odcinku Rondo Rataje – Spławie,</li>
 <li>autobusy linii 188, 198 nie wykonują kursów szkolnych,</li>
</ul>
<p>W nocy 23/24 grudnia 2024 r. komunikacja nocna funkcjonować będzie jak w noce z piątku na sobotę. Zawieszone będzie funkcjonowanie linii nocnej 202.</p>
<p>
 Wtorek, 24 grudnia 2024 r.
 <br/>
 Na wszystkich liniach obowiązuje
 <span style="color: #3366ff">sobotni rozkład jazdy</span>
 .
</p>
<p>
 Linie 24, 122, 149, 170, 181 i 416 przez cały dzień nie funkcjonują. Pozostałe linie komunikacji miejskiej funkcjonują według sobotniego rozkładu jazdy. Rozkładowe kursy linii 184 do Term Maltańskich zostają skrócone do ronda Śródka, natomiast kursy do i z Nowego ZOO będą wykonywane bez zmian. Autobusy linii 198 nie będą obsługiwać przystanku "<em>UAM Wydział Fizyki</em>".
</p>
<p>
 O godz. 14:00 zawieszone zostanie funkcjonowanie linii tramwajowych 5, 11 i 15 oraz autobusowych 145, 153, 156, 157, 159, 179 i 196. Ponadto tramwaje linii 6 kursować będą trasą wydłużoną do Junikowa, a autobusy linii 148 kursować będą trasą wydłużoną do przystanku "<em>Poznań Główny</em>" (na placu Dworcowym przystanek początkowy jak dla linii 159) oraz z wjazdem pod Port Lotniczy Ławica (zatrzymanie zarówno przy hali odlotów, jak i przy hali przylotów). Od godz. 15:00 autobus linii 180 kursował będzie według świątecznego rozkładu jazdy.
</p>
<p>O godz. 17:00 wprowadzone zostają następujące zmiany:</p>
<ul>
 <li>kurs linii 167 o godz. 16:35 z ronda Śródka zostaje zamieniony na kurs linii 911 do Biedruska,</li>
 <li>zawieszone zostaje funkcjonowanie wszystkich linii tramwajowych oraz następujących linii autobusowych: 146, 152, 154, 158, 160, 162, 163, 164, 166, 167, 168, 169, 171, 174, 175, 176, 177, 182, 183, 184, 185, 186, 189, 190, 191, 193, 198, 322 i 911,</li>
 <li>do godz. 21:00 według sobotniego rozkładu jazdy funkcjonują linie 173, 178, 180, 194 i 425,</li>
 <li>bez ograniczeń według sobotniego rozkładu jazdy funkcjonują linie 348 i 727,</li>
 <li>uruchomione zostają linie nocne według następującego schematu (tabela na następnej stronie):</li>
</ul>
<table style="height: 648px;width: 100%">
 <tbody>
  <tr style="height: 24px">
   <td rowspan="2" style="border-style: solid;border-color: #000000;background-color: #505050;height: 48px;width: 4.47284%;text-align: center;vertical-align: middle"><span style="color: #ffffff">Linia</span></td>
   <td colspan="3" style="height: 24px;width: 94.5687%;border-style: solid;border-color: #000000;background-color: #505050;text-align: center;vertical-align: middle"><span style="color: #ffffff">Zasady funkcjonowania</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 22.3642%;border-style: solid;border-color: #000000;background-color: #505050;text-align: center;vertical-align: middle" width="276"><span style="color: #ffffff">17:00 – 21:00</span></td>
   <td style="height: 24px;width: 19.7284%;border-style: solid;border-color: #000000;background-color: #505050;text-align: center;vertical-align: middle" width="243"><span style="color: #ffffff">21:00 – 23:00</span></td>
   <td style="height: 24px;width: 52.476%;border-style: solid;border-color: #000000;background-color: #505050;text-align: center;vertical-align: middle"><span style="color: #ffffff">23:00 – 5:00</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">201</span></td>
   <td style="height: 24px;width: 22.3642%;text-align: center;vertical-align: middle" width="276">co 15 minut</td>
   <td style="height: 24px;width: 19.7284%;text-align: center;vertical-align: middle" width="243">co 30 minut</td>
   <td rowspan="15" style="height: 600px;width: 52.476%;vertical-align: middle;text-align: center">według rozkładu jazdy obowiązującego na noce z niedzieli na poniedziałek (tzw. pozostałe noce)</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">211</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy z Garbar PKM p. rondo Minikowo</td>
  </tr>
  <tr style="height: 48px">
   <td style="height: 48px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">212</span></td>
   <td style="height: 48px;width: 22.3642%;text-align: center;vertical-align: middle" width="276">co 60 minut, wszystkie kursy do Franowa</td>
   <td style="height: 48px;width: 19.7284%;text-align: center;vertical-align: middle" width="243">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">213</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">214</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="height: 96px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">215</span></td>
   <td style="height: 96px;width: 22.3642%;text-align: center;vertical-align: middle" width="276">
    co 30 minut tylko na odcinku
    <br/>
    Os. Sobieskiego – Os. Dębina
   </td>
   <td style="height: 96px;width: 19.7284%;text-align: center;vertical-align: middle" width="243">
    co 30 minut, co drugi kurs
    <br/>
    wydłużony do Lubonia/Kręta
   </td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">216</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">218</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 30 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">220</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">221</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="height: 96px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">222</span></td>
   <td style="height: 96px;width: 22.3642%;text-align: center;vertical-align: middle" width="276">co 60 minut</td>
   <td style="height: 96px;width: 19.7284%;text-align: center;vertical-align: middle" width="243">
    co 60 minut, wszystkie kursy
    <br/>
    w obu kierunkach przez Darzybór
   </td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">223</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Zielińca</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">224</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Junikowa PKM</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">226</span></td>
   <td colspan="2" style="height: 24px;width: 42.0927%;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="height: 96px;width: 4.47284%;border-style: solid;border-color: #000000;background-color: #000000;text-align: center;vertical-align: middle"><span style="color: #ffffff">227</span></td>
   <td style="height: 96px;width: 22.3642%;text-align: center;vertical-align: middle" width="276">
    co 30 minut na odcinku
    <br/>
    Rondo Rataje – Koziegłowy
   </td>
   <td style="height: 96px;width: 19.7284%;text-align: center;vertical-align: middle" width="243">
    co 30 minut, co drugi kurs
    <br/>
    na odcinku Rondo Rataje – Koziegłowy
   </td>
  </tr>
 </tbody>
</table>
<p>Komunikacja nocna funkcjonuje do godz. 12:00 dnia następnego.</p>
<p>
 Środa, 25 grudnia 2024 r.<br><span style="color: #ff0000">
  <span style='color:white;"'>Na wszystkich liniach obowiązuje</span>
  świąteczny rozkład jazdy.
 </span>
</p>
<p>Do godz. 12:00 komunikacja miejska funkcjonuje według poniższych zasad:</p>
<ul>
 <li>funkcjonują linie nocne według następującego schematu:</li>
</ul>
<table style="width: 100%;height: 552px" width="100%">
 <tbody>
  <tr style="height: 24px">
   <td rowspan="2" style="width: 52px;height: 48px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">Linia</span></td>
   <td colspan="3" style="width: 669px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">Zasady funkcjonowania</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 108px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">do godz. 5:00</span></td>
   <td style="width: 265.266px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">5:00 – 8:00</span></td>
   <td style="width: 283.734px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">8:00 – 12:00</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">201</span></td>
   <td rowspan="15" style="width: 108px;height: 504px;text-align: center;vertical-align: middle">według rozkładu jazdy obowiązującego w pozostałe noce</td>
   <td style="width: 265.266px;height: 24px;text-align: center;vertical-align: middle">co 30 minut</td>
   <td style="width: 283.734px;height: 24px;text-align: center;vertical-align: middle">co 15 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">211</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Garbar PKM p. rondo Minikowo</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">212</span></td>
   <td style="width: 265.266px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
   <td style="width: 283.734px;height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Franowa</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">213</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">214</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">215</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">216</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">218</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 30 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">220</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">221</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut, dodatkowy kurs o 5:37 z Garbar PKM</td>
  </tr>
  <tr style="height: 48px">
   <td style="width: 52px;height: 48px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">222</span></td>
   <td style="width: 265.266px;height: 48px;text-align: center;vertical-align: middle">
    co 60 minut, wszystkie kursy
    <br/>
    w obu kierunkach przez Darzybór
   </td>
   <td style="width: 283.734px;height: 48px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 72px">
   <td style="width: 52px;height: 72px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">223</span></td>
   <td style="width: 265.266px;height: 72px;text-align: center;vertical-align: middle">
    co 60 minut,
    <br/>
    wszystkie kursy do Zielińca(o 5:11 dodatkowy kurs na trasie Górczyn PKM – Kacza, przesiadka z linii 213)
   </td>
   <td style="width: 283.734px;height: 72px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">224</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Junikowa PKM</td>
  </tr>
  <tr style="height: 24px">
   <td style="width: 52px;height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">226</span></td>
   <td colspan="2" style="width: 555px;height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="width: 52px;height: 96px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">227</span></td>
   <td style="width: 265.266px;height: 96px;text-align: center;vertical-align: middle">
    co 30 minut, co drugi kurs
    <br/>
    na odcinku Rondo Rataje – Koziegłowy
   </td>
   <td style="width: 283.734px;height: 96px;text-align: center;vertical-align: middle">
    co 30 minut na odcinku
    <br/>
    Rondo Rataje – Koziegłowy
   </td>
  </tr>
 </tbody>
</table>
<ul>
 <li>
  od pierwszych kursów według
  <span style="color: #ff0000">świątecznego</span>
  rozkładu jazdy funkcjonują linie 348 i 727,
 </li>
 <li>
  od godz. 8:00 według
  <span style="color: #ff0000">świątecznego</span>
  rozkładu jazdy funkcjonują linie 173, 178, 180, 186, 194 i 425,
 </li>
 <li>
  od godz. 12:00 według
  <span style="color: #ff0000">świątecznego</span>
  rozkładu jazdy funkcjonują linie tramwajowe 1, 2, 3, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17 i 18 oraz autobusowe 146, 148, 152, 154, 156, 158, 162, 164, 166, 168, 169, 171, 174, 175, 177, 182, 183, 184, 189, 190, 193, 198, 322 i 911,
 </li>
 <li>linia 180 funkcjonuje tylko na odcinku Górczyn PKM – Rudnicze,</li>
 <li>
  od godz. 12:00 tramwaje linii 6 będą wykonywać wszystkie kursy do Junikowa (do godz. 14:30), autobusy linii 148 kursować będą trasą wydłużoną do przystanku "<em>Poznań Główny</em>" (na placu Dworcowym przystanek początkowy jak dla linii 159) oraz z wjazdem pod Port Lotniczy Ławica (zatrzymanie zarówno przy hali odlotów, jak i przy hali przylotów), a rozkładowe kursy linii 184
  <br/>
  do Term Maltańskich zostają skrócone do ronda Śródka (kursy do i z Nowego ZOO będą wykonywane bez zmian). Autobusy linii 198 nie będą obsługiwać przystanku "<em>UAM Wydział Fizyki</em>",
 </li>
 <li>
  od godz. 14:30 według
  <span style="color: #ff0000">świątecznego</span>
  rozkładu jazdy funkcjonują linie 5, 15, 160, 163, 167, 185 i 191, a od godz. 16:00 także linia 24.
 </li>
</ul>
<p>Zawieszone przez cały dzień będą linie 11, 122, 145, 149, 153, 157, 159, 176, 179, 181 i 196.</p>
<p>W nocy 25/26 grudnia 2024 r. komunikacja nocna funkcjonuje jak w noce z niedzieli na poniedziałek (tzw. "pozostałe noce") do godz. 5:00, a następnie co 30/60 minut do godz. 6:00.</p>
<p>
 Czwartek, 26 grudnia 2024 r.<br><span style="color: #ff0000">
  <span style='color:white;"'>Na wszystkich liniach obowiązuje</span>
  świąteczny rozkład jazdy.
 </span>
</p>
<p>
 Komunikacja miejska funkcjonuje według
 <span style="color: #ff0000">świątecznego</span>
 rozkładu jazdy z następującymi zmianami:
</p>
<ul>
 <li>linia 180 funkcjonować będzie na trasie skróconej Górczyn PKM – Rudnicze,</li>
 <li>do ok. godz. 13:30 rozkładowe kursy linii 184 do Term Maltańskich zostają skrócone do ronda Śródka (kursy do i z Nowego ZOO będą wykonywane bez zmian),</li>
 <li>
  autobusy linii 198 nie będą obsługiwać przystanku "<em>UAM Wydział Fizyki</em>".
 </li>
</ul>
<p>W nocy 26 na 27 grudnia 2024 r. komunikacja nocna funkcjonować będzie jak w noce z piątku na sobotę. Zawieszone będzie funkcjonowanie linii nocnej 202.</p>
<p>
 <span style='color:white;"'>Piątek, 27 grudnia 2024 r.</span><br><span style='color:white;"'>
  Na wszystkich liniach obowiązuje
  <span style="color: #3366ff">sobotni rozkład jazdy</span>
  .
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według sobotniego rozkładu jazdy z następującymi zmianami:</p>
<ul>
 <li>na liniach 1, 6, 10, 12, 16 i 17 w godz. 6:30-9:00 i 13:30-18:30 tramwaje kursować będą z częstotliwością co 10 minut.</li>
</ul>
<p>Komunikacja nocna funkcjonować będzie jak w noce z piątku na sobotę.</p>
<p>
 Sobota, 28 grudnia 2024 r.<br><span style='color:white;"'>
  Na wszystkich liniach obowiązuje
  <span style="color: #3366ff">sobotni rozkład jazdy</span>
  .
 </span>
</p>
<p>
 Na wszystkich liniach obowiązuje
 <span style="color: #3366ff">sobotni</span>
 rozkład jazdy.
</p>
<p>W nocy 28 na 29 grudnia 2024 r. komunikacja nocna funkcjonuje według rozkładów jazdy na noce z soboty na niedzielę.</p>
<p>
 Niedziela, 29 grudnia 2024 r.<br><span style="color: #ff0000">
  <span style='color:white;"'>Na wszystkich liniach obowiązuje</span>
  świąteczny rozkład jazdy.
 </span>
</p>
<p>W nocy 29 na 30 grudnia 2024 r. komunikacja nocna funkcjonuje według rozkładów jazdy jak w noce z niedzieli na poniedziałek (tzw. "pozostałe noce").</p>
<p>
 <span style='color:white;"'>Poniedziałek, 30 grudnia 2024 r.</span><br><span style='color:white;"'>Na wszystkich liniach obowiązuje roboczy rozkład jazdy.</span>
</p>
<p>Na wszystkich liniach obowiązuje roboczy rozkład jazdy ze zmianami związanymi z przerwą świąteczną w szkołach i na UAM:</p>
<ul>
 <li>nie funkcjonują linie 123, 124,</li>
 <li>linia 154 wykonuje kursy tylko na odcinku Rondo Rataje – Spławie,</li>
 <li>autobusy linii 188, 198 nie wykonują kursów szkolnych,</li>
</ul>
<p>W nocy 30 na 31 grudnia 2024 r. komunikacja nocna funkcjonuje według rozkładów jazdy jak z dnia roboczego na dzień roboczy (na tzw. pozostałe noce).</p>
<p>
 Wtorek, 31 grudnia 2024 r.<br><span style='color:white;"'>Na wszystkich liniach obowiązuje roboczy rozkład jazdy.</span>
</p>
<p>Do godz. 21:00 na wszystkich liniach obowiązuje roboczy rozkład jazdy z następującymi zmianami:</p>
<ul>
 <li>nie funkcjonują linie 123, 124,</li>
 <li>linia 154 wykonuje kursy tylko na odcinku Rondo Rataje – Spławie,</li>
 <li>rozkładowe kursy linii 184 do Term Maltańskich zostają skrócone do ronda Śródka, natomiast kursy do i z Nowego ZOO będą wykonywane bez zmian</li>
 <li>autobusy linii 188, 198 nie wykonują kursów szkolnych,</li>
</ul>
<p>O godz. 21:00 wprowadzone zostają następujące zmiany:</p>
<ul>
 <li>zawieszone zostaje funkcjonowanie wszystkich tramwajowych linii dziennych oraz następujących linii autobusowych: 145, 146, 148, 149, 152, 153, 154, 156, 157, 158, 159, 160, 162, 163, 164, 166, 167, 168, 169, 171, 175, 176, 179, 181, 183, 184, 185, 186, 189, 190, 191, 193, 196, 198 i 322,</li>
 <li>bez ograniczeń według roboczego rozkładu jazdy funkcjonują linie 173, 174, 177, 178, 180, 182, 194, 348, 425, 727 i 911,</li>
 <li>linia 180 funkcjonuje tylko na odcinku Górczyn PKM – Rudnicze,</li>
 <li>uruchomione zostają linie nocne według następującego schematu (tabela na następnej stronie):</li>
</ul>
<table style="height: 576px;width: 100%">
 <tbody>
  <tr style="height: 24px">
   <td rowspan="2" style="height: 48px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">Linia</span></td>
   <td colspan="2" style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">Zasady funkcjonowania</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">21:00 – 23:00</span></td>
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">po godz. 23:00</span></td>
  </tr>
  <tr style="height: 72px">
   <td style="height: 72px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">201</span></td>
   <td style="height: 72px;text-align: center;vertical-align: middle">co 10 minut</td>
   <td style="height: 72px;text-align: center;vertical-align: middle">
    co 10 minut do godz. 2:00,
    <br/>
    w godz. 2:00 – 4:00 co 15 minut,
    <br/>
    a po godz. 4:00 co 30 minut
   </td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">204</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 10 minut</td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 15 minut tylko do godz. 2:00</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">208</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 10 minut</td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 30 minut tylko do godz. 2:00</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">211</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy z Garbar PKM p. rondo Minikowo</td>
   <td rowspan="14" style="height: 408px;text-align: center;vertical-align: middle">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w noce z soboty na niedzielę</p>
   </td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">212</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Franowa</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">213</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">214</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="height: 96px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">215</span></td>
   <td style="height: 96px;text-align: center;vertical-align: middle">
    co 30 minut, co drugi kurs
    <br/>
    wydłużony do Lubonia/Kręta
   </td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">216</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">218</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 30 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">220</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">221</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">222</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">223</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut, wszystkie kursy do Zielińca</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">224</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut do Junikowa PKM</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">226</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">227</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle">co 30 minut na odcinku Rondo Rataje – Koziegłowy</td>
  </tr>
 </tbody>
</table>
<p>W związku z organizacją Sylwestra Miejskiego na terenie MTP w godz. 21:00 – 2:00 funkcjonować będą dodatkowe linie tramwajowe 204 i 208:</p>
<ul>
 <li>linia 204:</li>
</ul>
<p>Błażeja – al. Praw Kobiet – Naramowicka – Przełajowa – Winogrady – Pułaskiego – Roosevelta – most Teatralny – Fredry – Gwarna – Św. Marcin – Towarowa – Most Dworcowy – Roosevelta – rondo Kaponiera – Św. Marcin – Gwarna – Fredry – most Teatralny – Roosevelta – Pułaskiego – Winogrady – Przełajowa – Naramowicka – Al. Praw Kobiet – Błażeja,</p>
<ul>
 <li>linia 208:</li>
</ul>
<p>Budziszyńska – Grunwaldzka – Roosevelta – Głogowska – Hetmańska – rondo Starołęka – Zamenhofa – rondo Rataje – Jana Pawła II – rondo Śródka – Zawady,</p>
<p>Komunikacja nocna (z wyjątkiem linii 202) funkcjonuje do godz. 12:00 dnia następnego.</p>
<p>
 Środa, 1 stycznia 2024 r.<br><span style="color: #ff0000">
  <span style='color:white;"'>Na wszystkich liniach obowiązuje</span>
  świąteczny rozkład jazdy.
 </span>
</p>
<p>Do godz. 12:00 komunikacja miejska funkcjonuje według poniższych zasad:</p>
<ul>
 <li>funkcjonują linie nocne według następującego schematu:</li>
</ul>
<table style="width: 100%;height: 600px" width="100%">
 <tbody>
  <tr style="height: 24px">
   <td rowspan="2" style="text-align: center;height: 48px;width: 10%;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">Linia</span></td>
   <td colspan="3" style="text-align: center;height: 24px;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle" width="687"><span style="color: #ffffff">Zasady funkcjonowania</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="text-align: center;height: 24px;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle"><span style="color: #ffffff">do godz. 5:00</span></td>
   <td style="text-align: center;height: 24px;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle" width="234"><span style="color: #ffffff">5:00 – 8:00</span></td>
   <td style="text-align: center;height: 24px;border-style: solid;border-color: #000000;background-color: #505050;vertical-align: middle" width="249"><span style="color: #ffffff">8:00 – 12:00</span></td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">201</span></td>
   <td style="height: 24px;text-align: center;vertical-align: middle" width="204"></td>
   <td style="height: 24px;text-align: center;vertical-align: middle" width="234">co 30 minut</td>
   <td style="height: 24px;text-align: center;vertical-align: middle" width="249">co 15 minut</td>
  </tr>
  <tr style="height: 48px">
   <td style="height: 48px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">211</span></td>
   <td rowspan="14" style="height: 528px;text-align: center;vertical-align: middle">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w noce z soboty na niedzielę</p>
   </td>
   <td colspan="2" style="height: 48px;text-align: center;vertical-align: middle" width="483">
    co 60 minut, wszystkie kursy do Garbar PKM p. rondo Minikowo
    <br/>
    (kurs o 5:37 z Garbar PKM zastąpiony kursem linii 221)
   </td>
  </tr>
  <tr style="height: 48px">
   <td style="height: 48px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">212</span></td>
   <td style="height: 48px;text-align: center;vertical-align: middle" width="234">co 60 minut</td>
   <td style="height: 48px;text-align: center;vertical-align: middle" width="249">co 60 minut, wszystkie kursy do Franowa</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">213</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">214</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">215</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">216</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">218</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 30 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">220</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">221</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut z dodatkowym kursem o 5:37 z Garbar PKM</td>
  </tr>
  <tr style="height: 72px">
   <td style="height: 72px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">222</span></td>
   <td style="height: 72px;text-align: center;vertical-align: middle" width="234">
    co 60 minut, wszystkie kursy
    <br/>
    w obu kierunkach przez Darzybór
   </td>
   <td style="height: 72px;text-align: center;vertical-align: middle" width="249">co 60 minut</td>
  </tr>
  <tr style="height: 48px">
   <td style="height: 48px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">223</span></td>
   <td style="height: 48px;text-align: center;vertical-align: middle" width="234">co 60 minut, wszystkie kursy do Zielińca</td>
   <td style="height: 48px;text-align: center;vertical-align: middle" width="249">co 60 minut</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">224</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut, wszystkie kursy do Junikowa PKM</td>
  </tr>
  <tr style="height: 24px">
   <td style="height: 24px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">226</span></td>
   <td colspan="2" style="height: 24px;text-align: center;vertical-align: middle" width="483">co 60 minut</td>
  </tr>
  <tr style="height: 96px">
   <td style="height: 96px;width: 10%;text-align: center;border-style: solid;border-color: #000000;background-color: #000000;vertical-align: middle"><span style="color: #ffffff">227</span></td>
   <td style="height: 96px;text-align: center;vertical-align: middle" width="234">
    co 30 minut, co drugi kurs
    <br/>
    na odcinku Rondo Rataje – Koziegłowy
   </td>
   <td style="height: 96px;text-align: center;vertical-align: middle" width="249">
    co 30 minut na odcinku
    <p></p>
    <p>Rondo Rataje – Koziegłowy</p>
   </td>
  </tr>
 </tbody>
</table>
<ul>
 <li>od pierwszych kursów według świątecznego rozkładu jazdy funkcjonują linie 348 i 727,</li>
 <li>od godz. 8:00 według świątecznego rozkładu jazdy funkcjonują linie 173, 178, 180, 186, 194 i 425,</li>
 <li>od godz. 12:00 według świątecznego rozkładu jazdy funkcjonują linie tramwajowe 1, 2, 3, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17 i 18 oraz autobusowe 146, 148, 152, 154, 156, 158, 162, 164, 166, 168, 169, 171, 174, 175, 177, 182, 183, 184, 189, 190, 193, 198, 322 i 911,</li>
 <li>linia 180 funkcjonuje tylko na odcinku Górczyn PKM – Rudnicze,</li>
 <li>
  od godz. 12:00 tramwaje linii 6 będą wykonywać wszystkie kursy do Junikowa (do godz. 14:30), autobusy linii 148 kursować będą trasą wydłużoną do przystanku "<em>Poznań Główny</em>" (na placu Dworcowym przystanek początkowy jak dla linii 159) oraz z wjazdem pod Port Lotniczy Ławica (zatrzymanie zarówno przy hali odlotów, jak i przy hali przylotów), a rozkładowe kursy linii 184
  <br/>
  do Term Maltańskich między godzinami 12:00 a 13:30 zostają skrócone do ronda Śródka (kursy do i z Nowego ZOO będą wykonywane bez zmian). Autobusy linii 198 nie będą obsługiwać przystanku "<em>UAM Wydział Fizyki</em>",
 </li>
 <li>od godz. 14:30 według świątecznego rozkładu jazdy funkcjonują linie 5, 15, 160, 163, 167, 185 i 191, a od godz. 16:00 także linia 24.</li>
</ul>
<p>Zawieszone przez cały dzień będą linie 11, 122, 145, 149, 153, 157, 159, 176, 179, 181 i 196.</p>
<p>W nocy 1/2 stycznia 2025 r. komunikacja nocna funkcjonuje jak w noce z niedzieli na poniedziałek (tzw. "pozostałe noce").</p>
<p>
 Czwartek-Piątek, 2-3 stycznia 2025 r.
 <br/>
 Na wszystkich liniach obowiązuje roboczy rozkład jazdy.
</p>
<p>Komunikacja miejska funkcjonuje według roboczego rozkładu jazdy bez ograniczeń.</p>
