<p>
 Informujemy, że od czwartku, 2 stycznia 2025 r. wszystkie kursy linii
 <span style="color: #008000">425</span>
 w dni robocze wykonywane będą na wydłużonej trasie do pętli "<em>Zalasewo/Os. Leśne</em>". W soboty, niedziele i święta kursy nadal wykonywane będą do pętli "<em>Zalasewo/Planetarna Szkoła</em>".
</p>
