<p>Na podstawie Ustawy o ograniczeniu handlu w niedziele i święta oraz niektóre inne dni informujemy, że niedzielami handlowymi w roku 2024 są następujące dni:</p>
<ul>
 <li>28 stycznia,</li>
 <li>24 marca,</li>
 <li>28 kwietnia,</li>
 <li>30 czerwca,</li>
 <li>25 sierpnia,</li>
 <li>15 i 22 grudnia.</li>
</ul>
<p>
 W tych dniach obowiązuje rozkład na niedziele handlowe, według którego autobusy linii 180 kursują do centrum handlowego przy ul. Sycowskiej, a autobusy linii 193 kursują ulicą Kolorową obok centrum handlowego King Cross.
 <br/>
 Na przystankowych rozkładach jazdy godziny odjazdów autobusów linii 180 i 193 w niedziele handlowe można odczytać w kolumnie środkowej ("soboty i niedziele handlowe").
</p>
