<p>
 Informujemy, że od czwartku, 5 września 2024 r. przystanki "<em>Edwardowo</em>" funkcjonować będą w tymczasowej lokalizacji – przystanek w kierunku osiedla Bajkowego będzie zlokalizowany ok. 50 m bliżej ulicy Bukowskiej, a przystanek w kierunku centrum zlokalizowany będzie o ok. 50 m bliżej ulicy Brzechwy.
</p>
