<p>
 <span style="text-decoration: underline;color: #ff0000">Aktualizacja:</span><br>Informujemy, że w piątek, 20 grudnia br. zakończy się kolejny etap prac na Ogrodach. Od tego dnia do odwołania przystanek na peronie 1 ponownie będzie przystankiem podwójnym.
</p>
<p>
 Informujemy, że z powodu prowadzonych na pętli tramwajowej Ogrody prac, od piątku, 6 grudnia
 <span style="color: #ff0000">do odwołania</span>
 przystanek tramwajowy na peronie 1 będzie przystankiem pojedynczym –
 <br/>
 drugi tramwaj stojący przy tym przystanku nie będzie obsługiwał pasażerów.
</p>
