<p>
 Informujemy, że w środę i czwartek, 4 i 5 grudnia br. odbywać się będzie remont nawierzchni na przystanku "<em>Wójtowska 01</em>". W pobliżu przystanku stałego utworzony zostanie przystanek tymczasowy, który w zależności od postępu prac będzie zmieniał lokalizację.
</p>
