<p>Z okazji 106. rocznicy wybuchu Powstania Wielkopolskiego obowiązywać będą następujące zmiany w komunikacji tramwajowej i autobusowej:</p>
<ol>
 <li>od 26 grudnia 2024 r. od godz. 6:00 do 28 grudnia 2024 r. do ok. godz. 10:30 jezdnia ulicy Królowej Jadwigi prowadząca od ulicy Matyi do ulicy Górna Wilda zwężona będzie do jednego pasa ruchu,</li>
 <li>
  w piątek, 27 grudnia 2024 r. od godz. 15:30 do ok. godz. 19:30 obowiązywać będą następujące zmiany w organizacji ruchu:
  <ul>
   <li>
    zamknięta dla ruchu tramwajowego i kołowego zamknięta będzie ulica Wierzbięcice pomiędzy ulicami Matyi a ks. Wujka. Tramwaje linii
    <span style="color: #008000">10</span>
    kursować będą objazdem przez ul. Górna Wilda w obu kierunkach. Na trasie objazdu obowiązują przystanki "<em>Różana</em>" na ul. Górna Wilda,
   </li>
   <li>objazd dla pojazdów kołowych poprowadzony będzie ulicami Matyi, Przemysłową i ks. Wujka (od południa ulicami Niedziałkowskiego i Przemysłową).</li>
  </ul>
 </li>
</ol>
