<p>Z okazji 106. rocznicy wybuchu Powstania Wielkopolskiego w piątek, 27 grudnia 2024 r. od godz. 15:30 do ok. godz. 19:30 obowiązywać będą następujące zmiany w organizacji ruchu:</p>
<ul>
 <li>
  zamknięta dla ruchu tramwajowego i kołowego zamknięta będzie ulica Wierzbięcice pomiędzy ulicami Matyi a ks. Wujka. Tramwaje linii
  <span style="color: #008000">10</span>
  kursować będą objazdem przez ul. Górna Wilda w obu kierunkach. Na trasie objazdu obowiązują przystanki "<em>Różana</em>" na ul. Górna Wilda.
 </li>
</ul>
