<p>Informujemy, że od piątku, 4 października 2024 r., z powodu remontu nawierzchni zatoki autobusowej, przystanek "Wieża RTV" w kierunku ul. Jaroczyńskiego (WRTV02) funkcjonować będzie w tymczasowej lokalizacji – przystanek będzie przesunięty o ok. 50 m w kierunku ul. Jaroczyńskiego.</p>
