<p>Informujemy, że od poniedziałku, 4 listopada do czwartku, 7 listopada 2024 r. włącznie trwać będzie kolejny etap prac na ulicy Biskupińskiej pomiędzy przejazdem kolejowym a ulicą Literacką. Odcinek ten będzie niedostępny dla autobusów, a w środę i czwartek, 6 i 7 listopada dodatkowo zamknięte będzie skrzyżowanie ulic Biskupińskiej i Literackiej (tylko w ciągu dnia). Spowoduje to zmiany w komunikacji autobusowej opisane poniżej:</p>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 146 – zmiana trasy:<br><u>Boranta</u>
    – Boranta – Naramowicka – Sarmacka – al. Praw Kobiet – Łużycka – Stoińskiego – Wiechowicza – Szeligowskiego – Szymanowskiego – Stróżyńskiego – bł. Marka z Aviano – Mateckiego – Obornicka – Szarych Szeregów – Strzeszyńska – Biskupińska –
    <em>
     <u>Strzeszyn PKM</u>
     – Zakopiańska – Kosowska –
    </em>
    Szarych Szeregów – Obornicka – Mateckiego – bł. Marka z Aviano – Stróżyńskiego – Szymanowskiego – Szeligowskiego – Wiechowicza – Stoińskiego – Łużycka – al. Praw Kobiet – Sarmacka – Naramowicka – Boranta –
    <u>Boranta</u>
    ,
   </li>
  </ul>
 </li>
</ul>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 160 – dodatkowa zmiana trasy w rejonie przejazdu kolejowego na ul. Biskupińskiej:<br><u>Garbary PKM</u>
    – Garbary – Małe Garbary – Solna – Nowowiejskiego – al. Wielkopolska – Nad Wierzbakiem – Wojska Polskiego
    <em>– Dojazd – Wrzoska Szpitale – Dojazd – Lutycka –</em>
    Podolańska
    <em>
     – Zakopiańska –
     <u>Strzeszyn PKM</u>
    </em>
    – Biskupińska – Strzeszyńska – Kosowska – Zakopiańska – Podolańska
    <em>– Lutycka – Dojazd – Wrzoska Szpitale – Dojazd –</em>
    Wojska Polskiego – Nad Wierzbakiem – al. Wielkopolska – Nowowiejskiego – Solna – Małe Garbary – Garbary –
    <u>Garbary PKM</u>
    ,
   </li>
  </ul>
 </li>
</ul>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 170 – zmiana trasy tylko w poniedziałek i wtorek, 4 i 5 listopada:<br><u>Rondo Solidarności</u>
    – Aleje Solidarności – Dojazd – Wrzoska Szpitale – Dojazd – Wojska Polskiego – Golęcińska – Koszalińska – Literacka –
    <u>Puszkina</u>
    <em>– Literacka – Biskupińska – Koszalińska – Żołnierzy Wyklętych – Wiencka –</em>
    Literacka – Koszalińska – Golęcińska – Wojska Polskiego – Dojazd – Wrzoska Szpitale – Dojazd – Aleje Solidarności –
    <u>Połabska</u>
    .<br><em>
     Na pętli Puszkina zatrzymanie na stałym przystanku. Przystanki "Literacka" funkcjonują w tymczasowych lokalizacjach – na ul. Literackiej między ulicami Wiencka a Poszwińskiego.
     <u>W środę i czwartek, 6 i 7 listopada 2024 r. autobusy kursują trasą stałą,</u>
    </em>
   </li>
  </ul>
 </li>
</ul>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 195 – ponowne uruchomienie na okres 4-7 listopada:<br><u>Ogrody</u>
    – Dąbrowskiego – Żeromskiego – Niestachowska – Wojska Polskiego – Golęcińska – Koszalińska
    <em>– Literacka – Poszwińskiego – Żołnierzy Wyklętych –</em>
    Koszalińska
    <em>
     – Biskupińska –
     <u>Instytut Technologiczno-Przyrodniczy</u>
    </em><br><em>
     <u>Instytut Technologiczno-Przyrodniczy</u>
     – Biskupińska
    </em>
    – Koszalińska
    <em>– Żołnierzy Wyklętych – Wiencka – Literacka –</em>
    Koszalińska – Golęcińska – Wojska Polskiego – Niestachowska – Żeromskiego – Przybyszewskiego – Szamarzewskiego – Szpitalna –
    <u>Ogrody</u>
   </li>
  </ul>
 </li>
</ul>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 216 – dodatkowa zmiana trasy w rejonie przejazdu kolejowego na ul. Biskupińskiej, obowiązuje w noce 4/5, 5/6 i 6/7 listopada:<br><u>Poznań Główny</u>
    – Dworcowa – rondo Kaponiera – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Witosa – Aleje Solidarności – Piątkowska – Juraszów – Lutycka – Podolańska
    <em>– Druskienicka –</em>
    Strzeszyńska – Biskupińska –
    <em>
     <u>Strzeszyn PKM</u>
     – Zakopiańska – Kosowska – Strzeszyńska – Druskienicka – Podolańska – Lutycka – Juraszów – Piątkowska – Aleje Solidarności –
    </em>
    Witosa – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – rondo Kaponiera – Dworcowa –
    <u>Poznań Główny</u>
    .<br><em>W noce 4/5, 5/6 i 6/7 listopada na linii 216 autobus kursować będzie co 120 minut, naprzemiennie z autobusem linii 226.</em>
   </li>
  </ul>
 </li>
</ul>
<ul>
 <li style="list-style-type: none">
  <ul>
   <li>
    Linia 226 – uruchomienie linii w noce 4/5, 5/6 i 6/7 listopada:<br><u>Poznań Główny</u>
    – Dworcowa – rondo Kaponiera – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Golęcińska – Koszalińska – Literacka –
    <u>Puszkina</u>
    <em>– Literacka – Biskupińska – Koszalińska – Żołnierzy Wyklętych – Wiencka – Literacka – Koszalińska – Golęcińska –</em>
    Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – rondo Kaponiera – Dworcowa –
    <u>Poznań Główny</u>
    .<br><em>Na pętli Puszkina zatrzymanie na stałym przystanku. Na linii 226 autobus kursować będzie co 120 minut, naprzemiennie z autobusem linii 216. Przystanki "Literacka" funkcjonują w tymczasowych lokalizacjach – na ul. Literackiej między ulicami Wiencka a Poszwińskiego.</em>
   </li>
  </ul>
 </li>
</ul>
<p>
 Na ulicy Literackiej przy skrzyżowaniach z ulicami Epicką i Poetycką funkcjonować będą tymczasowe przystanki dla linii
 <span style="color: #008000">170</span>
 i 226: "<em>Epicka</em>" (EPKA91) i "<em>Poetycka</em>" (POET91).
 <br/>
 Przystanki "<em>Szczawnicka 01</em>" i "<em>Szczawnicka 02</em>" zostały wyłączone z użytkowania. Przy ulicy Lutyckiej, przy skrzyżowaniu z ulicą Szczawnicką, utworzone zostały tymczasowe przystanki "<em>Szczawnicka 91</em>" i "<em>Szczawnicka 92</em>".
 <br/>
 Zmianie uległa lokalizacja przystanków "<em>Literacka 01 i 02</em>" – tymczasowe przystanki zlokalizowane są na ulicy Literackiej pomiędzy ulicami Poszwińskiego a Wiencka.
 <br/>
 Objazd w kierunku ulicy Literackiej poprowadzony jest ulicami Żołnierzy Wyklętych i Wiencka, natomiast w kierunku ulicy Literackiej objazd wiedzie ulicami Poszwińskiego i Żołnierzy Wyklętych.
 <br/>
 Na trasie objazdu utworzone są przystanki tymczasowe:
</p>
<ul>
 <li>
  "<em>Żołnierzy Wyklętych 92</em>" (ZOWY92) – na ul. Żołnierzy Wyklętych po skręcie z ulicy Koszalińskiej w kierunku ulicy Poszwińskiego,
 </li>
 <li>
  "<em>Wiencka 92</em>" (WIEN92) – na ul. Wiencka po skręcie z ulicy Żołnierzy Wyklętych w kierunku ulicy Literackiej,
 </li>
 <li>
  "<em>Dworzeckiego 92</em>" (DWGO92) – na ul. Wiencka przed skrętem w ulicę Literacką,
 </li>
 <li>
  "<em>Gruchmanowej 91</em>" (GRUC91) – na ul. Poszwińskiego po skręcie z ulicy Literackiej w kierunku ulicy Żołnierzy Wyklętych,
 </li>
 <li>
  "<em>Poszwińskiego 91</em>" (POSZ91) – na ul. Poszwińskiego przed skrętem w ulicę Żołnierzy Wyklętych.
 </li>
</ul>
<p>
 Przystanek "<em>Żołnierzy Wyklętych 02</em>" (ZOWY02) zlokalizowany na ulicy Koszalińskiej w kierunku ulicy Literackiej jest tymczasowo wyłączony z użytkowania.
 <br/>
 Ulica Podolańska na odcinku od ulicy Wojska Polskiego do wjazdu do Izby Wytrzeźwień, a także przystanki “
 <em>Podolańska</em>
 " (PDNZ01 i PDNZ02) są całkowicie wyłączone z użytkowania.
</p>
