<p>Informujemy, że od środy, 20 listopada br. na ul. Dąbrowskiego pomiędzy węzłami Most Teatralny a Rynek Jeżycki prowadzone będą prace budowlane. Spowoduje to wyłączenie z ruchu tramwajowego tego odcinka i zmiany w komunikacji tramwajowej:</p>
<ul>
 <li>
  Linia 8 – zmiana trasy:
  <br/>
  Miłostowo – Warszawska – rondo Śródka – Wyszyńskiego – Estkowskiego – Małe Garbary – pl. Wielkopolski – 23 Lutego – pl. Ratajskiego – Mielżyńskiego – Fredry – Most Teatralny – Roosevelta – rondo Kaponiera – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – Ogrody,
 </li>
 <li>
  Linia 18 – zmiana trasy:
  <br/>
  Franowo – Szwedzka – Piaśnicka – trasa kórnicka – Jana Pawła II – rondo Rataje – Królowej Jadwigi – Most Dworcowy – Roosevelta – Zwierzyniecka – Kraszewskiego –
  <br/>
  Dąbrowskiego – Ogrody.
 </li>
</ul>
<p>
 Tramwaje linii 18 nie będą obsługiwać przystanków na węźle "Rondo Kaponiera".
 <br/>
 Przystanki "Most Teatralny 72", "Rynek Jeżycki 73" i "Rynek Jeżycki 74" zlokalizowane na ul. Dąbrowskiego będą obsługiwane tylko przez autobusy.
</p>
