<p>Informujemy, że od środy, 1 stycznia 2025 r. obowiązywać będą następujące zmiany w zespołach przystankowych:</p>
<ul>
 <li>
  przystanek "<em>Ratajczaka</em>" (RATA72) w ciągu ulicy Święty Marcin zmieni nazwę na "<em>Święty Marcin</em>" (SWMN72),
 </li>
 <li>
  przystanek "<em>Ratajczaka</em>" (RATA71) w ciągu ulicy Ratajczaka zmieni nazwę na "<em>Biblioteka Uniwersytecka</em>" (BIUN71),
 </li>
 <li>
  przystanek "<em>27 Grudnia</em>" (GRUD71) w ciągu ulicy 27 Grudnia zmieni nazwę na "<em>27 Grudnia – Teatr Polski</em>" (GRUD71).
 </li>
</ul>
<p>
 W czwartek, 2 stycznia 2025 r. z uwagi na obserwowany brak pasażerów, likwidacji ulegnie para przystanków "<em>Gnieźnieńska I</em>" (GNNZ01 i GNNZ02), zlokalizowana przy ul. Gnieźnieńskiej między cmentarzem a ul. Bałtycką. Przystanki były obsługiwane przez autobusy linii
 <span style="color: #339966">173</span>
 i 227.
</p>
