<p>W sobotę, (9 listopada) nastąpi otwarcie ulicy Jasielskiej. Tego dnia linie autobusowe nr 183, 216 i 226 wrócą na swoje stałe trasy w tym rejonie. Przywrócone zostaje funkcjonowanie przystanków Jasielska natomiast przystanki Dukielska ulegają likwidacji.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Linia-nr-183.jpg">
  <img alt="" class="aligncenter size-full wp-image-5180" data-wp-editing="1" decoding="async" fetchpriority="high" height="450" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Linia-nr-183.jpg" width="600"/>
 </a>
</p>
