<p>W związku zakończonym remontem nawierzchni ulicy Słowiańskiej, od pierwszych kursów w piątek, 22 listopada, autobusy linii nr 174 i 190 kursować będą w kierunku osiedla Sobieskiego po stałych trasach. Przywrócone zostanie funkcjonowanie przystanków Wilczak oraz Wójtowska na ulicy Słowiańskiej w kierunku ulicy Murawa.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174-.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5258" decoding="async" fetchpriority="high" height="454" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174--600x454.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174--600x454.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174--1024x775.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174--768x582.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-174-.jpg 1512w" width="600"/>
 </a>
</p>
