<p>W związku z rozpoczęciem kolejnego etapu prac na ul. Poznańskiej w Dąbrówce od środy, 20 listopada autobusy linii nocnej nr 257 będą kursować zmienioną trasą w kierunku Junikowa.</p>
<p>Linia nr 257 (pogrubiono zmieniony fragment trasy):</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/257-2024.11.20.pdf">
  JUNIKOWO – … – Dąbrówka: Długa, Poznańska, droga serwisowa wzdłuż S11 – Gołuski: Szkolna, Dopiewska – Palędzie: Ojca Mariana Żelazka, Szkolna – … – DOPIEWO DWORZEC KOLEJOWY / CHOMĘCICE ŚRODKOWA
 </a>
</p>
<p>Na trasie objazdu autobusy zatrzymywać się będą na istniejących przystankach. W kierunku przeciwnym trasa bez zmian.</p>
<p>Linie dzienne w tym rejonie kursować będą po dotychczasowych trasach.</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257-.png">
  <img alt="Autobusowa linia nocna nr 257" class="aligncenter wp-image-5245 size-medium" decoding="async" fetchpriority="high" height="489" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--600x489.png" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--600x489.png 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--1024x835.png 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--768x626.png 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--1536x1253.png 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257-.png 1655w" width="600"/>
 </a>
</p>
