<p>Z okazji odbywającego się na terenach Międzynarodowych Targów Poznańskich oraz na placu Wolności "Poznańskiego Jarmarku Bożonarodzeniowego", od soboty (16 listopada) uruchomiona zostaje dodatkowa linia tramwajowa oznaczona numerem 24.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-scaled.jpg">
  <img alt="Linia tramwajowa nr 24" class="aligncenter wp-image-5221 size-medium" decoding="async" fetchpriority="high" height="399" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-600x399.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-600x399.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-1024x681.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-768x511.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-1536x1022.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/DSC_7912-2048x1363.jpg 2048w" width="600"/>
 </a>
</p>
<p>Linia nr 24:</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/24-2024.11.16.pdf">
  GÓRCZYN PKM – Głogowska – Roosevelta – rondo Kaponiera – Święty Marcin – ALEJE MARCINKOWSKIEGO – plac Wolności – 27 Grudnia – Gwarna – Święty Marcin – rondo Kaponiera – Roosevelta – Głogowska – GÓRCZYN PKM
 </a>
</p>
<p>Tramwaj linii 24 kursował będzie we wszystkie dni tygodnia w godz. 16:00 – 22:00 od soboty, 16 listopada do poniedziałku, 6 stycznia 2025 r. włącznie.</p>
