<p>W związku z koniecznością przeprowadzenia prac pielęgnacyjnych przy zieleni na trasie do pętli Piątkowska, w niedzielę (30 czerwca) od rana do ok. godz. 14:00 zmienionymi trasami będą kursowały tramwaje linii nr 9 i 97. "Dziewiątka" zostanie przekierowana na trasę PST, a "97" pojedzie do pętli Wilczak. Na czas prac, komunikację zamiast tramwajów zapewni specjalna linia autobusowa T11 z Piątkowskiej do Mostu Teatralnego.</p>
<p>Zmiany w dniu 30 czerwca (niedziela) od pierwszych kursów do ok. godz. 14:00 (wytłuszczono zmienione fragmenty tras):</p>
<div align="center">
 <table cellpadding="0" cellspacing="0">
  <tbody>
   <tr>
    <td width="50"><p align="center">9</p></td>
    <td width="516">OS. SOBIESKIEGO – Trasa PST – Roosevelta – Fredry – … – DĘBIEC PKM</td>
   </tr>
   <tr>
    <td width="50"><p align="center">97</p></td>
    <td width="516">
     OS. SOBIESKIEGO – … – Roosevelta – Pułaskiego – Winogrady – Przełajowa
     <br/>
     – WILCZAK
    </td>
   </tr>
   <tr>
    <td width="50"><p align="center">T11</p></td>
    <td width="516">
     <a href="https://www.ztm.poznan.pl/assets/Uploads/T11-2024.06.30.pdf">
      PIĄTKOWSKA – Piątkowska – Aleje Solidarności – Witosa – Wojska Polskiego
     </a><br><a href="https://www.ztm.poznan.pl/assets/Uploads/T11-2024.06.30.pdf">
      – Nad Wierzbakiem – al. Wielkopolska – Nowowiejskiego – al. Niepodległości
     </a><br><a href="https://www.ztm.poznan.pl/assets/Uploads/T11-2024.06.30.pdf">
      – Fredry – MOST TEATRALNY
     </a>
     MOST TEATRALNY – Roosevelta – Pułaskiego – al. Wielkopolska
     <br/>
     – … – PIĄTKOWSKA
     <p></p>
     <p>Kursowanie co 15 minut, linia będzie zsynchronizowana z linią nr 160</p>
    </td>
   </tr>
  </tbody>
 </table>
</div>
<p></p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <img alt="zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5" class="aligncenter size-medium wp-image-1092" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 450px) 100vw, 450px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5-450x600.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5-450x600.webp 450w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5-768x1024.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5-1152x1536.webp 1152w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-tramwaj-linii-nr-9-w-Poznaniu5.webp 1200w" width="450"/>
</p>
