<p>W związku z remontem ulicy Chartowo (wymiana nawierzchni) od 4 grudnia (środa) do 11 grudnia (środa) zmienionymi trasami pojadą autobusy linii nr 166, 184, 212 oraz 222.</p>
<p>Zmiany od 4 grudnia (środa):</p>
<table style="width: 75.5482%;">
 <tbody>
  <tr>
   <td style="width: 10.2076%;" width="55">Linia nr</td>
   <td style="width: 169.377%;" width="510">Przebieg trasy – pogrubiono zmienione fragmenty</td>
  </tr>
  <tr>
   <td style="width: 10.2076%;" width="55">166</td>
   <td style="width: 169.377%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/166-2024.12.04.pdf">
     ZIELINIEC – … – Szwajcarska – Aleksandrowicz – Piaseckiego – Wołynki – Dymka – Chartowo – Wiatraczna – … – RONDO RATAJE
    </a>
    <p></p>
    <p>Na trasie objazdu autobusy zatrzymywać się będą na wszystkich przystankach</p>
    <p>Powrót bez zmian (przez ul. Kurlandzką przy os. Zodiak)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.2076%;" width="55">184</td>
   <td style="width: 169.377%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/184-2024.12.04.pdf">
     NOWE ZOO/TERMY MALTAŃSKIE – … – Baraniaka – Chartowo – Kurlandzka – … – RONDO RATAJE
    </a>
    <p></p>
    <p>Powrót bez zmian</p>
   </td>
  </tr>
 </tbody>
</table>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo.png">
  <img alt="" class="aligncenter size-medium wp-image-5380" decoding="async" fetchpriority="high" height="371" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo-600x371.png" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo-600x371.png 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo-1024x632.png 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo-768x474.png 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/Chartowo.png 1224w" width="600"/>
 </a>
</p>
<table style="width: 75.0434%;">
 <tbody>
  <tr>
   <td style="width: 10.0346%;" width="54">212</td>
   <td style="width: 168.339%;" width="511">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/212222-2024.12.04.pdf">
     SZWAJCARSKA SZPITAL – Piaseckiego – Wołynki – Dymka – Chartowo – Piaśnicka – … – KACZA
    </a>
    <p></p>
    <p>Na trasie objazdu autobusy zatrzymywać się będą na wszystkich przystankach</p>
    <p>Powrót bez zmian (przez ul. Kurlandzką przy os. Zodiak)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.0346%;" width="54">222</td>
   <td style="width: 168.339%;" width="511">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/212222-2024.12.04.pdf">
     MOGILEŃSKA – … – Szwajcarska – Aleksandrowicz – Piaseckiego – Wołynki – Dymka – Chartowo – Piaśnicka – … – PORT LOTNICZY ŁAWICA
    </a>
    <p></p>
    <p>Na trasie objazdu autobusy zatrzymywać się będą na wszystkich przystankach</p>
    <p>Powrót bez zmian (przez ul. Kurlandzką przy os. Zodiak)</p>
   </td>
  </tr>
 </tbody>
</table>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5376" decoding="async" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/autobus-linii-nr-184-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
