<p>W związku z obchodami 68. rocznicy Poznańskiego Czerwca 1956, w piątek (28 czerwca), w godzinach od około 13:30 do około 15:30 linie nr 2, 9, 10 oraz 171 będą funkcjonowały ze zmianami.</p>
<p>W piątek, 28 czerwca, przy bramie głównej zakładów H. Cegielski-Poznań S.A. są zaplanowane uroczystości upamiętniające Poznański Czerwiec 1956. Tego dnia czasowo zmienionymi trasami pojada tramwaje linii numer 2, 9 i 10 oraz autobus linii nr 171.</p>
<p>Zmiany na liniach nr 2, 9,, 10 i 171 w dniu 28 czerwca (piątek), w godzinach od około 13:30 do około 15:30: (wytłuszczono zmienione fragmenty tras)</p>
<div align="center">
 <table cellpadding="0" cellspacing="0">
  <tbody>
   <tr>
    <td width="50"><p align="center">2</p></td>
    <td width="515">OGRODY – … – Górna Wilda – 28 Czerwca 1956 r. – Hetmańska – Unii Lubelskiej – UNII LUBELSKIEJ</td>
   </tr>
   <tr>
    <td width="50"><p align="center">9</p></td>
    <td width="515">
     PIĄTKOWSKA – … – Górna Wilda – 28 Czerwca 1956 r. – Hetmańska
     <br/>
     – GŁOGOWSKA/HETMAŃSKA
    </td>
   </tr>
   <tr>
    <td width="50"><p align="center">10</p></td>
    <td width="515">
     BŁAŻEJA – … – Wierzbięcice – 28 Czerwca 1956 r. – Hetmańska
     <br/>
     – GŁOGOWSKA/HETMAŃSKA
    </td>
   </tr>
   <tr>
    <td width="50"><p align="center">171</p></td>
    <td width="515">DĘBIEC PKM – 28 Czerwca 1956 r. – Łozowa – … – OS. WICHROWE WZGÓRZE</td>
   </tr>
  </tbody>
 </table>
</div>
<p></p>
<p>Tramwaje i autobusy zatrzymywać się będą na wszystkich przystankach na trasach objazdowych.</p>
<p>Za niedogodności przepraszamy pasażerów.</p>
<p>
 <img alt="linia-nr-10-Kaponiera-3" class="aligncenter size-medium wp-image-1088" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nr-10-Kaponiera-3-600x450.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nr-10-Kaponiera-3-600x450.webp 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nr-10-Kaponiera-3-1024x768.webp 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nr-10-Kaponiera-3-768x576.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nr-10-Kaponiera-3.webp 1200w" width="600"/>
</p>
