<p>
 <b>W piątek, 27 września, od godz. 14 na całą ulicę Kraszewskiego ma wrócić ruch kołowy. Na możliwość kursowania tam tramwaju trzeba będzie poczekać do czasu zamontowania słupa trakcyjnego i zdjętej wcześniej sieci.</b>
</p>
<p>Zakończyła się rozbiórka kamienicy przy ul. Kraszewskiego 8, gdzie w nocy z 24 na 25 sierpnia doszło do pożaru. Od tego czasu odcinek ul. Kraszewskiego między ulicami Słowackiego a Szamarzewskiego był zamknięty dla ruchu kołowego. Nie mogły również kursować tamtędy tramwaje linii nr 2 ani autobusy nr 164. Pojazdy komunikacji miejskiej poruszają się po zmienionych trasach.</p>
<p>Po południu w czwartek, 26 września, podjęto decyzję o dopuszczeniu ulicy do użytkowania. Po zabezpieczeniu terenu po zburzonej kamienicy od piątku, 27 września od godz. 14:00 przywrócony zostanie ruch samochodów w obu kierunkach. Autobusy linii nr 164 wrócą na Kraszewskiego wraz z otwarciem ul. Roosevelta. Obecnie służą one bowiem do dojazdu do centrum (w rejon mostu Teatralnego i ronda Kaponiera) osobom z rejonu Sołacza.</p>
<p>Na powrót tramwajów na ul. Kraszewskiego trzeba będzie poczekać do czasu zamontowania sieci trakcyjnej. Była ona przymocowana do budynków, w tym tego rozebranego. Teraz na chodniku po przeciwnej stronie ulicy będzie musiał stanąć słup.</p>
<p>Ruch pieszych będzie możliwy po obu stronach ul. Kraszewskiego, ale chodnik po stronie spalonej kamienicy będzie zwężony, a przechodnie poruszać się będą po dotychczasowych miejscach dla samochodów.</p>
<figure aria-describedby="caption-attachment-4800" class="wp-caption alignnone" id="attachment_4800" style="width: 1024px">
 <img alt="autobus na linii numer 164 na ulicy Kraszewskiego" class="size-large wp-image-4800" decoding="async" fetchpriority="high" height="527" sizes="(max-width: 1024px) 100vw, 1024px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-numer-164-na-ulicy-Kraszewskiego-1024x527.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-numer-164-na-ulicy-Kraszewskiego-1024x527.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-numer-164-na-ulicy-Kraszewskiego-600x309.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-numer-164-na-ulicy-Kraszewskiego-768x395.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-numer-164-na-ulicy-Kraszewskiego.jpg 1443w" width="1024"/>
 <figcaption class="wp-caption-text" id="caption-attachment-4800">Autobusy linii nr 164 wrócą na Kraszewskiego wraz z otwarciem ul. Roosevelta. Obecnie służą one bowiem do dojazdu do centrum (w rejon mostu Teatralnego i ronda Kaponiera) osobom z rejonu Sołacza.</figcaption>
</figure>
