<p>W związku z rozpoczęciem kolejnego etapu prac na ul. Poznańskiej w Dąbrówce od najbliższego wtorku (24 grudnia, Wigilia Bożego Narodzenia) autobusy linii nocnej numer 257 wrócą na swoją stałą trasę w obu kierunkach.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257-.png">
  <img alt="Autobusowa linia nocna nr 257" class="aligncenter size-medium wp-image-5245" decoding="async" fetchpriority="high" height="489" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--600x489.png" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--600x489.png 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--1024x835.png 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--768x626.png 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257--1536x1253.png 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/zdjecie-przedstawia-nocny-autobus-linii-nr-257-.png 1655w" width="600"/>
 </a>
</p>
