<p>W sobotę (7 września) rozpocznie się naprawa przejazdu torowego na skrzyżowaniu ulic Reymonta i Wyspiańskiego. Potrwają one przez dwa tygodnie, tj. do 20 września br. Zmienionym trasami pojadą tramwaje linii nr 1 i 7 oraz – w celu zapewnienia możliwości dojazdu w rejon Areny – linia autobusowa nr 182.</p>
<p>
 Szczegóły
 <a href="https://www.ztm.poznan.pl/aktualnosci/zmiany-komunikacja/remont-przejazdu-torowego-na-skrzyzowaniu-ulic-reymonta-i-wyspianskiego/">
  pod tym linkiem
 </a>
 .
</p>
