<p>W związku z trwającymi pracami budowlanymi od piątku (27 września) z użytkowania zostanie wyłączona ulica Szczawnicka. Tym samym autobusy linii nr 160, 183, 216 oraz 226 pojadą objazdem od ulicy Podolańskiej do ulicy Druskienickiej.</p>
<p>Zmiany od piątku 27 września (wytłuszczono zmienione fragmenty tras):</p>
<div class="table-responsive">
 <table cellpadding="0" cellspacing="0" class="table" style="width: 100%; height: 338px;">
  <tbody>
   <tr style="height: 48px;">
    <td rowspan="2" style="height: 96px;" valign="top">
     <p></p>
     <p>160</p>
    </td>
    <td style="height: 48px;" valign="top">
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/160-2024.09.27.pdf">
      GARBARY PKM – Garbary – Małe Garbary – Solna – Nowowiejskiego – al. Wielkopolska – Nad Wierzbakiem – Wojska Polskiego – Dojazd – Lutycka – Podolańska – Druskienicka – Zakopiańska – Kosowska – Strzeszyńska – Biskupińska – STARY STRZESZYN
     </a>
    </td>
   </tr>
   <tr style="height: 48px;">
    <td style="height: 48px;" valign="top">STARY STRZESZYN – Strzeszyńska – Kosowska – Zakopiańska – Druskienicka – Podolańska – Lutycka – Dojazd – Wojska Polskiego – Nad Wierzbakiem – al. Wielkopolska – Nowowiejskiego – Solna – Garbary – GARBARY PKM</td>
   </tr>
   <tr style="height: 48px;">
    <td rowspan="2" style="height: 98px;" valign="top">
     <p></p>
     <p>183</p>
    </td>
    <td style="height: 50px;" valign="top">
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/183-2024.09.27.pdf">
      SZARYCH SZEREGÓW – Szarych Szeregów – Strzeszyńska – Jasielska – Druskienicka – Podolańska – Lutycka – Dojazd – Aleje Solidarności – Serbska – Prymasa Hlonda – Podwale – Jana Pawła II – RONDO ŚRÓDKA
     </a>
    </td>
   </tr>
   <tr style="height: 48px;">
    <td style="height: 48px;" valign="top">RONDO ŚRÓDKA – Podwale – Prymasa Hlonda – Bałtycka – Serbska – Aleje Solidarności – Dojazd – Lutycka – Podolańska – Druskienicka – Jasielska – Strzeszyńska – Szarych Szeregów – SZARYCH SZEREGÓW</td>
   </tr>
   <tr style="height: 72px;">
    <td style="height: 72px;" valign="top">216</td>
    <td style="height: 72px;" valign="top">
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/216226-2024.09.27.pdf">
      POZNAŃ GŁÓWNY – Dworcowa – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Witosa – Aleje Solidarności – Piątkowska – Juraszów – Lutycka – Podolańska – Druskienicka – Jasielska – Strzeszyńska – Biskupińska – Koszalińska – Wiencka – Literacka – Koszalińska – Golęcińska – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY
     </a>
    </td>
   </tr>
   <tr style="height: 72px;">
    <td rowspan="2" style="height: 72px;" valign="top">226</td>
    <td style="height: 72px;" valign="top">
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/216226-2024.09.27.pdf">
      POZNAŃ GŁÓWNY – Dworcowa – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Golęcińska – Koszalińska – Literacka – Poszwińskiego – Koszalińska – Biskupińska – Strzeszyńska – Jasielska – Druskienicka – Podolańska – Lutycka – Juraszów – Piątkowska – Aleje Solidarności – Witosa – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY
     </a>
    </td>
   </tr>
  </tbody>
 </table>
</div>
<p>Na trasie objazdu utworzone zostały przystanki tymczasowe:</p>
<ul>
 <li>Szczawnicka – na ulicy Lutyckiej przy skrzyżowaniu z ulicą Szczawnicką (w obu kierunkach)</li>
</ul>
<p>Z użytkowania zostają wyłączone przystanki:</p>
<ul>
 <li>Szczawnicka na ulicy Szczawnickiej (w obu kierunkach)</li>
</ul>
<p>Więcej na ten temat także na :</p>
<p>
 <a href="https://pim.poznan.pl/aktualnosci/informacje-biezace/zmiany-w-organizacji-ruchu-w-rejonie-ul-szczawnickiej-i-podolanskiej">
  https://pim.poznan.pl/aktualnosci/informacje-biezace/zmiany-w-organizacji-ruchu-w-rejonie-ul-szczawnickiej-i-podolanskiej
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <img alt="Autobus na linii nr 160 na ulicy Wojska Polskiego" class="aligncenter wp-image-4612 size-medium" decoding="async" fetchpriority="high" height="429" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego-600x429.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego-600x429.webp 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego-1024x733.webp 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego-768x550.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego-1536x1099.webp 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-160-na-ulicy-Wojska-Polskiego.webp 1920w" width="600"/>
</p>
