<p>W związku z prowadzonymi pracami na ulicy Jasielskiej od poniedziałku (21 października) do odwołania, zmianie ulegnie trasa linii autobusowych nr 183 oraz 216 i 226.</p>
<p>Zmiany od poniedziałku (21 października) – pogrubiono zmieniony fragment trasy:</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/183-2024.10.21.pdf">
  Linia 183
 </a>
</p>
<p>SZARYCH SZEREGÓW – Szarych Szeregów – Strzeszyńska – Druskienicka – Podolańska – Lutycka – Dojazd – Aleje Solidarności – Serbska – Hlonda – Podwale – RONDO ŚRÓDKA</p>
<p>RONDO ŚRÓDKA – RONDO ŚRÓDKA – Podwale – Hlonda – Bałtycka – Serbska – Aleje Solidarności – Dojazd – Lutycka – Podolańska – Druskienicka – Strzeszyńska – Szarych Szeregów – SZARYCH SZEREGÓW</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/216226-2024.10.21.pdf">
  Linia 216
 </a>
</p>
<p>POZNAŃ GŁÓWNY – Dworcowa – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Witosa – Aleje Solidarności – Piątkowska – Juraszów – Lutycka – Podolańska – Druskienicka – Strzeszyńska – Biskupińska – Koszalińska – Wiencka – Literacka – Koszalińska – Golęcińska – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/216226-2024.10.21.pdf">
  Linia 226
 </a>
</p>
<p>POZNAŃ GŁÓWNY – Dworcowa – Roosevelta – Dąbrowskiego – Kościelna – Nad Wierzbakiem – Wojska Polskiego – Golęcińska – Koszalińska – Literacka – Poszwińskiego – Koszalińska – Biskupińska – Strzeszyńska – Druskienicka – Podolańska – Lutycka – Juraszów – Piątkowska – Aleje Solidarności – Witosa – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY</p>
<p>Wyłączone z użytkowania będą następujące przystanki:</p>
<p>– Jasielska (NŻ), Strzeszyńska Lisner – przystanki w obu kierunkach oraz Instytut Genetyki (NŻ) w kierunku ulicy Jasielskiej.</p>
<p>Na trasie objazdu zostanie utworzony przystanek tymczasowy Dukielska zlokalizowany na ulicy Druskienickiej.</p>
<figure aria-describedby="caption-attachment-4973" class="wp-caption aligncenter" id="attachment_4973" style="width: 600px">
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-183.jpg">
  <img alt="Autobus linii nr 183" class="wp-image-4973 size-full" decoding="async" fetchpriority="high" height="450" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-183.jpg" width="600"/>
 </a>
 <figcaption class="wp-caption-text" id="caption-attachment-4973">Od poniedziałku (21 października) do odwołania, zmianie ulegnie trasa linii autobusowych nr 183 oraz 216 i 226.</figcaption>
</figure>
<p>Za utrudnienia przepraszamy.</p>
