<p>
 Od soboty, 28 września, tramwaje od pierwszych kursów znów będą jeździć ulicą Roosevelta.
 <br/>
</p>
<p>Powiatowy Inspektor Nadzoru Budowlanego zdecydował, że obie jezdnie ulicy Roosevelta mogą być dostępne dla pojazdów. W sobotę, od pierwszych kursów tramwaje wrócą na ulicę Roosevelta, a autobusy linii nr 164 znów pojadą ulicą Kraszewskiego.</p>
<p>Na swoje stałe trasy powrócą wtedy tramwaje linii numer: 3, 7, 9, 10, 11, 15, 16 i nocnej nr 202,  nie będzie już kursować tramwaj na wahadłowej linii nr  93, natomiast od poniedziałku (30 września) przywrócone zostanie również funkcjonowanie linii tramwajowej nr 19.</p>
<p>Tego samego dnia (od soboty, 28 września.) na swoje trasy wrócą także autobusy linii numer 169, 171 i 183. Linia autobusowa "za tramwaj" T3 zostanie zlikwidowana.</p>
<p>Od nocy z soboty na niedzielę (z 28 na 29 września) na trasę przez ulicę Roosevelta w kierunku ronda Kaponiera wrócą autobusy linii nocnych numer 213, 214, 215, 218, 223, 224.</p>
<p>Od poniedziałku, 30 września, autobusy linii nr 176 nie będą jeździć do przystanku Serbska. Dodatkowo na linii nr 171 nie będzie kursu w dni robocze i soboty o godz. 4.50 z Os. Wichrowego do Os. Dębina (autobus będzie jeździł od przystanku Libelta do Os. Dębina) oraz na linii nr 174 z przystanku Wilczak do Unii Lubelskiej w dni robocze o godz. 4.57,  w soboty o 4.59 i w święta o 6.00 (kursy realizowane będą od przystanku Małe Garbary).</p>
<p>Zgodnie z wcześniejszymi zapowiedziami, wraz z otwarciem dla tramwajów ulicy Roosevelta na ulicę Kraszewskiego wrócą autobusy linii nr 164 oraz nocnych linii nr 219 i 258 (dotyczy to również linii turystycznych nr 100 oraz 102).  Natomiast na powrót tramwajów na ul. Kraszewskiego trzeba będzie poczekać do czasu montażu słupa i sieci trakcyjnej.</p>
<p>
 Więcej o sytuacji na ulicy Roosevelta  można przeczytać na:
 <a href="http://www.poznan.pl">
  www.poznan.pl
 </a>
</p>
<figure aria-describedby="caption-attachment-4819" class="wp-caption aligncenter" id="attachment_4819" style="width: 600px">
 <img alt="Tramwaje na ulicy Roosevelta w Poznaniu" class="size-medium wp-image-4819" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-11-Most-Teatralny.jpg 2016w" width="600"/>
 <figcaption class="wp-caption-text" id="caption-attachment-4819">Tramwaje wracają na ulicę Roosevelta w Poznaniu</figcaption>
</figure>
