<p>W związku z prowadzonymi pracami torowymi na pętli Ogrody oraz w rejonie przystanków tramwajowo-autobusowych Żeromskiego, od 16 do 18 listopada (sobota – poniedziałek) nastąpią zmiany w funkcjonowaniu komunikacji w tym rejonie. Zmianie ulegną trasy linii tramwajowych nr 2, 7, 8 i 18 – tramwaje nie będą dojeżdżać do pętli Ogrody. Zmienionymi trasami pojadą także autobusy części linii, których trasa przebiega w rejonie Ogrodów (nr 182, 191, 193, 835, 836 i 837).</p>
<p>Zmiany w dniach 16-18 listopada (tłustym drukiem zaznaczono zmieniony przebieg tras)</p>
<p>Linia nr 2</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/2-2024.11.16.pdf">
  DĘBIEC PKM – … – Święty Marcin – Zwierzyniecka – Kraszewskiego – Dąbrowskiego –ŻEROMSKIEGO (przystanek tymczasowy na ul. Dąbrowskiego) – Przybyszewskiego –Grunwaldzka – Roosevelta – Święty Marcin – … – DĘBIEC PKM
 </a>
</p>
<p>Linia nr 7</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/7-2024.11.16.pdf">
  POŁABSKA – … – Reymonta – Grunwaldzka – BUDZISZYŃSKA
 </a>
</p>
<p>Linia nr 8</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/8-2024.11.16.pdf">
  MIŁOSTOWO – … – Most Teatralny – Dąbrowskiego – ŻEROMSKIEGO (przystanek tymczasowy na Dąbrowskiego) – Przybyszewskiego – Grunwaldzka – Roosevelta – Most Teatralny – … – MIŁOSTOWO
 </a>
</p>
<p>Linia nr 18</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/18-2024.11.16.pdf">
  FRANOWO – … – Most Dworcowy – Roosevelta – Grunwaldzka – Przybyszewskiego –ŻEROMSKIEGO (przystanek tymczasowy na Dąbrowskiego) – Dąbrowskiego – Roosevelta – most Dworcowy – … – FRANOWO
 </a>
</p>
<p>16 listopada (sobota) do godzin popołudniowych zmienione zostaną trasy linii autobusowych nr 182, 191, 193, 835, 836 i 837.</p>
<p></p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002.png">
  <img alt="Ogrody - zmiany tras linii autobusowych" class="aligncenter wp-image-5211 size-medium" decoding="async" fetchpriority="high" height="363" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-600x363.png" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-600x363.png 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-1024x620.png 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-768x465.png 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-1536x930.png 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Ogrody-podwieszka-II-002-2048x1240.png 2048w" width="600"/>
 </a>
</p>
<p>Linia nr 182 (objazd tylko w kierunku Winograd)</p>
<p>GÓRCZYN PKM – … – Grochowska – Szpitalna (przystanek Ogrody po stronie pętli tramwajowej) nawrót na skrzyżowaniu z ul. Dąbrowskiego – Szpitalna – Szamarzewskiego – Przybyszewskiego – Żeromskiego – … – OS. WICHROWE WZGÓRZE</p>
<p>Powrót po stałej trasie bez wjazdu na przystanek tramwajowo-autobusowy Żeromskiego, z zatrzymaniem na przystanku tymczasowym na ul. Dąbrowskiego za ul. Wilkońskich</p>
<p>Linia nr 191 (objazd tylko w kierunku Piątkowa)</p>
<p>KOPERNIKA – … – Bukowska – Szpitalna (przystanek Ogrody po stronie pętli tramwajowej) nawrót na skrzyżowaniu z Dąbrowskiego – Szpitalna – Szamarzewskiego – Przybyszewskiego – Żeromskiego – … – OS. SOBIESKIEGO</p>
<p>Powrót po stałej trasie bez wjazdu na przystanek tramwajowo-autobusowy Żeromskiego, z zatrzymaniem na przystanku tymczasowym na ul. Dąbrowskiego za ul. Wilkońskich</p>
<p>Linia nr 193 (objazd tylko w kierunku Piątkowa)</p>
<p>GÓRCZYN PKM – … – Bukowska – Szpitalna (przystanek Ogrody po stronie pętli tramwajowej) nawrót na skrzyżowaniu z Dąbrowskiego – Szpitalna – Szamarzewskiego –Przybyszewskiego – Żeromskiego – … – OS. SOBIESKIEGO</p>
<p>Powrót po stałej trasie bez wjazdu na przystanek tramwajowo-autobusowy Żeromskiego, z zatrzymaniem na przystanku tymczasowym na ul. Dąbrowskiego za ul. Wilkońskich</p>
<p>Linie nr 835, 836, 837 – w kierunku Ogrodów trasa bez zmian, z przystankiem końcowym Ogrody na ul. Szpitalnej. Powrót ulicami: Szpitalna – Szamarzewskiego – Przybyszewskiego – Żeromskiego.</p>
<p>Uwaga! Od 16 listopada do odwołania autobusy linii nr 182, 191, 193, 835, 836, 837, 219 i 258 nie będą zatrzymywały się na przystankach tramwajowo-autobusowych Żeromskiego.</p>
<p>– autobusy jadące w kierunku Ogrodów (nr 182, 191, 193, 219 i 258) zatrzymywać się będą na tymczasowym przystanku na ul. Dąbrowskiego za ul. Wilkońskich,</p>
<p>– autobusy jadące w kierunku centrum (nr 219 i 258) zatrzymywać się będą na tymczasowym przystanku na ul Dąbrowskiego przed ul. Długosza,</p>
<p>–  autobusy jadące w kierunku Sołacza i Piątkowa (nr 182, 191, 193, 835, 836 i 837) zatrzymywać się będą na stałym przystanku na ul. Żeromskiego.</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-scaled.jpg">
  <img alt="Tramwaj na Moście Teatralnym" class="aligncenter wp-image-5205 size-medium" decoding="async" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/Tramwaj-Most-Teatralny-2-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
