<p>Po ponad dwóch miesiącach od sierpniowej tragedii w kamienicy przy ulicy Kraszewskiego, 10 listopada znów tą ulicą pojadą tramwaje linii numer 2. Zanim to jednak nastąpi, trzeba zamontować sieć trakcyjną, a następnie wykonać konieczne prace przyłączeniowe. Wymusi to zmiany w komunikacji na liniach autobusowych nr 164, 219 i 258 od 5 do 8 listopada oraz na liniach tramwajowych nr 2, 8 i 18 w dniach 6 i 7 listopada. W tych dniach ulica będzie też zamknięta dla samochodów.</p>
<p>Aktualizacja: (8.11.24): tramwaje wrócą na ulicę Kraszewskiego już 10 listopada.</p>
<p>Linie nr 164 oraz 219 i 258 – zmiana trasy przejazdu od wtorku do piątku (5-8  listopada)</p>
<p>Od 5 do 8 listopada (wtorek-piątek) prowadzone będą prace przy montażu sieci trakcyjnej na ulicy Kraszewskiego. Zmieniona zostanie trasa linii nr 164 oraz linii nocnych nr 219 i 258 (od nocy z 4 na 5 do nocy z 8 na 9 listopada). Poniżej wytłuszczonym drukiem zaznaczono zmienione odcinki przejazdu.</p>
<p>Linia 164</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/164-2024.11.05.pdf">
  KACZA – … – Matejki – Szylinga – Bukowska – Zeylanda – Zwierzyniecka – Roosevelta – Dąbrowskiego – Kościelna – … – PUSZKINA
 </a>
</p>
<p>Powrót:</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/164-2024.11.05.pdf">
  PUSZKINA – … – Kościelna – Dąbrowskiego – Roosevelta – Zwierzyniecka – Kraszewskiego – … – KACZA
 </a>
</p>
<p>Linie nr 219 i 258 kursować będą ulicami Dąbrowskiego i Roosevelta.</p>
<p>Linia nr 219</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/219-2024.08.25.pdf">
  WICHROWA – Dąbrowskiego – Polska – Nowina – Szpitalna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY
 </a>
</p>
<p>Linia nr 258</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/258-2024.08.25.pdf">
  TARNOWO PDG CENTRUM – … – Dąbrowskiego – Polska – Nowina – Szpitalna – Dąbrowskiego – Roosevelta – Dworcowa – POZNAŃ GŁÓWNY
 </a>
</p>
<p>Linie nr 2, 8 i 18 – zmiana trasy przejazdu 6 i 7 listopada</p>
<p>6 i 7 listopada (środa-czwartek) prowadzone będą prace sieciowe i przyłączeniowe w rejonie rynku Jeżyckiego. Zmieniona zostanie trasa linii nr 2, 8 i 18. Poniżej wytłuszczonym drukiem zaznaczono zmienione odcinki przejazdu.</p>
<p>Linia nr 2</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/2-2024.11.06.pdf">
  DĘBIEC PKM – … – Św. Marcin – Zwierzyniecka – STARE ZOO
 </a>
</p>
<p>Linia nr 8</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/8-2024.11.06.pdf">
  MIŁOSTOWO – … – Most Teatralny – Roosevelta – Grunwaldzka – Przybyszewskiego – Dąbrowskiego – OGRODY
 </a>
</p>
<p>Linia nr 18</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/18-2024.11.06.pdf">
  FRANOWO – … – Most Dworcowy – Roosevelta – Grunwaldzka – Przybyszewskiego – Dąbrowskiego – OGRODY
 </a>
</p>
<p>Na ul. Dąbrowskiego, na odcinku od Rynku Jeżyckiego do Mostu Teatralnego funkcję komunikacji zastępczej będzie pełnić linia autobusowa nr 164, na której od 5 do 8 listopada autobusy będą kursować objazdem.</p>
<p>Dodatkowo w dniach 6-7 listopada uruchomiona zostanie linia "za tramwaj" T2:</p>
<p>Linia T2</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/T2-2024.11.06.pdf">
  RONDO KAPONIERA – Zwierzyniecka – Roosevelta – Dąbrowskiego – Szpitalna – Nowina – Polska – Dąbrowskiego – Roosevelta – RONDO KAPONIERA
 </a>
</p>
<p>Kursy w godz. szczytu odbywać się będą co 10 minut, natomiast do godz. 6:30 i po godz. 18:00 co 15 minut.</p>
<p>10 listopada – na ulicę Kraszewskiego wracają tramwaje linii nr 2</p>
<p>W świąteczny poniedziałek 11 listopada otwarta dla ruchu tramwajowego zostanie ul. Kraszewskiego. Od pierwszych kursów na swoją stałą trasę wróci linia tramwajowa nr 2.</p>
<p>Linia nr 2</p>
<p>DĘBIEC PKM – … – Św. Marcin – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – OGRODY</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-scaled.jpg">
  <img alt="TRAMWAJ LINII NR 2" class="aligncenter size-medium wp-image-5113" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/tramwaj-linii-nr-2-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
