<p>W związku z koniecznością przeprowadzenia przeglądów technicznych stacji prostownikowych w noce z 24 na 25 września (wtorek/środa), z 25 na 26 września (środa/czwartek), z 26 na 27 września (czwartek/piątek) oraz z 1 na 2 października (wtorek/środa), z 2 na 3 października (środa/czwartek) i z 3 na 4 października (czwartek/piątek) wprowadzone zostaną zmiany w komunikacji nocnej.</p>
<p>Zmiany w komunikacji nocnej na liniach nr 201, 203 oraz 218 (wytłuszczono zmienione fragmenty tras):</p>
<p>Linia nr 201 – zawieszona</p>
<p>Linia nr 203 – OS. SOBIESKIEGO – Trasa PST – DWORZEC ZACHODNI</p>
<p>Linia nr 218 – OS. SOBIESKIEGO – … – Inflancka – Żegrze – Chartowo – Piaśnicka – Kurlandzka – Szwajcarska – FRANOWO</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <img alt="autobus na linii nr 218" class="aligncenter wp-image-4618 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218-600x400.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218-600x400.webp 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218-1024x683.webp 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218-768x512.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218-1536x1024.webp 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/09/autobus-na-linii-nr-218.webp 1920w" width="600"/>
</p>
