<p>W poniedziałek – 11 listopada, w związku z Imieninami ulicy Święty Marcin oraz Biegiem Niepodległości, w Poznaniu wprowadzone będą czasowe zmiany w funkcjonowaniu linii tramwajowych i autobusowych oraz organizacji ruchu. Ponadto w celu ułatwienia dojazdu do centrum uruchomione zostaną dodatkowe linie tramwajowe nr 51, 52, 53, 54, 55 i 56 oraz autobusowe nr 112 i 113.</p>
<table style="width: 65.5932%;">
 <tbody>
  <tr>
   <td style="width: 10.8247%;" width="58">Linia nr</td>
   <td style="width: 155.498%;" width="507">Trasa przejazdu (pogrubiono zmienione fragmenty tras)</td>
  </tr>
  <tr>
   <td colspan="2" style="width: 166.323%;" width="566">Linie tramwajowe</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">1</td>
   <td style="width: 155.498%;" width="507">FRANOWO – … – Hetmańska – Głogowska – trasa PST – OS. SOBIESKIEGO, (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">2</td>
   <td style="width: 155.498%;" width="507">OGRODY – … – Zwierzyniecka – Roosevelta – Matyi – Wierzbięcice – 28 Czerwca 1956 – DĘBIEC PKM (zmiana trasy obowiązuje przez cały dzień)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">3</td>
   <td style="width: 155.498%;" width="507">UNII LUBELSKIEJ – … – trasa Kórnicka – Jana Pawła II – Wyszyńskiego – Estkowskiego – Małe Garbary – pl. Wielkopolski – pl. Ratajskiego – Fredry – Pułaskiego – … – BŁAŻEJA (zmiana trasy obowiązuje przez cały dzień)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">5</td>
   <td style="width: 155.498%;" width="507">
    GÓRCZYN PKM – Głogowska – Roosevelta – Fredry – pl. Ratajskiego –
    <br/>
    pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Podwale – ZAWADY (zmiana trasy obowiązuje przez cały dzień)
   </td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">6</td>
   <td style="width: 155.498%;" width="507">
    MIŁOSTOWO – … – Matyi – Roosevelta – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – Przybyszewskiego – Grunwaldzka – BUDZISZYŃSKA (od pierwszych kursów do ok. godz.  15:30)
    <p></p>
    <p>MIŁOSTOWO – … – Matyi – Roosevelta – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – OGRODY (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
    <p>Kursowanie co 10 minut w godz. 11:00 – 20:00</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">7</td>
   <td style="width: 155.498%;" width="507">OGRODY – Dąbrowskiego – Roosevelta – Głogowska – Hetmańska – … – POŁABSKA (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">9</td>
   <td style="width: 155.498%;" width="507">PIĄTKOWSKA – … – Fredry – pl. Ratajskiego – PL. WIELKOPOLSKI (zmiana trasy obowiązuje przez cały dzień)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">13</td>
   <td style="width: 155.498%;" width="507">
    JUNIKOWO – Grunwaldzka – Reymonta – Hetmańska – Głogowska – Roosevelta – Fredry – pl. Ratajskiego – pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Podwale – ZAWADY (od pierwszych kursów do godz. ok. 15:30)
    <p></p>
    <p>Linia zawieszona – na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00;</p>
    <p>JUNIKOWO – Grunwaldzka – Roosevelta – Fredry – pl. Ratajskiego – pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Podwale – ZAWADY (zmiana trasy obowiązuje od godz. ok. 15:30 do końca dnia)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">14</td>
   <td style="width: 155.498%;" width="507">W niedzielę (10 listopada) nie będą wykonywane dodatkowe kursy wieczorne w relacji Dworzec Zachodni – Os. Sobieskiego, natomiast 11 listopada kursy odbywać się będą się bez zmian</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">15</td>
   <td style="width: 155.498%;" width="507">
    JUNIKOWO – Grunwaldzka – Reymonta – Hetmańska – Głogowska – Roosevelta – trasa PST – OS. SOBIESKIEGO (od pierwszych kursów do godz. ok. 10:00 i w godz. od ok. 14:00 do ok. 15:30)
    <p></p>
    <p>Linia zawieszona (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">16</td>
   <td style="width: 155.498%;" width="507">OS. SOBIESKIEGO – trasa PST – Roosevelta – Fredry – pl. Ratajskiego – pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Jana Pawła II – trasa Kórnicka – … – FRANOWO (zmiana trasy obowiązuje przez cały dzień)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">17</td>
   <td style="width: 155.498%;" width="507">
    STAROŁĘKA PKM – … – pl. Ratajskiego – Fredry – Roosevelta – Głogowska –
    <br/>
    GÓRCZYN PKM
   </td>
  </tr>
  <tr>
   <td colspan="2" style="width: 166.323%;" width="566">Dodatkowe linie tramwajowe – 11 listopada (poniedziałek)</td>
  </tr>
  <tr>
   <td style="width: 10.8247%;" width="58">51</td>
   <td style="width: 155.498%;" width="507">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/51-2024.11.11.pdf">
     BŁAŻEJA – al. Praw Kobiet – Naramowicka – Przełajowa – Winogrady – Pułaskiego – Roosevelta – Fredry – pl. Ratajskiego – PL. WIELKOPOLSKI
    </a>
    <p></p>
    <p>Kursy  co 20 minut w godz. 11:00 – 20:00</p>
   </td>
  </tr>
 </tbody>
</table>
<table style="width: 65.866%;">
 <tbody>
  <tr>
   <td style="width: 10.1375%;" width="55">52</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/52-2024.11.11.pdf">
     DĘBIEC PKM – 28 Czerwca 1956 – Górna Wilda – Królowej Jadwigi – Strzelecka – Podgórna – AL. MARCINKOWSKIEGO
    </a>
    (kursowanie linii przez cały dzień)
    <p></p>
    <p>Kursy   co 10 minut w godz. 11:00 – 20:00</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">53</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/53-2024.11.11.pdf">
     STAROŁĘKA PKM – Starołęcka – Zamenhofa – Jana Pawła II – Kórnicka – Mostowa – pl. Bernardyński – Podgórna – AL. MARCINKOWSKIEGO
    </a><br>(kursy  przez cały dzień)
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">54</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/54-2024.11.11.pdf">
     OS. SOBIESKIEGO – trasa PST – Roosevelta – Fredry – pl. Ratajskiego –
    </a>
    PL. WIELKOPOLSKI
    <p></p>
    <p>Kursy  co 20 minut w godz. 11:00 – 20:00</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">55</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/55-2024.11.11.pdf">
     RONDO NOWAKA-JEZIORAŃSKIEGO – Grunwaldzka – GROTKOWSKA
    </a>
    <p></p>
    <p>Linia wahadłowa, kursy co ok. 15 min (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">56</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/56-2024.11.11.pdf">
     FRANOWO – Szwajcarska – Szwedzka – Piaśnicka – Trasa Kórnicka – Kórnicka – Mostowa – pl. Bernardyński – Podgórna – AL. MARCINKOWSKIEGO
    </a>
    (kursy  przez cały dzień)
   </td>
  </tr>
  <tr>
   <td colspan="2" style="width: 167.406%;" width="566">Linie autobusowe</td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">122</td>
   <td style="width: 157.269%;" width="510">Linia zawieszona (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">145</td>
   <td style="width: 157.269%;" width="510">
    KACZA – Mrągowska – Jawornicka – Promienista – Grochowska – Reymonta – Wyspiańskiego – Głogowska – DWORZEC ZACHODNI
    <p></p>
    <p>(tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/163-2024.11.11.pdf">
     163
    </a>
   </td>
   <td style="width: 157.269%;" width="510">
    GÓRCZYN PKM – … – Bukowska – Roosevelta – Libelta – al. Niepodległości – … – GARBARY PKM
    <p></p>
    <p>(zmiana od niedzieli – 10 listopada od godz. 20:00 do wtorku – 12 listopada do godz. 6:00)</p>
    <p>GARBARY PKM – … – Solna – al. Niepodległości – Libelta – Roosevelta – Bukowska – Grochowska – Marcelińska – Wałbrzyska – Ptasia – MARSZAŁKOWSKA</p>
    <p>MARSZAŁKOWSKA – Bułgarska – Marcelińska – … – Bukowska – Roosevelta – Libelta – al. Niepodległości – … – GARBARY PKM</p>
    <p>(zmiana tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">164</td>
   <td style="width: 157.269%;" width="510">KACZA – … – Matejki – Wyspiańskiego – Głogowska – Roosevelta – Zwierzyniecka – Kraszewskiego – … – PUSZKINA (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">168</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/168-2024.11.11.pdf">
     POZNAŃ GŁÓWNY – Dworcowa – Święty Marcin – Roosevelta – Libelta – al. Niepodległości – … – STRZESZYN PKM
    </a>
    (zmiana od niedzieli – 10 listopada od godz. 20:00 do wtorku – 12 listopada do godz. 6:00)
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/169-2024.11.11.pdf">
     169
    </a>
   </td>
   <td style="width: 157.269%;" width="510">
    OS. KOPERNIKA – … – Bukowska – Roosevelta – Libelta – al. Niepodległości – … – OS. SOBIESKIEGO (zmiana od niedzieli – 10 listopada od godz. 20:00 do wtorku – 12 listopada do godz. 6:00)
    <p></p>
    <p>OS. SOBIESKIEGO – … – Przybyszewskiego – Marcelińska – Bułgarska – Bukowska – KOLOROWAKOLOROWA – Łubieńskiej – Bułgarska – Marcelińska – Przybyszewskiego – … – OS. SOBIESKIEGO</p>
    <p>(zmiana tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">171</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/171-2024.11.11.pdf">
     OS. DĘBINA – … – al. Króla Przemysła II – Matyi – Roosevelta – Libelta – al. Niepodległości – … – OS. WICHROWE WZGÓRZE
    </a>
    (zmiana od niedzieli – 10 listopada od godz. 20:00 do wtorku – 12 listopada do godz. 6:00)
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">182</td>
   <td style="width: 157.269%;" width="510">
    OS. WICHROWE WZGÓRZE – … – Grochowska – Marcelińska – Bułgarska – Bukowska – KOLOROWA
    <p></p>
    <p>KOLOROWA – Łubieńskiej – Bułgarska – Marcelińska – Grochowska – … – OS. WICHROWE WZGÓRZE</p>
    <p>(tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">
    191
    <p></p>
    <p>193</p>
   </td>
   <td style="width: 157.269%;" width="510">
    OS. SOBIESKIEGO – … – Bułgarska – Marcelińska – Wałbrzyska – Ptasia – MARSZAŁKOWSKA
    <p></p>
    <p>MARSZAŁKOWSKA – Bułgarska – … – OS. SOBIESKIEGO</p>
    <p>(tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td colspan="2" style="width: 167.406%;" width="566">Dodatkowe linie autobusowe</td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">112</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/112-2024.11.11.pdf">
     GÓRCZYN PKM – Zgoda – Ściegiennego – Arciszewskiego – Reymonta – Chociszewskiego – Głogowska – Hetmańska – GŁOGOWSKA/HETMAŃSKA – Hetmańska – Arciszewskiego – Ściegiennego – Zgoda – GÓRCZYN PKM
    </a>
    <p></p>
    <p>Linia dodatkowa, kursy  co 20 min. (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">113</td>
   <td style="width: 157.269%;" width="510">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/113-2024.11.11.pdf">
     GÓRCZYN PKM – Zgoda – Ściegiennego – Taczanowskiego – Jugosłowiańska – Promienista – OS. KOPERNIKA
    </a>
    <p></p>
    <p>Linia dodatkowa, kursy  co 20 min. (tylko na czas trwania Biegu Niepodległości, w godz. od ok. 10:00 do ok. 14:00)</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;"></td>
   <td style="width: 157.269%;">
    Autobusowe linie nocne
    <br/>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">
    212
    <p></p>
    <p>222</p>
   </td>
   <td style="width: 157.269%;" width="510">
    Autobusy będą pomijać  przystanki Zamek w obu kierunkach
    <br/>
    (w noce z 10 na 11 i z 11 na 12 listopada)
   </td>
  </tr>
 </tbody>
</table>
<p>Dodatkowo, w związku z Biegiem Niepodległości w Luboniu wprowadzone zostaną zmiany na linii  podmiejskiej nr 610.</p>
<p>Linia nr 610 – trasa w dniu 11 listopada, od godz. 8:00 do 14:00 (w obu kierunkach), tłustym drukiem zaznaczono zmieniony fragment</p>
<p>
 GÓRCZYN PKM – … – Kotowo – Luboń, Poniatowskiego – LUBOŃ/ŻABIKOWO – Luboń, Poniatowskiego – Luboń, Unijna – Luboń, Żabikowska – Luboń,
 <br/>
 Jana III Sobieskiego – Luboń, Fabryczna – Luboń, Dworcowa – … – DĘBIEC PKM
</p>
<p>Autobusy na nocnych liniach podmiejskich w nocy z 10 na 11 listopada (z niedzieli na poniedziałek) kursować będą jak z soboty na niedzielę. Dlatego będzie można skorzystać z  linii nr 250, 252, 253, 257, 258. Linia nr 219 w nocy z 10 na 11 listopada będzie funkcjonować jak z soboty na niedzielę, a w nocy z 11 na 12 listopada jak z niedzieli na poniedziałek.</p>
<p>
 Więcej informacji także na:
 <a href="https://www.poznan.pl/mim/info/news/11-listopada-organizacja-ruchu-i-zmiany-w-komunikacji,241025.html">
  https://www.poznan.pl/mim/info/news/11-listopada-organizacja-ruchu-i-zmiany-w-komunikacji,241025.html
 </a>
</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-scaled.jpg">
  <img alt="Tramwaje linii nr 16 na ulicy Fredry" class="aligncenter wp-image-5144 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-16-Fredry-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
