<p>W związku remontem ulicy Biskupińskiej (wymiana nawierzchni), od poniedziałku (4 listopada) zmienią się trasy linii autobusowych nr 146, 160, 170, 195, 216 oraz 226.</p>
<table style="width: 70.7968%;">
 <tbody>
  <tr>
   <td style="width: 10.1375%;" width="55">Linia nr</td>
   <td style="width: 169.588%;" width="511">Trasa  od poniedziałku (4 listopada): pogrubiono zmieniony fragment  przejazdu</td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">146</td>
   <td style="width: 169.588%;" width="511">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/146-2024.11.04.pdf">
     BORANTA – … – Szarych Szeregów – Strzeszyńska – Biskupińska – STRZESZYN PKM – Zakopiańska – Kosowska – Szarych Szeregów – … – BORANTA
    </a>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">160</td>
   <td style="width: 169.588%;" width="511">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/160-2024.11.04.pdf">
     GARBARY PKM – … – Druskienicka – Zakopiańska – STRZESZYN PKM – Biskupińska – Strzeszyńska – Kosowska – Zakopiańska – … – GARBARY PKM
    </a>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">170</td>
   <td style="width: 169.588%;" width="511">
    Uwaga: zmiana trasy obowiązuje tylko w dniach 4 i 5 listopada (poniedziałek, wtorek)
    <p></p>
    <p>
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/170-2024.11.04.pdf">
      RONDO SOLIDARNOŚCI – Aleje Solidarności – Dojazd – Wojska Polskiego – Golęcińska – Koszalińska – Literacka – PUSZKINA (przystanek istniejący, następnie ponowny objazd ronda Czapskiego) – Literacka – Biskupińska – Koszalińska – Żołnierzy Wyklętych – Wiencka – Literacka – Koszalińska – … – RONDO SOLIDARNOŚCI
     </a>
    </p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">195</td>
   <td style="width: 169.588%;" width="511">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/195-2024.11.04.pdf">
     OGRODY – Dąbrowskiego – Żeromskiego – Niestachowska – Wojska Polskiego – Golęcińska – Koszalińska – Literacka – Poszwińskiego (powrót ul. Wiencka) – Żołnierzy Wyklętych – Koszalińska – Biskupińska – INSTYTUT TECHNOLOGICZNO-PRZYRODNICZY
    </a>
    <p></p>
    <p>Autobusy kursować będą co około 30-35 minut, a godziny odjazdów dopasowane zostaną do odjazdów autobusów linii nr 835, 836, 837.</p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">216</td>
   <td style="width: 169.588%;" width="511">
    Zmiana trasy od nocy z 4 na 5 listopada do nocy z 6 na 7 listopada:
    <p></p>
    <p>
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/216226-2024.11.04-II.pdf">
      POZNAŃ GŁÓWNY – … – Lutycka – Druskienicka – Strzeszyńska – Biskupińska – STRZESZYN PKM – Zakopiańska – Kosowska – Strzeszyńska – (Jasielska) – Druskienicka – Podolańska – Lutycka – Juraszów – Piątkowska – Aleje Solidarności – Witosa – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Święty Marcin – Dworcowa – POZNAŃ GŁÓWNY
     </a>
    </p>
   </td>
  </tr>
  <tr>
   <td style="width: 10.1375%;" width="55">226</td>
   <td style="width: 169.588%;" width="511">
    Zmiana trasy od nocy z 4 na 5 listopada do nocy z 6 na 7 listopada:
    <p></p>
    <p>
     <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/216226-2024.11.04-II.pdf">
      POZNAŃ GŁÓWNY – … – Koszalińska – Literacka – Puszkina – Literacka – Biskupińska – STARY STRZESZYN – Koszalińska – Żołnierzy Wyklętych – Wiencka – Literacka – Koszalińska – Golęcińska – Wojska Polskiego – Nad Wierzbakiem – Kościelna – Dąbrowskiego – Roosevelta – Święty Marcin – Dworcowa – POZNAŃ GŁÓWNY
     </a>
    </p>
   </td>
  </tr>
 </tbody>
</table>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-scaled.jpg">
  <img alt="Linia autobusowa nr 160" class="aligncenter wp-image-5047 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-160-Wojska-Polskiego-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
<p>
 Więcej na ten temat także na:
 <a href="https://pim.poznan.pl/aktualnosci/wiadukty-lutycka-golecinska/drugi-etap-wymiany-nawierzchni-na-ul-biskupinskiej">
  Drugi etap wymiany nawierzchni na ul. Biskupińskiej | Poznańskie Inwestycje Miejskie
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
