<p>Aktualizacja: (24.10.2024): W czwartek, 24 października rozpocznie się remont nawierzchni północnej nitki ulicy Słowiańskiej (od ul. Gromadzkiej do ul. Naramowickiej). Prace spowoduję zmiany tras autobusów linii nr 174 i 190 jadących z centrum (objazd ulicami Serbska i Murawa). W kierunku do centrum (od Murawy w kierunku Szelągowskiej) trasy nie ulegają zmianie. Od piątku, 25 października zmianie ulegnie lokalizacja przystanków Os. Pod Lipami.</p>
<p>Linia 174:</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/174-2024.10.24.pdf">
  UNII LUBELSKIEJ – Obodrzycka – Kurlandzka – Inflancka – Pawia – Orla – Zamenhofa – Krzywoustego – Strzelecka – Kazimierza Wielkiego – Mostowa – Garbary – Szelągowska – Serbska – Aleje Solidarności – Połabska – Umultowska – Opieńskiego – Szymanowskiego – Smoleńska – Stróżyńskiego – OS. SOBIESKIEGO
 </a>
</p>
<p>Autobusy linii nr 174 pomijać będą przystanki Wilczak i Wójtowska na ul. Słowiańskiej oraz Os. Pod Lipami na ul. Murawa,</p>
<p>Linia 190:</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/190-2024.10.24.pdf">
  RONDO RATAJE – Jana Pawła II – Krzywoustego – Strzelecka – Kazimierza Wielkiego – Mostowa – Garbary – Szelągowska – Serbska – Murawa – Słowiańska – Piątkowska – Wojciechowskiego – Jaroczyńskiego – Stróżyńskiego – OS. SOBIESKIEGO
 </a>
</p>
<p>Autobusy linii nr 190 pomijać będą przystanki Wilczak i Wójtowska na ul. Słowiańskiej.</p>
<p>Od piątku, 25 października do niedzieli, 27 października włącznie, przystanek Os. Pod Lipami na ul. Słowiańskiej w kierunku ul. Szelągowskiej będzie funkcjonował w dwóch tymczasowych lokalizacjach:</p>
<ul>
 <li>dla autobusów linii nr 174 na ulicy Murawa przed skrętem w ulicę Słowiańską,</li>
 <li>dla autobusów linii nr 190 na ulicy Słowiańskiej przed skrzyżowaniem z ulicą Murawa.</li>
</ul>
<p>W kierunku ronda Rataje i Unii Lubelskiej autobusy linii 174 i 190 kursować będą trasami bez zmian.</p>
<p>
 Więcej informacji także na:
 <a href="https://zdm.poznan.pl/pl/web/aktualnosci/view/id/wyremontujemy-jezdnie-na-ulicy-slowianskiej">
  https://zdm.poznan.pl/pl/web/aktualnosci/view/id/wyremontujemy-jezdnie-na-ulicy-slowianskiej
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto.jpg">
  <img alt="Linia autobusowa nr 174" class="aligncenter wp-image-5004 size-medium" decoding="async" fetchpriority="high" height="435" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto-600x435.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto-600x435.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto-1024x743.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto-768x557.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-174-Stare-Miasto.jpg 1512w" width="600"/>
 </a>
</p>
