<p>W związku z rozpoczęciem prac na ul. Olszynowej w Przeźmierowie (zostanie ona zamknięta) od środy (26 czerwca) autobusy linii nr 802, 803 i 804 będą kursować objazdami.</p>
<p>Zmiany od 26 czerwca (wytłuszczono zmieniony fragment tras):</p>
<p>Linia nr 802:</p>
<p>OGRODY – … – Przeźmierowo Krańcowa – rondo Wysogotowo – Bukowska – Wierzbowa – Batorowo Skośna nż -… – TARNOWO PODGÓRNE</p>
<p>Linia nr 803:</p>
<p>OGRODY – … – Przeźmierowo Krańcowa – rondo Wysogotowo – Bukowska – Wierzbowa – … – BUDZISZYŃSKA</p>
<p>Linia nr 804:</p>
<p>OGRODY – … – Przeźmierowo Krańcowa – rondo Wysogotowo – Bukowska – Wierzbowa – Batorowo Skośna nż – … – SIEROSŁAW DZIAŁKI</p>
<p>Przystanki tymczasowe:</p>
<p>– Przeźmierowo Brzozowa na ul. Wierzbowej, po południowej stronie skrzyżowania z ul. Olszynową i Batorego, w obu kierunkach;</p>
<p>– Wysogotowo Wierzbowa (nż) na ul. Wierzbowej, po południowej stronie skrzyżowania z ul. Bukowską, tylko w kierunku południowym.</p>
<p>Za utrudnienia przepraszamy</p>
<p>
 <img alt="" class="aligncenter size-medium wp-image-1070" decoding="async" fetchpriority="high" height="508" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-autobus-linii-809-600x508.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-autobus-linii-809-600x508.webp 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-autobus-linii-809-1024x866.webp 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-autobus-linii-809-768x650.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/zdjecie-przedstawia-autobus-linii-809.webp 1200w" width="600"/>
</p>
