<p>Wybierając się na przedświąteczne wydarzenia możemy skorzystać ze specjalnej linii świątecznej nr 24. Do centrum możemy dojechać także tramwajami linii numer: 2, 3, 5, 9, 13, 16, 17 i 19. W pobliże Starego Rynku dowiozą nas tramwaje linii nr 7, 8 i 17 (przystanek Małe Garbary), tramwaje linii numer 3, 5, 13 i 16 (przystanek Wrocławska) oraz tramwaje linii numer 2, 9 i 19 (przystanek Wiosny Ludów).</p>
<p>Z pewnością wiele osób wybierze się w weekend także na Betlejem Poznańskie. Jadąc do centrum zachęcamy do zostawienia auta na parkingu i wybór transportu publicznego. Tramwajem dojedziemy w pobliże wydarzeń i nie będziemy się musieli martwić o miejsce parkingowe lub korki. Tłumy odwiedzających przyciąga Jarmark Bożonarodzeniowy, który w tym roku znajduje się w trzech lokalizacjach: na pl. Wolności, Starym Rynku i Międzynarodowych Targach Poznańskich.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark.jpg">
  <img alt="Jarmark Poznań" class="aligncenter wp-image-5364 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-600x400.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-600x400.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-1024x683.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-768x512.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-1536x1024.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark.jpg 1800w" width="600"/>
 </a>
</p>
<p>Wybierając się na przedświąteczne wydarzenia zachęcamy do przyjazdu do centrum komunikacją zbiorową, a w szczególności tramwajem. Możemy skorzystać ze specjalnej linii świątecznej nr 24, na której tramwaje kursują z Górczyna przez ulicę Głogowską (z  przystanku Dworzec Zachodni jest tylko krok na Jarmark na MTP), Kaponierę, Św. Marcin do przystanku Marcinkowskiego, tuż obok Betlejem Poznańskiego na pl. Wolności i w pobliżu Starego Rynku.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/24-2024.11.14-bimba-swiateczna-1.pdf">
  <img alt="" class="aligncenter size-medium wp-image-5369" decoding="async" height="429" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/bimba-swiateczna-1-600x429.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/bimba-swiateczna-1-600x429.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/bimba-swiateczna-1-1024x731.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/bimba-swiateczna-1-768x548.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/bimba-swiateczna-1.jpg 1221w" width="600"/>
 </a>
</p>
<p>Do centrum możemy dojechać tramwajami linii numer: 2, 3, 5, 9, 13, 16, 17 i 19. W pobliże Starego Rynku dowiozą nas tramwaje linii nr 7, 8 i 17 (przystanek Małe Garbary), tramwaje linii numer 3, 5, 13 i 16 (przystanek Wrocławska) oraz tramwaje linii numer 2, 9 i 19 (przystanek Wiosny Ludów).</p>
<p>Przypominamy także, że w weekendy obowiązują interesujące promocje biletowe. Korzystając z nich można podróżować na liniach ZTM taniej. Zachęcamy do zapoznania się ze szczegółami oferty i korzystania.</p>
<p>
 Więcej:
 <a href="https://www.ztm.poznan.pl/wszystko-o-biletach/promocje-biletowe/">
  https://www.ztm.poznan.pl/wszystko-o-biletach/promocje-biletowe/
 </a>
</p>
<p>
 Więcej:
 <a href="https://www.poznan.pl/mim/info/news/na-jarmarki-najlepiej-dojechac-komunikacja-miejska,242679.html">
  https://www.poznan.pl/mim/info/news/na-jarmarki-najlepiej-dojechac-komunikacja-miejska,242679.html
 </a>
</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2.jpg">
  <img alt="Linia tramwajowa nr 24" class="aligncenter wp-image-5363 size-medium" decoding="async" height="426" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2-600x426.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2-600x426.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2-1024x728.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2-768x546.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/jarmark-2.jpg 1078w" width="600"/>
 </a>
</p>
