<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-scaled.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5614" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-600x400.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-600x400.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-1024x683.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-768x512.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-1536x1024.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/10-2048x1365.jpg 2048w" width="600"/>
 </a>
</p>
<p>W poświąteczny piątek (27 grudnia) odbędą się uroczystości związane z obchodami 106. rocznicy wybuchu Powstania Wielkopolskiego. W godzinach od około 15:30 (do odwołania) w związku z zamknięciem dla ruchu ulicy Wierzbięcice w rejonie pomnika Powstańców Wielkopolskich, tramwaj linii nr 10 kursować będzie w obu kierunkach objazdem przez ulice Górna Wilda i Królowej Jadwigi. Ruch tramwajowy wzdłuż ulicy Królowej Jadwigi odbywać się będzie bez zmian.</p>
<p>Jednocześnie tego dnia wszystkie pojazdy komunikacji miejskiej znajdujące się na terenie miasta Poznania zatrzymają się na minutę (o ile pozwoli na to sytuacja ruchowa i warunki bezpieczeństwa). W pojazdach wyemitowany zostanie komunikat:</p>
<p>"Szanowni Państwo, 27 grudnia 1918 roku padły pierwsze strzały zwycięskiego Powstania Wielkopolskiego. Dzięki patriotycznej postawie Wielkopolan kolebka polskiego Państwa odzyskała niepodległość. Tą symboliczną chwilą nawiązujemy do obchodów pierwszych rocznic, kiedy to o godzinie 16.40 w całym mieście zatrzymywał się ruch. Chwała Bohaterom! Cześć Ich pamięci!".</p>
