<p>W związku z pracami torowymi w noce z 21 na 22 października i 22 na 23 października (poniedziałek/wtorek i wtorek/środa) autobusy linii 213, 218 i 223 nie będą zatrzymywać się na przystankach tramwajowych Głogowska/Hetmańska.</p>
<p>Przystanki tymczasowe usytuowane zostaną:</p>
<ul>
 <li>w kierunku Górczyna, Dębca i Kaczej na ul. Głogowskiej przed skrzyżowaniem z ul. Chociszewskiego,</li>
</ul>
<ul>
 <li>w kierunku ronda Kaponiera na wysokości przystanku tramwajowego.</li>
</ul>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213.jpg">
  <img alt="Autobus linii nr 213" class="aligncenter wp-image-4998 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-600x400.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-600x400.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-1024x683.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-768x512.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-1536x1024.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/autobus-linia-nr-213-2048x1365.jpg 2048w" width="600"/>
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
