<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/fot.-9-tramwaj-swiateczny.png">
  <img alt="Tramwaje na Moście Teatralnym - zima w Poznaniu" class="aligncenter wp-image-5566 size-medium" decoding="async" fetchpriority="high" height="337" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/fot.-9-tramwaj-swiateczny-600x337.png" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/fot.-9-tramwaj-swiateczny-600x337.png 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/fot.-9-tramwaj-swiateczny.png 682w" width="600"/>
 </a>
</p>
<p>W okresie świąteczno-noworocznym w komunikacji miejskiej i podmiejskiej zostanie wprowadzonych wiele zmian. W przypadającą we wtorek Wigilię oraz w piątek 27 grudnia (łącznik między świętami a weekendem) będzie obowiązywał sobotni rozkład jazdy. W Wigilię część linii będzie zwieszona już o godz. 14:00, a około godz. 17:00 miejska komunikacja dzienna zostanie zastąpiona tramwajami i autobusami na liniach nocnych. Z linii nocnych będzie można korzystać aż do godz. 12:00 w I dzień świąt, ale już od godz. 8:00 w dniu 25 grudnia zostaną uruchomione linie autobusowe nr 178, 180. 186 i 194. Większość linii zarówno tramwajowych, jak i autobusowych rozpocznie kursowanie o godz. 12:00. Pamiętajmy, że część linii będzie tego dnia zawieszonych, niektóre będą miały zmienione trasy.</p>
<p>W czasie Bożego Narodzenia w transporcie zostanie wprowadzony świąteczny rozkład. Wiele zmian zostanie wprowadzonych również na liniach podmiejskich.</p>
<p>27 grudnia w godzinach od 6:30 do 9:00 oraz od 13:30 do 18:30 tramwaje linii nr 1, 6, 10, 12, 16 i 17 kursować będą z częstotliwością co 10 minut, także na 17 liniach podmiejskich kursy odbędą się wg roboczego grafika.</p>
<p>W poniedziałek – 30 grudnia i w Sylwestra (31 grudnia) tramwaje i autobusy pojadą wg roboczego rozkładu. W Sylwestra od godz. 21:00 w komunikacji miejskiej będzie można skorzystać głównie z linii nocnych. Będą one funkcjonować do godz. 12:00 w Nowy Rok, a od godz. 8:00 stopniowo będzie przywracana komunikacja dzienna. Większość linii tramwajowych i autobusowych zacznie działać zgodnie ze świątecznym rozkładem o godz. 12:00.</p>
<p>Co istotne, chcąc zapewnić jak najlepszy dojazd na Sylwestra Miejskiego na terenie MTP, w godzinach 21:00-2:00 uruchomione zostaną dodatkowe nocne linie tramwajowe numer 204 i 208.</p>
<p>W dniach 23 – 31 grudnia zawieszone będzie kursowanie linii 123 i 124 oraz nie będą wykonywane kursy szkolne na liniach 154 i 188.</p>
<p>
 <span style="font-size: 18pt;">
  Komunikacja miejska
  <br/>
 </span>
</p>
<p>
 <span style="font-size: 14pt;">23 grudnia (poniedziałek)</span>
</p>
<p>Komunikacja miejska funkcjonuje według roboczego rozkładu jazdy ze zmianami związanymi z przerwą świąteczną w szkołach i na uczelniach wyższych:</p>
<ul>
 <li>linie nr 123 i 124 – brak kursów;</li>
 <li>linia nr 154 – bez kursów na odcinku Spławie – Krzesiny;</li>
 <li>linie nr 188 i 198 – nie będą wykonywane kursy oznaczone w rozkładzie literą "S".</li>
</ul>
<p>Komunikacja nocna funkcjonuje jak w noce z piątku na sobotę. Zawieszone zostanie funkcjonowanie linii nocnej 202.</p>
<p>
 <span style="font-size: 14pt;">
  24 grudnia (wtorek) – Wigilia Bożego Narodzenia
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według sobotniego rozkładu jazdy z następującymi zmianami:</p>
<ul>
 <li>linia nr 184 – od pierwszych kursów rozkładowe kursy do Term Maltańskich zostają skrócone do ronda Śródka, natomiast kursy do i z Nowego ZOO będą wykonywane bez zmian;</li>
 <li>linia nr 198 – bez wjazdów na przystanek UAM Wydział Fizyki;</li>
 <li>linia tramwajowa nr 24 – zawieszona przez cały dzień;</li>
 <li>linie nr 122, 149, 170, 181 – zawieszone przez cały dzień.</li>
</ul>
<p>Od około godziny 14:00 wprowadzone zostaną następujące zmiany:</p>
<ul>
 <li>linie nr l5, 11, 15 – zawieszone;</li>
 <li>linia nr 6 – kursy na wydłużonej trasie do Junikowa;</li>
 <li>linie autobusowe nr: 145, 153, 156, 157, 159, 179, 196 – zawieszone;</li>
 <li>od godziny 14:00 autobusy linii 148 kursować będą trasą wydłużoną Poznań Główny – Ławica z wjazdem pod terminal w Porcie Lotniczym Ławica (w kierunku Ławicy);</li>
 <li>od godziny 15:00 linia autobusowa numer 180 kursować będzie na skróconej trasie: Górczyn PKM – Rudnicze.</li>
</ul>
<p>O godz. 17:00 wprowadzone zostaną następujące zmiany:</p>
<ul>
 <li>zawieszone zostaną wszystkie linie tramwajowe oraz poniższe autobusowe nr: 146, 152, 154, 158, 160, 162, 163, 164, 166, 167, 168, 169, 171, 174, 175, 176, 177, 182, 183, 184, 185, 186, 189, 190, 191, 193, 198;</li>
 <li>kurs linii 167 o godzinie 16:35 z ronda Śródka zostanie zamieniony na kurs linii nr 911 do Biedruska;</li>
 <li>do godz. 21:00 według sobotniego rozkładu jazdy funkcjonują linie 173, 178, 180, 194;</li>
 <li>uruchomione zostaną linie nocne według następującego schematu:</li>
</ul>
<table>
 <tbody>
  <tr>
   <td rowspan="2">linia nr</td>
   <td colspan="3" width="516">zasady funkcjonowania w poniższych godzinach</td>
  </tr>
  <tr>
   <td width="195">17:00 – 21:00</td>
   <td width="192">21:00 – 23:00</td>
   <td width="129">23:00 – 5:00</td>
  </tr>
  <tr>
   <td>201</td>
   <td>co 15 minut</td>
   <td>co 30 minut</td>
   <td rowspan="16" width="129">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w pozostałe noce</p>
    <p>(co 60/120 minut)</p>
   </td>
  </tr>
  <tr>
   <td>211</td>
   <td colspan="2" width="387">co 60 minut, wszystkie kursy z Garbar PKM przez rondo Minikowo</td>
  </tr>
  <tr>
   <td>212</td>
   <td width="195">
    co 60 minut,
    <p></p>
    <p>wszystkie kursy wydłużone do pętli Franowo</p>
   </td>
   <td width="192">co 60 minut</td>
  </tr>
  <tr>
   <td>213</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>214</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>215</td>
   <td width="195">
    co 30 minut tylko na odcinku
    <p></p>
    <p>Os. Sobieskiego – Os. Dębina</p>
   </td>
   <td width="192">
    co 30 minut, co drugi kurs
    <p></p>
    <p>wydłużony do Lubonia/Kręta</p>
   </td>
  </tr>
  <tr>
   <td>216</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>218</td>
   <td colspan="2">co 30 minut</td>
  </tr>
  <tr>
   <td>219</td>
   <td width="195">
    co 30 minut tylko na odcinku
    <p></p>
    <p>Poznań Główny – Ogrody, co drugi kurs wydłużony do Kiekrza</p>
   </td>
   <td width="192">
    co 30 minut tylko na odcinku
    <p></p>
    <p>Poznań Główny – Wichrowa, co drugi kurs wydłużony do Kiekrza</p>
   </td>
  </tr>
  <tr>
   <td>220</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>221</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>222</td>
   <td width="195">co 60 minut</td>
   <td width="192">
    co 60 minut, wszystkie kursy
    <p></p>
    <p>w obu kierunkach przez Darzybór</p>
   </td>
  </tr>
  <tr>
   <td>223</td>
   <td colspan="2">co 60 minut, wszystkie kursy wydłużone do pętli Zieliniec</td>
  </tr>
  <tr>
   <td>224</td>
   <td colspan="2">co 60 minut, wszystkie kursy do pętli Junikowo PKM</td>
  </tr>
  <tr>
   <td>226</td>
   <td colspan="2">co 60 minut</td>
  </tr>
  <tr>
   <td>227</td>
   <td width="195">
    co 30 minut na odcinku
    <p></p>
    <p>Rondo Rataje – Koziegłowy</p>
   </td>
   <td width="192">
    co 30 minut, co drugi kurs
    <br/>
    na odcinku Rondo Rataje – Koziegłowy
   </td>
  </tr>
 </tbody>
</table>
<p>Komunikacja nocna funkcjonuje do godz. 12:00 w Boże Narodzenie (25 grudnia).</p>
<h2>
 <span style="font-size: 14pt;">25 grudnia (środa) – Boże Narodzenie</span>
</h2>
<h2>
 <span style="font-size: 12pt;">Komunikacja miejska funkcjonuje według świątecznego rozkładu jazdy.</span>
 <span style="font-size: 12pt;">Do godz. 12:00 funkcjonują linie nocne wg poniższego schematu:</span>
</h2>
<table width="0">
 <tbody>
  <tr>
   <td rowspan="2">Linia nr</td>
   <td colspan="3" width="558">zasady funkcjonowania w poniższych godzinach</td>
  </tr>
  <tr>
   <td>do godz. 5:00</td>
   <td width="247">5:00 – 8:00</td>
   <td width="153">8:00 -12:00</td>
  </tr>
  <tr>
   <td>201</td>
   <td rowspan="16">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w pozostałe noce</p>
    <p>(co 60/120 minut)</p>
   </td>
   <td width="247">co 30 minut</td>
   <td width="153">co 15 minut</td>
  </tr>
  <tr>
   <td>211</td>
   <td colspan="2" width="400">co 60 minut, wszystkie kursy do Garbar przez rondo Minikowo</td>
  </tr>
  <tr>
   <td>212</td>
   <td width="247">co 60 minut</td>
   <td width="153">co 60 minut, wszystkie kursy wydłużone do pętli Franowo</td>
  </tr>
  <tr>
   <td>213</td>
   <td colspan="2" width="400">co 60 minut</td>
  </tr>
  <tr>
   <td>214</td>
   <td colspan="2" width="400">co 60 minut</td>
  </tr>
  <tr>
   <td>215</td>
   <td colspan="2" width="400">
    co 30 minut tylko na odcinku
    <p></p>
    <p>Os. Sobieskiego – Os. Dębina</p>
   </td>
  </tr>
  <tr>
   <td>216</td>
   <td colspan="2" width="400">co 60 minut</td>
  </tr>
  <tr>
   <td>218</td>
   <td colspan="2" width="400">co 30 minut</td>
  </tr>
  <tr>
   <td>219</td>
   <td colspan="2" width="400">co 30 minut na odcinku Poznań Główny – Ogrody</td>
  </tr>
  <tr>
   <td>220</td>
   <td colspan="2" width="400">co 60 minut</td>
  </tr>
  <tr>
   <td>221</td>
   <td colspan="2" width="400">co 60 minut z dodatkowym kursem o godz. 5:37 z Garbar</td>
  </tr>
  <tr>
   <td>222</td>
   <td width="247">
    co 60 minut, wszystkie kursy
    <br/>
    w obu kierunkach przez Darzybór
   </td>
   <td width="153">co 60 minut</td>
  </tr>
  <tr>
   <td>223</td>
   <td colspan="2" width="400">co 60 minut, wszystkie kursy wydłużone do pętli Zieliniec</td>
  </tr>
  <tr>
   <td>224</td>
   <td colspan="2" width="400">co 60 minut, wszystkie kursy do pętli Junikowo PKM</td>
  </tr>
  <tr>
   <td>226</td>
   <td colspan="2" width="400">co 60 minut</td>
  </tr>
  <tr>
   <td>227</td>
   <td width="247">
    co 30 minut, co drugi kurs
    <br/>
    na odcinkuRondo Rataje – Koziegłowy
   </td>
   <td width="153">
    co 30 minut na odcinku
    <p></p>
    <p>Rondo Rataje – Koziegłowy</p>
   </td>
  </tr>
 </tbody>
</table>
<p>Pozostałe zmiany obowiązujące od godz. 8:00, 12:00, 14:30 lub przez cały dzień:</p>
<ul>
 <li>przez cały dzień zawieszona będzie linia tramwajowa nr 11 oraz linie autobusowe nr: 122, 145, 149, 153, 157, 159, 176, 179, 181, 196;</li>
 <li>od godz. 8:00 według świątecznego rozkładu jazdy pojadą autobusy na liniach nr: 178, 180, 186, 194;</li>
 <li>linia nr 180 – kursować będzie na trasie skróconej Górczyn PKM – Rudnicze;</li>
 <li>od godz. 12:00 według świątecznego rozkładu jazdy funkcjonują linie tramwajowe: 1, 2, 3, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18;</li>
 <li>w godzinach 12:00 – 14:30 tramwaj linii nr 6 będzie kursował na wydłużonej trasie do Junikowa;</li>
 <li>od godz. 12:00 według świątecznego rozkładu jazdy funkcjonują linie autobusowe: 146, 148, 152, 154, 156, 158, 162, 164, 166, 168, 169, 171, 174, 175, 177, 182, 183, 184, 189, 190, 193, 198;</li>
 <li>linia nr 148 – od godziny 12:00 do końca dnia funkcjonować będzie na wydłużonej trasie do Poznania Głównego, autobusy będą wjeżdżać pod terminal w Porcie Lotniczym Ławica;</li>
 <li>linia nr 184 – kursy na trasie Rondo Rataje – Rondo Śródka, bez obsługi przystanku Termy Maltańskie (z rozkładowymi kursami do ZOO),</li>
 <li>linia nr 198 – bez wjazdów na przystanek UAM Wydział Fizyki;</li>
 <li>od godziny około 14:30 uruchomione zostaną linie tramwajowe nr 5 i 15 oraz autobusowe nr: 160, 163, 167, 185, 191;</li>
 <li>w nocy z 25 na 26 grudnia komunikacja nocna funkcjonować będzie jak w pozostałe noce tj. co 60/120 minut do godziny 5:00, a po godzinie 5:00 co 30/60 minut.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  26 grudnia (czwartek) – II dzień świąt Bożego Narodzenia
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według świątecznego rozkładu jazdy bez ograniczeń. W nocy z 26 na 27 grudnia komunikacja nocna funkcjonuje według rozkładu jazdy z niedzieli na poniedziałek (tzw. pozostałe noce):</p>
<ul>
 <li>linia nr 180 – kursy na trasie skróconej Górczyn PKM – Rudnicze;</li>
 <li>linia nr 184 – do około godz. 13:30 trasa skrócona z Rondo Rataje do Ronda Śródka (z kursami planowymi do ZOO), a następnie z wjazdem do Term;</li>
 <li>linia nr 198 – bez wjazdów na przystanek UAM Wydział Fizyki.</li>
</ul>
<p>Komunikacja nocna funkcjonować będzie jak w noce z piątku na sobotę. Zawieszone zostanie funkcjonowanie linii nocnej nr 202.</p>
<p>
 <span style="font-size: 14pt;">27 grudnia (piątek)</span>
</p>
<p>Komunikacja miejska funkcjonuje według sobotniego rozkładu jazdy ze zmianą polegającą na tym, że w godzinach od 6:30 do 9:00 oraz od 13:30 do 18:30 tramwaje linii nr 1, 6, 10, 12, 16, 17 kursować będą z częstotliwością co 10 minut.</p>
<p>Komunikacja nocna funkcjonować będzie jak w noce z piątku na sobotę.</p>
<p>
 <span style="font-size: 14pt;">
  28 grudnia (sobota)
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według sobotniego rozkładu jazdy</p>
<p>
 <span style="font-size: 14pt;">
  29 grudnia (niedziela)
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według świątecznego rozkładu jazdy</p>
<p>
 <span style="font-size: 14pt;">
  30 grudnia (poniedziałek)
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według roboczego rozkładu jazdy ze zmianami związanymi z przerwą świąteczną w szkołach i na uczelniach:</p>
<ul>
 <li>linie nr 123 i 124 – brak kursów;</li>
 <li>linia nr 154 – bez kursów na odcinku Spławie – Krzesiny;</li>
 <li>linie nr 188 i 198 – bez kursów oznaczonych w rozkładzie literą "S".</li>
</ul>
<h2>
 <span style="font-size: 14pt;">
  31 grudnia (wtorek) – Sylwester
  <br/>
 </span>
</h2>
<p>Do godz. 21:00 w komunikacji miejskiej obowiązuje roboczy rozkład jazdy ze zmianami:</p>
<ul>
 <li>linie nr 123 i 124 – brak kursów</li>
 <li>linia nr 154 – brak kursów na odcinku Spławie – Krzesiny;</li>
 <li>linia nr 184 – kursy na trasie Rondo Rataje – Rondo Śródka, bez obsługi przystanku Termy Maltańskie (z rozkładowymi kursami do ZOO);</li>
 <li>linie nr 188 i 198 – brak kursów oznaczonych w rozkładzie literą "S".</li>
</ul>
<p>O godz. 21:00 wprowadzone zostają następujące zmiany:</p>
<ul>
 <li>przestaną kursować tramwaje na wszystkich liniach dziennych oraz autobusy następujących linii: 145, 146, 148, 149, 152, 153, 154, 156, 157, 158, 159, 160, 162, 163, 164, 166, 167, 168, 169, 171, 175, 176, 179, 181, 183, 184, 185, 186, 189, 190, 191, 193, 196, 198;</li>
 <li>bez ograniczeń, według roboczego rozkładu jazdy będą kursować autobusy na liniach nr: 173, 174, 177, 178, 180, 182, 194;</li>
 <li>linia nr 180 – kursy na trasie skróconej Górczyn PKM – Rudnicze</li>
 <li>uruchomione zostaną linie nocne według następującego schematu:</li>
</ul>
<table>
 <tbody>
  <tr>
   <td rowspan="2">linia nr</td>
   <td colspan="2" width="516">zasady funkcjonowania w poniższych godzinach</td>
  </tr>
  <tr>
   <td width="309">21:00 – 23:00</td>
   <td width="207">po godz. 23:00</td>
  </tr>
  <tr>
   <td>201</td>
   <td width="309">co 10 minut</td>
   <td width="207">23:00-2:00 co 10 minut, w godzinach 2:00-4:00 co 15 minut, po godzinie 4:00 co 30 minut</td>
  </tr>
  <tr>
   <td>211</td>
   <td width="309">co 60 minut, wszystkie kursy z Garbar przez rondo Minikowo</td>
   <td rowspan="15" width="207">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w noce z soboty na święto</p>
   </td>
  </tr>
  <tr>
   <td>212</td>
   <td width="309">co 60 minut, wszystkie kursy do Franowa</td>
  </tr>
  <tr>
   <td>213</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>214</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>215</td>
   <td width="309">co 30 minut, co drugi kurs wydłużony do przystanku Luboń/Kręta</td>
  </tr>
  <tr>
   <td>216</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>218</td>
   <td width="309">co 30 minut</td>
  </tr>
  <tr>
   <td>219</td>
   <td width="309">
    co 30 minut na odcinku
    <br/>
    Poznań Główny – Wichrowa
   </td>
  </tr>
  <tr>
   <td>220</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>221</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>222</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>223</td>
   <td width="309">
    co 60 minut wszystkie kursy wydłużone
    <br/>
    do pętli Zieliniec
   </td>
  </tr>
  <tr>
   <td>224</td>
   <td width="309">co 60 minut do pętli Junikowo PKM</td>
  </tr>
  <tr>
   <td>226</td>
   <td width="309">co 60 minut</td>
  </tr>
  <tr>
   <td>227</td>
   <td width="309">
    co 30 minut na odcinku
    <br/>
    Rondo Rataje – Koziegłowy
   </td>
  </tr>
 </tbody>
</table>
<p>W związku z organizacją Sylwestra Miejskiego na terenie MTP, w godzinach 21:00-2:00 uruchomione zostaną dodatkowe nocne linie tramwajowe numer 204 i 208 kursujące na trasach:</p>
<ul>
 <li>Linia nr 204</li>
</ul>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/204-2024.12.31.pdf">
  BŁAŻEJA – Al. Praw Kobiet – Naramowicka – Przełajowa – Winogrady – Pułaskiego – Roosevelta – most Teatralny – Fredry – Gwarna – Św. Marcin – Towarowa – MOST DWORCOWY – Roosevelta – rondo Kaponiera – Św. Marcin – Gwarna – Fredry – most Teatralny – Roosevelta – Pułaskiego – Winogrady – Przełajowa – Naramowicka – Al. Praw Kobiet – BŁAŻEJA
 </a>
</p>
<p>W godzinach 21:00 – 23:00 kursy co 10 minut, w godzinach 23:00 – 2:00 kursy co 15 minut.</p>
<ul>
 <li>Linia nr 208</li>
</ul>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/208-2024.12.31.pdf">
  BUDZISZYŃSKA – Grunwaldzka – Roosevelta – Głogowska – Hetmańska – rondo Starołęka – Zamenhofa – rondo Rataje – Jana Pawła II – rondo Śródka – ZAWADY
 </a>
</p>
<p>W godzinach 21:00 – 23:00 kursy co 10 minut, w godzinach 23:00 – 2:00 kursy co 30 minut.</p>
<p>Komunikacja nocna funkcjonuje do godz. 12:00 w Nowy Rok (niedziela, 1 stycznia). następnego.</p>
<p>
 <span style="font-size: 14pt;">
  1 stycznia 2025 (środa) – Nowy Rok
  <br/>
 </span>
</p>
<p>Komunikacja miejska funkcjonuje według świątecznego rozkładu jazdy:</p>
<p>do godz. 12:00 funkcjonują linie nocne według następującego schematu:</p>
<table width="0">
 <tbody>
  <tr>
   <td rowspan="2">linia nr</td>
   <td colspan="3" width="613">zasady funkcjonowania w poniższych godzinach</td>
  </tr>
  <tr>
   <td>do godz. 5:00</td>
   <td width="249">5:00 – 8:00</td>
   <td width="202">8:00 -12:00</td>
  </tr>
  <tr>
   <td>201</td>
   <td rowspan="16">
    według rozkładu jazdy
    <p></p>
    <p>obowiązującego</p>
    <p>w noce z soboty na święto</p>
   </td>
   <td width="249">co 30 minut</td>
   <td width="202">co 15 minut</td>
  </tr>
  <tr>
   <td>211</td>
   <td colspan="2" width="451">
    co 60 minut, wszystkie kursy do Garbar
    <br/>
    przez rondo Minikowo
   </td>
  </tr>
  <tr>
   <td>212</td>
   <td width="249">co 60 minut</td>
   <td width="202">co 60 minut, wszystkie kursy wydłużone do pętli Franowo</td>
  </tr>
  <tr>
   <td>213</td>
   <td colspan="2" width="451">co 60 minut</td>
  </tr>
  <tr>
   <td>214</td>
   <td colspan="2" width="451">co 60 minut</td>
  </tr>
  <tr>
   <td>215</td>
   <td colspan="2" width="451">co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina</td>
  </tr>
  <tr>
   <td>216</td>
   <td colspan="2" width="451">co 60 minut</td>
  </tr>
  <tr>
   <td>218</td>
   <td colspan="2" width="451">co 30 minut</td>
  </tr>
  <tr>
   <td>219</td>
   <td colspan="2" width="451">co 30 minut na odcinku Poznań Główny – Ogrody</td>
  </tr>
  <tr>
   <td>220</td>
   <td colspan="2" width="451">co 60 minut</td>
  </tr>
  <tr>
   <td>221</td>
   <td colspan="2" width="451">co 60 minut z dodatkowym kursem o godz. 5:37 z Garbar</td>
  </tr>
  <tr>
   <td>222</td>
   <td width="249">
    co 60 minut, wszystkie kursy
    <br/>
    w obu kierunkach przez Darzybór
   </td>
   <td width="202">co 60 minut,</td>
  </tr>
  <tr>
   <td>223</td>
   <td colspan="2" width="451">co 60 minut, wszystkie kursy wydłużone do pętli Zieliniec</td>
  </tr>
  <tr>
   <td>224</td>
   <td colspan="2" width="451">co 60 minut, wszystkie kursy do pętli Junikowo PKM</td>
  </tr>
  <tr>
   <td>226</td>
   <td colspan="2" width="451">co 60 minut</td>
  </tr>
  <tr>
   <td>227</td>
   <td width="249">
    co 30 minut, co drugi kurs
    <br/>
    na odcinku
    <br/>
    Rondo Rataje – Koziegłowy
   </td>
   <td width="202">
    co 30 minut na odcinku
    <p></p>
    <p>Rondo Rataje – Koziegłowy</p>
   </td>
  </tr>
 </tbody>
</table>
<p>Pozostałe zmiany obowiązujące od godz. 8:00, 12:00, 13:30, 14:30 lub przez cały dzień:</p>
<ul>
 <li>przez cały dzień zawieszona będzie linia tramwajowa nr 11 oraz linie autobusowe nr: 122, 145, 149, 153, 157, 159, 176, 179, 181, 196;</li>
 <li>od godz. 8:00 według świątecznego rozkładu jazdy funkcjonują linie autobusowe nr: 178, 180, 186, 194;</li>
 <li>linia nr 180 – kursy na trasie skróconej Górczyn PKM – Rudnicze;</li>
 <li>od godz. 12:00 według świątecznego rozkładu jazdy funkcjonują linie tramwajowe: 1, 2, 3, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18,</li>
 <li>w godzinach 12:00 – 14:30 tramwaj na linii nr 6 będzie kursował trasą wydłużoną do Junikowa;</li>
 <li>od godz. 12:00 według świątecznego rozkładu jazdy funkcjonują linie autobusowe nr: 146, 148, 152, 154, 156, 158, 162, 164, 166, 168, 169, 171, 174, 175, 177, 182, 183, 184, 189, 190, 193, 198;</li>
 <li>linia nr 148 – od godziny 12:00 do końca dnia funkcjonować będzie na wydłużonej trasie do Poznania Głównego oraz z wjazdem pod terminal w Porcie Lotniczym Ławica;</li>
 <li>linia nr 184 – do około godz. 13:30 skrócona na trasie Rondo Rataje – Ronda Śródka (z kursami planowymi do ZOO) następnie z wjazdem do Term;</li>
 <li>linia nr 198 – brak wjazdów na przystanek UAM Wydział Fizyki;</li>
 <li>od godziny około 14:30 uruchomione zostaną linie tramwajowe nr 5 i 15 oraz autobusowe nr: 160, 163, 167, 185, 191.</li>
 <li>w nocy z 1 na 2 stycznia komunikacja nocna funkcjonuje jak "w pozostałe noce".</li>
</ul>
<p>
 <span style="font-size: 14pt;">6 stycznia (poniedziałek) – święto Trzech Króli</span>
</p>
<p>
 <span style="font-size: 12pt;">W komunikacji miejskiej obowiązuje świąteczny rozkład jazdy.</span>
</p>
<p>
 <span style="font-size: 18pt;">
  Komunikacja podmiejska
  <br/>
 </span>
</p>
<p>
 <span style="font-size: 14pt;">23 grudnia (poniedziałek)</span>
</p>
<p>
 <span style="font-size: 12pt;">Na liniach podmiejskich będzie obowiązywał roboczy rozkład jazdy, z poniższymi  zmianami:</span>
</p>
<ul>
 <li>linia nr 312 – bez wjazdów na przystanek Bolechowo-Osiedle/Zespół Szkół;</li>
 <li>
  linia nr 323 – bez
  <span style="font-size: 12pt;">wjazdów</span>
  na przystanek Mielno/Lisia;
 </li>
 <li>linia nr 431 – bez wjazdów na przystanek Kleszczewo/Szkoła II;</li>
 <li>Linia nr 432 – bez wjazdów na przystanki Bylin/Wieś i Kleszczewo/Szkoła II;</li>
 <li>linia nr 501 – brak kursu o godzinie 6:09 z pętli Błażejewo/Os. Przylesie;</li>
 <li>linia nr 502 – bez wjazdów na przystanek Szczodrzykowo/Szkoła;</li>
 <li>linia nr 512 – bez wjazdów na przystanek Kamionki/Szkoła;</li>
 <li>linia nr 527 – brak kursów szkolnych oznaczonych literą "S" na trasie Starołęka PKM – Wiórek oraz bez wjazdów na przystanek Kamionki/Szkoła (kursy skrócone do pętli w Kamionkach);</li>
 <li>linia nr 560 – kurs o godz. 6:12 z przystanku Zaniemyśl/Kościół odbędzie się o godz. 6:02;</li>
 <li>linia nr 603 – brak kursu o godzinie 7:00 z pętli Łęczyca/Dworcowa;</li>
 <li>linia nr 690 – brak kursu o godzinie 7:46 z pętli Luboń/Kręta;</li>
 <li>linia nr 729 – brak kursów z Ogrodów o godzinie 7:55, 8:30, 13:50, 15:30, 16:15 i 17:40 oraz brak kursów z przystanku Dopiewo/Dworzec Kolejowy o godzinie 6:35, 6:50, 8:20, 15:00 i 16:35;</li>
 <li>linia nr 813 – na kursach o godzinie 14:07 i 16:12 z Ogrodów autobusy będą dodatkowo wjeżdżać na pętlę w Kokoszczynie;</li>
 <li>linie nr 825, 826, 881, 886, 889 – brak kursów;</li>
 <li>linia nr 905 – bez wjazdów na pętlę Suchy Las/TAEiS;</li>
 <li>linia nr 219 – w nocy z 23 na 24 grudnia kursy jak w nocy z piątku na sobotę, bez kursów do i ze Starzyn;</li>
 <li>linie nr 250, 252, 253, 257 i 258 – w nocy z 23 na 24 grudnia brak kursów</li>
</ul>
<p>
 <span style="font-size: 14pt;">24 grudnia (wtorek) – Wigilia Bożego Narodzenia</span>
</p>
<p>
 <span style="font-size: 12pt;">Obowiązuje sobotni rozkład jazdy, z wyjątkiem linii nr 431, 432, 433, 801, 802, 803, 804, 811, 812, 813 i 821, na których autobusy pojadą wg roboczego rozkładu.</span>
 <span style="font-size: 12pt;">Nie będą kursować autobusy na liniach nr: 341, 388, 392, 394, 396, 397, 416, 561, 602, 616, 690, 704, 715, 825, 826, 881, 882, 886, 889, 891 i 893.</span>
</p>
<p>Pozostałe zmiany:</p>
<ul>
 <li>linie nr 173 – kursy do godziny 21:00;</li>
 <li>linia nr 312 – ostatni kurs z dworca Rondo Śródka o godzinie 16:15, a z przystanku Promnice/Północna o godzinie 15:43;</li>
 <li>linia nr 320 – brak kursu z dworca Rondo Śródka o godzinie 5:15, brak kursów wieczornych;</li>
 <li>linia nr 321 – ostatni kurs z dworca Rondo Śródka o godzinie 16:55, a z pętli w Kicinie o godzinie 17:16;</li>
 <li>linia nr 322 – kursy do godz. 17:00;</li>
 <li>linia nr 323 – ostatni kurs z dworca Rondo Śródka o godzinie 15:35, a z pętli w Tucznie o godzinie 16:28;</li>
 <li>linia nr 342 – brak kursu z pętli w Przebędowie o godzinie 3:50, ostatni kurs z dworca Rondo Śródka o godzinie 15:23, a z pętli w Przebędowie o godzinie 16:27;</li>
 <li>linia nr 348 – kursy bez ograniczeń;</li>
 <li>linia nr 425 – kursy do godziny 21:00;</li>
 <li>linia nr 431 – ostatni kurs z dworca Rondo Rataje o godzinie 20:10, a z pętli Kleszczewo/Park o godzinie 18:12;</li>
 <li>linia nr 432 – ostatni kurs z dworca Rondo Rataje o godzinie 19:34, a z pętli Kleszczewo/Park o godzinie 18:42;</li>
 <li>linia nr 433 – kursy bez ograniczeń;</li>
 <li>linia nr 501 – ostatni kurs z dworca Rondo Rataje o godzinie 19:00, a z przystanku Kórnik/Bnin Osiedle o godzinie 17:52;</li>
 <li>linia nr 512 – ostatni kurs z dworca Rondo Rataje o godzinie 18:55, a z przystanku Borówiec/Dębowa o godzinie 17:50;</li>
 <li>linia nr 527 – ostatni kurs z dworca Starołęka PKM o godzinie 19:40, a z pętli w Kamionkach o godzinie 18:40;</li>
 <li>linia nr 560 – ostatni kurs z dworca Rondo Rataje o godzinie 18:00, a z przystanku Zaniemyśl/Kościół o godzinie 16:32;</li>
 <li>linia nr 603 – ostatni kurs z dworca Garbary PKM o godzinie 21:01, a z pętli Łęczyca/Dworcowa o godzinie 20:15;</li>
 <li>linia nr 610 – ostatni kurs z dworca Górczyn PKM o godzinie 20:25, a z pętli Dębiec PKM o godzinie 20:45;</li>
 <li>linia nr 611 – ostatni kurs z pętli Dębiec PKM do przystanku Sycowska Centrum Handlowe o godzinie 13:30 (kurs powrotny o godzinie 13:52), ostatni kurs z pętli Dębiec PKM o godzinie 17:00, a z pętli Luboń/Żabikowo o godzinie 16:55;</li>
 <li>linia nr 614 – ostatni kurs z dworca Górczyn PKM o godzinie 16:36, a z pętli Łęczyca/Dworcowa o godzinie 15:30;</li>
 <li>linia nr 651 – ostatni kurs z dworca Dębiec PKM o godzinie 19:00, a z przystanku Mosina/Dworzec Kolejowy o godzinie 20:15;</li>
 <li>linia nr 701 – ostatni kurs z pętli Komorniki/Jeziorna o godzinie 18:30, a z dworca Górczyn PKM o godzinie 19:31;</li>
 <li>linia nr 702 – ostatni kurs z przystanku Komorniki/Os. Zielone Wzgórze o godzinie 18:43, a z dworca Górczyn PKM o godzinie 19:25;</li>
 <li>linia nr 703 – ostatni kurs z dworca Górczyn PKM o godzinie 16:30, a kurs z pętli w Konarzewie o godzinie 20:40 będzie skrócony do przystanku Komorniki/Centrum, (od około godz. 14:00 bez wjazdów na przystanek Sycowska Centrum Handlowe);</li>
 <li>linia nr 705 – ostatni kurs z pętli w Konarzewie o godzinie 19:10, a z dworca Górczyn PKM o godzinie 20:00 (od około godziny 14:00 bez wjazdów na przystanek Sycowska Centrum Handlowe);</li>
 <li>linia nr 707 – ostatni kurs z przystanku Rosnówko PKM o godzinie 12:20, a z dworca Górczyn PKM o godzinie 19:05 (od około godziny 14:00 bez wjazdów na przystanek Sycowska Centrum Handlowe);</li>
 <li>linia nr 710 – kursy bez ograniczeń;</li>
 <li>linia nr 716 – ostatni kurs z pętli Głuchowo/Stawna o godzinie 19:12, a z dworca Junikowo o godzinie 19:45;</li>
 <li>linia nr 727 – kursy bez ograniczeń;</li>
 <li>linia nr 729 – ostatni kurs z Ogrodów o godzinie 19:16, a z przystanku Dopiewo/Dworzec Kolejowy o godzinie 18:05;</li>
 <li>linia nr 801 – ostatni z pętli Baranowo/Os. Rubinowe o godzinie 17:02, a z Ogrodów o godzinie 16:35;</li>
 <li>linia nr 802 – ostatni kurs z przystanku Tarnowo Podgórne/Centrum o godzinie 21:15, a Ogrodów o godzinie 22:10; kurs z Ogrodów o godzinie 19:10 będzie wydłużony do przystanku Tarnowo Pdg/Centrum;</li>
 <li>linia nr 803 – ostatni kurs z dworca Junikowo o godz. 15:55, a z Ogrodów o godzinie 17:00;</li>
 <li>linia nr 804 – ostatni kurs z pętli Sierosław/Działki o godzinie 15:55, a z Ogrodów o godzinie 17:50;</li>
 <li>linia nr 811 – ostatni kurs z pętli w Lusówku o godzinie 18:39, z przystanku Sierosław/Dworska o godzinie 16:41, a z Ogrodów o godzinie 17:40; kursy z pętli w Lusówku o godzinie 17:44 i 18:39 będą skrócone do przystanku Tarnowo Pdg/Centrum; przez cały dzień będą autobusy będą obsługiwały przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linia nr 812 – ostatni kurs z pętli w Grzebienisku o godzinie 17:58, z przystanku Ceradz Kościelny/Kościół o godzinie 18:58, a z Ogrodów o godzinie 16:55; kursy z pętli w Grzebienisku o godzinie 15:48 i 17:07 będą skrócone do przystanku Tarnowo Pdg/Centrum; przez cały dzień będą autobusy będą obsługiwały przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linie nr 813 – na kursach o godzinie 14:07 i 16:12 z Ogrodów autobusy będą dodatkowo wjeżdżać na pętlę w Kokoszczynie; ostatni kurs z przystanku Kaźmierz/Rynek o godzinie 20:57 (kurs skrócony do przystanku Tarnowo Pdg/Centrum, tak samo jak kurs o godzinie 17:07); ostatni kurs z Ogrodów o godzinie 20:00; przez cały dzień będą autobusy będą obsługiwały przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linia nr 821 – ostatni kurs z pętli Lusówko/Os. Rozalin o godzinie 17:50 (kurs skrócony do przystanku Tarnowo Pdg/Centrum, tak samo jak kurs o godzinie 17:05), ostatni kurs z Ogrodów o godzinie 16:50;</li>
 <li>linia nr 832 – ostatni kurs z pętli w Przybrodzie o godzinie 14:28, a z dworca Os. Sobieskiego o godzinie 15:35;</li>
 <li>linia nr 833 – ostatni kurs z pętli Starzyny/Rynkowa o godzinie 14:27, a z Ogrodów o godzinie 15:15;</li>
 <li>linia nr 834 – ostatni kurs z pętli w Żydowie o godzinie 13:19, a z Ogrodów o godzinie 14:15;</li>
 <li>linia nr 835 – ostatni kurs z pętli Kiekrz 14:40 o godzinie, a z Ogrodów o godzinie 15:15; brak kursów z pętli Kiekrz o godzinie 4:30 oraz z Ogrodów o godzinie 5:12;</li>
 <li>linia nr 836 – ostatni kurs z przystanku Kobylniki/Tarnowska o godzinie 11:52, a z Ogrodów o godzinie 11:10;</li>
 <li>linia nr 837 – ostatni kurs z pętli w Pawłowicach o godzinie 13:17, a z Ogrodów o godzinie 12:40;</li>
 <li>linia nr 901 – ostatni kurs z dworca Os. Sobieskiego o godzinie 18:30, a z pętli Złotniki/Osiedle o godzinie 17:35;</li>
 <li>linia nr 902 – ostatni kurs z dworca Os. Sobieskiego o godzinie 19:40, a z pętli Suchy Las/TAEiS o godzinie 19:10;</li>
 <li>linia nr 904 – kursy bez ograniczeń;</li>
 <li>linia nr 905 – ostatni kurs z dworca Os. Sobieskiego o godzinie 19:55, a z przystanku Chludowo/Szkoła o godzinie 18:55;</li>
 <li>linia nr 907 – ostatni kurs z dworca Os. Sobieskiego o godzinie 19:10, a z przystanku Chludowo/Szkoła o godzinie 18:15;</li>
 <li>linia nr 911 – kursy do godz. 17:00, dodatkowy kurs z dworca Śródka o godz. 16:35 (zamiast kursu linii nr 167);</li>
 <li>linia nr 215 – w nocy z 24 na 25 grudnia kursy od godziny 16:00 do 21:00 co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina, a od 21:00 do 23:00 co 30 minut, co drugi kurs wydłużony do Lubonia/Kręta, dalej według rozkładu jazdy z nocy z soboty na niedzielę, od 6:00 do 12:00 co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina;</li>
 <li>linia nr 219 – w nocy z 24 na 25 grudnia kursy od godziny 16:00 do 21:00 co 30 minut tylko na odcinku Poznań Główny – Wichrowa, a od 21:00 do 23:00 co 30 minut, co drugi kurs wydłużony do Kiekrza, brak kursów do pętli w Starzynach; dalej według rozkładu jazdy z nocy z niedzieli na poniedziałek, od 6:00 do 12:00 co 30 minut na odcinku Poznań Główny – Ogrody;</li>
 <li>linia nr 224 – do godz. 23:00 w nocy z 24 na 25 grudnia brak kursów do przystanku Plewiska/Straż Pożarna;</li>
 <li>linia nr 227 – w nocy z 24 na 25 grudnia kursy od godziny 16:00 do 21:00 co 30 minut na odcinku Rondo Rataje – Koziegłowy, a od 21:00 do 23:00 co 30 minut, co drugi kurs na odcinku Rondo Rataje – Koziegłowy; dalej według rozkładu jazdy z nocy z soboty na niedzielę, od 6:00 do 12:00 co 30 minut, co drugi kurs na odcinku Rondo Rataje – Koziegłowy;</li>
 <li>linie nr 250, 252, 253, 257 i 258 – w nocy z 24 na 25 grudnia brak kursów.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  25 grudnia (środa) – Boże Narodzenie
  <br/>
 </span>
</p>
<p>Obowiązuje świąteczny rozkład jazdy i następujące zmiany:</p>
<ul>
 <li>linia nr 173 – kursy od godziny 8:00;</li>
 <li>linia nr 320 – brak kursów porannych;</li>
 <li>linia nr 321 – pierwszy kurs z przystanku Rondo Śródka o godzinie 11:55, a z przystanku Kicin/Pętla o godzinie 12:30;</li>
 <li>linia nr 322 – kursy od godziny 12:00;</li>
 <li>linia nr 342 – brak kursu z pętli w Przebędowie o godzinie 3:50;</li>
 <li>linia nr 348 – kursy bez ograniczeń;</li>
 <li>linia nr 425 – kursy od godziny 8:00;</li>
 <li>linia nr 611 – pierwszy kurs z pętli Dębiec PKM realizowany o godzinie 14:00, a z pętli Luboń/Żabikowo o godz. 14:25;</li>
 <li>linia nr 614 – pierwszy kurs z pętli Łęczyca/Dworcowa o godzinie 13:55, a z dworca Górczyn PKM o godz. 14:41;</li>
 <li>linia nr 727 – kursy bez ograniczeń;</li>
 <li>linia nr 729 – brak kursu z przystanku Dopiewo/Dworzec Kolejowy o godzinie 4:20;</li>
 <li>linia nr 834 – brak kursów o z pętli w Żydowie o godzinie 4:11 oraz z Ogrodów o godzinie 5:15;</li>
 <li>linia nr 901 – pierwszy kurs z dworca Os. Sobieskiego o godzinie 7:40, a z pętli Złotniki/Osiedle o godzinie 7:08;</li>
 <li>linia nr 902 – pierwszy kurs z dworca Os. Sobieskiego o godzinie 7:45, a z pętli Suchy Las/TAEiS o godzinie 7:10;</li>
 <li>linia nr 904 – pierwszy kurs z dworca Os. Sobieskiego o godzinie 7:15, a z przystanku Złotniki/Wieś o godzinie 6:30;</li>
 <li>linia nr 907 – pierwszy kurs z dworca Os. Sobieskiego o godzinie 7:35, a z przystanku Chludowo/Szkoła o godzinie 6:00;</li>
 <li>linia nr 911 – kursy od godziny 12:00;</li>
 <li>linia nr 219 – kursy w noce z 25 na 26 oraz z 26 na 27 grudnia odbędą się zgodnie z rozkładem obowiązującym z niedzieli na poniedziałek z wydłużonym kursowaniem do godziny 6:00;</li>
 <li>linie nr 250, 252, 253, 257 i 258 – w noce z 25 na 26, oraz z 26 na 27 grudnia brak kursów.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  26 grudnia (czwartek) – II dzień świąt Bożego Narodzenia
  <br/>
 </span>
</p>
<p>Obowiązuje świąteczny rozkład jazdy i następujące zmiany:</p>
<ul>
 <li>linia nr 342 – brak kursu z pętli w Przebędowie o godzinie 3:50;</li>
 <li>linia nr 834 – brak kursów z pętli w Żydowie o godzinie 4:11 oraz z Ogrodów o godzinie 5:15;</li>
 <li>linia nr 729 – brak kursu z przystanku Dopiewo/Dworzec Kolejowy o godzinie 4:20;</li>
</ul>
<p>
 <span style="font-size: 14pt;">27 grudnia (piątek)</span>
</p>
<p>
 <span style="font-size: 12pt;">Będzie obowiązywał sobotni rozkład jazdy, z wyjątkiem linii nr 431, 432, 433, 501, 502, 503, 511, 512, 527, 560, 561, 704, 832, 833, 834, 835, 836, 837, 882, 891, 893, 901, 902, 904, 905 i 907, na których kursy odbędą się wg roboczego grafika.</span>
</p>
<p>Pozostałe zmiany:</p>
<ul>
 <li>linia nr 320 – brak kursu z dworca Rondo Śródka o godzinie 5:15;</li>
 <li>linia nr 342 – brak kursu z pętli w Przebędowie o godzinie 3:50;</li>
 <li>linia nr 431 – bez wjazdów na przystanek Kleszczewo/Szkoła II;</li>
 <li>linia nr 432 – bez wjazdów na przystanki Bylin/Wieś i Kleszczewo/Szkoła II;</li>
 <li>linia nr 501 – brak kursu o godzinie 6:09 z pętli Błażejewo/Os. Przylesie;</li>
 <li>linia nr 502 – bez wjazdów na przystanek Szczodrzykowo/Szkoła;</li>
 <li>linia nr 512 – bez wjazdów na przystanek Kamionki/Szkoła;</li>
 <li>linia nr 527 – brak kursów szkolnych oznaczonych literą "S" na trasie Starołęka PKM – Wiórek oraz bez wjazdów na przystanek Kamionki/Szkoła (kursy skrócone do pętli w Kamionkach);</li>
 <li>linia nr 560 – kurs o godzinie 6:12 z przystanku Zaniemyśl/Kościół będzie przyspieszony na godz. 6:02;</li>
 <li>linia nr 704 – kurs o godzinie 7:00 z przystanku Komorniki/Topolowa zostanie przesunięty na godzinę 7:05.</li>
</ul>
<p>W nocy z 27 na 28 grudnia wykonywane będą kursy linii nocnych nr 250, 252, 253, 254, 257 oraz podmiejskie kursy linii nr 219.</p>
<p>
 <span style="font-size: 14pt;">28 grudnia (sobota)</span>
</p>
<p>Obowiązuje sobotni rozkład jazdy.</p>
<p>
 <span style="font-size: 14pt;">
  29 grudnia (niedziela)
  <br/>
 </span>
</p>
<p>Obowiązuje świąteczny rozkład jazdy.</p>
<p>
 <span style="font-size: 14pt;">
  30 grudnia (poniedziałek)
  <br/>
 </span>
</p>
<p>Obowiązuje roboczy rozkład jazdy, z następującymi zmianami:</p>
<ul>
 <li>linia nr 312 – bez wjazdów na przystanek Bolechowo-Osiedle/Zespół Szkół;</li>
 <li>linia nr 323 – bez wjazdów na przystanek Mielno/Lisia;</li>
 <li>linia nr 388 – ostatni kurs z przystanku Czerwonak/PKM o godzinie 9:16, a z przystanku Dębogóra/Dąbrówki o godzinie 9:44;</li>
 <li>linia nr 392 – ostatni kurs z przystanku Potasze/Jodłowa o godzinie 7:37, a z przystanku Owińska/PKM o godzinie 8:05;</li>
 <li>linia nr 394 – ostatni kurs z przystanku Miękowo/Stokrotkowa o godzinie 10:55, a z przystanku Czerwonak/PKM o godzinie 10:24;</li>
 <li>linia nr 396 – ostatni kurs z przystanku Potasze/Jodłowa o godzinie 9:01, a z przystanku Koziegłowy/Szkoła o godzinie 8:00;</li>
 <li>linia nr 397 – ostatni kurs z pętli Biedrusko/Park o godzinie 7:12, a z przystanku Trzaskowo/Wieś o godzinie 7:00;</li>
 <li>linia nr 431 – bez wjazdów na przystanek Kleszczewo/Szkoła II;</li>
 <li>linia nr 432 – bez wjazdów na przystanki Bylin/Wieś i Kleszczewo/Szkoła II;</li>
 <li>linia nr 501 – brak kursu o godzinie 6:09 z pętli Błażejewo/Os. Przylesie;</li>
 <li>linia nr 502 – bez wjazdów na przystanek Szczodrzykowo/Szkoła;</li>
 <li>linia nr 512 – bez wjazdów na przystanek Kamionki/Szkoła;</li>
 <li>linia nr 527 – brak kursów szkolnych oznaczonych literą "S" na trasie Starołęka PKM – Wiórek oraz bez wjazdów na przystanek Kamionki/Szkoła (kursy skrócone do pętli w Kamionkach);</li>
 <li>linia nr 560 – kurs o godzinie 6:12 z przystanku Zaniemyśl/Kościół będzie przyspieszony na godzinę 6:02;</li>
 <li>linia nr 603 – brak kursu o godzinie 7:00 z pętli Łęczyca/Dworcowa;</li>
 <li>linia nr 690 – brak kursu o godzinie 7:46 z pętli Luboń/Kręta;</li>
 <li>linia nr 813 – na kursach o godzinie 14:07 i 16:12 z Ogrodów autobusy będą dodatkowo wjeżdżać na pętlę w Kokoszczynie;</li>
 <li>linie nr 825, 826, 881, 886 i 889 – brak kursów;</li>
 <li>linia nr 729 – brak kursów z Ogrodów o godzinie 7:55, 8:30, 13:50, 15:30, 16:15 i 17:40, a z przystanku Dopiewo/Dworzec Kolejowy o godzinie 6:35, 6:50, 8:20, 15:00 i 16:35;</li>
 <li>linia nr 905 – bez wjazdu na pętlę Suchy Las/TAEiS.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  31 grudnia (wtorek) – Sylwester
  <br/>
 </span>
</p>
<p>Obowiązuje roboczy rozkład jazdy, z wyjątkiem linii nr 832, 833, 834, 835, 836 i 837, na których autobusy pojadą wg rozkładu sobotniego.</p>
<p>Pozostałe zmiany:</p>
<ul>
 <li>linia nr 173 – kursy bez ograniczeń;</li>
 <li>linia nr 312 – bez wjazdów na przystanek Bolechowo-Osiedle/Zespół Szkół, ostatni kurs z dworca Rondo Śródka o godzinie 20:10, a z przystanku Promnice/Północna o godzinie 20:05;</li>
 <li>linia nr 320 – ostatni kurs z dworca Rondo Śródka o godzinie 20:45, a z przystanku Koziegłowy/Zakłady Drobiarskie o godzinie 20:20;</li>
 <li>linia nr 321 – ostatni kurs z dworca Rondo Śródka o godzinie 21:05, a z przystanku Kicin/Pętla o godzinie 20:48;</li>
 <li>linia nr 322 – kursy do godziny 21:00;</li>
 <li>linia nr 323 – bez wjazdów na przystanek Mielno/Lisia, ostatni kurs z dworca Rondo Śródka o godzinie 20:50, a z pętli w Tucznie o godzinie 19:18;</li>
 <li>linia nr 341 – kursy bez ograniczeń;</li>
 <li>linia nr 342 – ostatni kurs z dworca Rondo Śródka o godzinie 20:48, a z pętli w Przebędowie o godzinie 20:30;</li>
 <li>linia nr 348 – kursy bez ograniczeń;</li>
 <li>linia nr 388 – ostatni kurs z przystanku Czerwonak/PKM o godzinie 9:16, a z przystanku Dębogóra/Dąbrówki o godzinie 9:44;</li>
 <li>linia nr 392 – ostatni kurs z przystanku Potasze/Jodłowa o godzinie 7:37, a z przystanku Owińska/PKM o godzinie 8:05;</li>
 <li>linia nr 394 – ostatni kurs z przystanku Miękowo/Stokrotkowa o godzinie 10:55, a z przystanku Czerwonak/PKM o godzinie 10:24;</li>
 <li>linia nr 396 – ostatni kurs z przystanku Potasze/Jodłowa o godzinie 9:01, a z przystanku Koziegłowy/Szkoła o godzinie 8:00;</li>
 <li>linia nr 397 – ostatni kurs z pętli Biedrusko/Park o godzinie 7:12, a z przystanku Trzaskowo/Wieś o godzinie 7:00;</li>
 <li>linie nr 416, 425 – kursy bez ograniczeń;</li>
 <li>linia nr 431 – bez wjazdów na przystanek Kleszczewo/Szkoła II, ostatni kurs z dworca Rondo Rataje o godz. 20:10, a z pętli Kleszczewo/Park o godzinie 19:53;</li>
 <li>linia nr 432 – bez wjazdów na przystanek Bylin/Wieś i Kleszczewo/Szkoła II, ostatni kurs z dworca Rondo Rataje o godzinie 20:40, a z pętli Kleszczewo/Park o godzinie 18:42;</li>
 <li>linia nr 433 – kursy bez ograniczeń;</li>
 <li>linia nr 501 – brak kursu o godzinie 6:09 z pętli Błażejewo/Os. Przylesie, ostatni kurs z dworca Rondo Rataje o godzinie 21:28, a z przystanku Kórnik/Bnin Osiedle o godzinie 17:37;</li>
 <li>linia nr 502 – bez wjazdów na przystanek Szczodrzykowo/Szkoła;</li>
 <li>linia nr 503 – ostatni kurs z dworca Rondo Rataje realizowany o godzinie 18:58, a z przystanku Szczodrzykowo/Szkoła o godzinie 18:15;</li>
 <li>linia nr 511 – ostatni kurs z dworca Rondo Rataje o godzinie 20:30, a z przystanku Kamionki/Klonowa o godzinie 19:15;</li>
 <li>linia nr 512 – bez wjazdów na przystanek Kamionki/Szkoła, ostatni kurs z dworca Rondo Rataje o 21:25, a z przystanku Borówiec/Szkoła o 20:23;</li>
 <li>linia nr 527 – brak kursów szkolnych oznaczonych literą "S" na trasie Starołęka PKM – Wiórek oraz bez wjazdów na przystanek Kamionki/Szkoła (kursy skrócone do pętli w Kamionkach), ostatni kurs z przystanku Starołęka PKM o godzinie 21:35, a z przystanku Kamionki/Pętla o godzinie 21:00;</li>
 <li>linia nr 560 – kurs o godzinie 6:12 z przystanku Zaniemyśl/Kościół będzie przyspieszony na godz. 6:02, ostatni kurs z dworca Rondo Rataje o godzinie 19:13, a z przystanku Zaniemyśl/Kościół o godzinie 19:12;</li>
 <li>linie nr 561, 602 – kursy bez ograniczeń;</li>
 <li>linia nr 603 – brak kursu o godzinie 7:00 z pętli Łęczyca/Dworcowa, ostatni kurs z dworca Garbary PKM o godzinie 20:49, a z pętli Łęczyca/Dworcowa o godz. 20:33;</li>
 <li>linia nr 610 – ostatni kurs z dworca Górczyn PKM realizowany będzie o godzinie 21:00, a z pętli Dębiec PKM o godzinie 20:51;</li>
 <li>linia nr 611 – ostatni kurs z pętli Dębiec PKM do przystanku Sycowska Centrum Handlowe o godzinie 18:20 (kurs powrotny o godzinie 18:47), ostatni kurs z pętli Dębiec PKM o godzinie 20:35, a z pętli Luboń/Żabikowo o godzinie 21:05;</li>
 <li>linia nr 614 – ostatni kurs z dworca Górczyn PKM o godzinie 20:43, a z pętli Łęczyca/Dworcowa o godzinie 20:38;</li>
 <li>linia nr 616 – kursy bez ograniczeń;</li>
 <li>linia nr 690 – brak kursu o godzinie 7:46 z pętli Luboń/Kręta;</li>
 <li>linia nr 651 – ostatni kurs z pętli Dębiec PKM o godzinie 19:57, a z przystanku Mosina/Dworzec Kolejowy o godzinie 19:05;</li>
 <li>linia nr 701 – ostatni kurs z pętli Komorniki/Jeziorna o godzinie 19:23, a z dworca Górczyn PKM o godzinie 20:16;</li>
 <li>linia nr 702 – ostatni kurs z przystanku Komorniki/Os. Zielone Wzgórze o godzinie 19:31, a z dworca Górczyn PKM o godzinie 20:30;</li>
 <li>linia nr 703 – ostatni kurs z dworca Górczyn PKM o godzinie 16:00, a z pętli w Konarzewie o godzinie 19:35;</li>
 <li>linia nr 704 – ostatni kurs z przystanku Komorniki/Topolowa o godzinie 19:46, a z dworca Górczyn PKM o godzinie 20:25;</li>
 <li>linia nr 705 – ostatni skrócony kurs z pętli w Konarzewie do przystanku Komorniki/Centrum o godzinie 20:25, a z dworca Górczyn PKM o godzinie 20:20 (od około godz. 19:00 bez wjazdów na przystanek Sycowska Centrum Handlowe);</li>
 <li>linia nr 707 – od około godziny 19:00 bez wjazdów na przystanek Sycowska Centrum Handlowe;</li>
 <li>linia nr 710 – ostatni kurs z przystanku Komorniki/Kolumba o godzinie 19:35, a z dworca Górczyn PKM o godzinie 20:10;</li>
 <li>linia nr 715 – ostatni kurs z przystanku Komorniki/Urząd Gminy o godzinie 19:42, a z dworca Junikowo o godz. 20:30;</li>
 <li>linia nr 716 – ostatni kurs z pętli Głuchowo/Stawna o godzinie 19:13, a z dworca Junikowo o godzinie 20:00;</li>
 <li>linia nr 727 – kursy bez ograniczeń;</li>
 <li>linia nr 729 – ostatni kurs z Ogrodów o godzinie 19:35 (brak kursów o godz. 7:55, 8:30, 13:50, 15:30, 16:15 i 17:40), a z przystanku Dopiewo/Dworzec Kolejowy o godzinie 18:30 (brak kursów o godzinie 6:35, 6:50, 8:20, 15:00 i 16:30);</li>
 <li>linia nr 801 – ostatni kurs z pętli Baranowo/Os. Rubinowe o godzinie 17:02, a z Ogrodów o godzinie 16:35;</li>
 <li>linia nr 802 – ostatni kurs z przystanku Tarnowo Podgórne/Centrum o godzinie 21:15, a Ogrodów o godzinie 22:10; kurs z Ogrodów o godzinie 19:10 wydłużony do przystanku Tarnowo Pdg/Centrum;</li>
 <li>linia nr 803 – ostatni kurs z dworca Junikowo o godzinie 15:55, a z Ogrodów o godzinie 17:00;</li>
 <li>linia nr 804 – ostatni kurs z pętli Sierosław/Działki o godzinie 15:55, a z Ogrodów o godzinie 19:50;</li>
 <li>linia nr 811 – ostatni kurs z pętli w Lusówku o godzinie 19:24 (kurs skrócony do przystanku Tarnowo Pdg/Centrum), z przystanku Sierosław/Dworska o godzinie 16:41, a z Ogrodów o godzinie 18:50; przez cały dzień autobusy będą wjeżdżać na przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linia nr 812 – ostatni kurs z pętli w Grzebienisku o godzinie 19:58, z przystanku Ceradz Kościelny/Kościół o godzinie 20:09, a z Ogrodów o godzinie 19:00; przez cały dzień autobusy będą wjeżdżać na przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linie nr 813 – na kursach o godzinie 14:07 i 16:12 z Ogrodów autobusy będą dodatkowo wjeżdżać na pętlę w Kokoszczynie; ostatni kurs z przystanku Kaźmierz/Rynek o godzinie 20:57 (kurs skrócony do przystanku Tarnowo Pdg/Centrum, tak samo jak kurs o godzinie 17:07); a z Ogrodów o godzinie 20:00; kurs z Ogrodów o godzinie 17:15 będzie w tym dniu skrócony do przystanku Tarnowo Pdg/Centrum; przez cały dzień autobusy będą wjeżdżać na przystanek Swadzim/Auchan zgodnie z oznaczeniami w rozkładach jazdy;</li>
 <li>linia nr 821 – ostatni kurs z pętli Lusówko/Os. Rozalin o godzinie 17:50, a z Ogrodów o godzinie 16:50; kurs z pętli Lusówko/Os. Rozalin o godzinie 17:05 będzie skrócony do przystanku Tarnowo Pdg/Centrum;</li>
 <li>linie nr 825, 826 – brak kursów;</li>
 <li>linia nr 832 – ostatni kurs z pętli w Przybrodzie o godzinie 18:38, a z dworca Os. Sobieskiego o godzinie 19:35;</li>
 <li>linia nr 833 – ostatni kurs z pętli Starzyny/Rynkowa o godzinie 19:27, a z Ogrodów o godzinie 20:15;</li>
 <li>linia nr 834 – ostatni kurs z pętli w Żydowie o godzinie 18:20, a z Ogrodów o godzinie 19:15;</li>
 <li>linia nr 835 – ostatni kurs z pętli Kiekrz 19:40 o godzinie, a z Ogrodów o godzinie 20:20; brak kursów z pętli Kiekrz o godzinie 4:30 oraz z Ogrodów o godzinie 5:12;</li>
 <li>linia nr 836 – kursy zgodnie z rozkładem sobotnim, bez ograniczeń;</li>
 <li>linia nr 837 – kursy zgodnie z rozkładem sobotnim bez ograniczeń;</li>
 <li>linie nr 881, 882, 886, 889, 891, 893 – brak kursów;</li>
 <li>linia nr 901 – ostatni kurs z dworca Os. Sobieskiego o godzinie 21:30, a z pętli Złotniki/Osiedle o godzinie 20:45;</li>
 <li>linia nr 902 – ostatni kurs z dworca Os. Sobieskiego o godzinie 21:00, a z pętli Suchy Las/TAEiS o godzinie 20:25;</li>
 <li>linia nr 904 – ostatni kurs z dworca Os. Sobieskiego o godzinie 21:05, a z pętli Złotniki/Wieś o godzinie 20:35;</li>
 <li>linia nr 905 – bez wjazdów na pętlę Suchy Las/TAEiS, ostatni kurs z dworca Os. Sobieskiego o godzinie 18:55, a z przystanku Chludowo/Szkoła o godzinie 17:00;</li>
 <li>linia nr 907 – ostatni kurs z dworca Os. Sobieskiego o godzinie 21:45, a z przystanku Chludowo/Szkoła o godzinie 20:20.</li>
 <li>linia nr 911 – kursy bez ograniczeń;</li>
 <li>linia nr 215 – w nocy z 31 grudnia na 1 stycznia kursy od godziny 21:00, autobusy kursować będą do os. Dębina (co 60 minut) i do Lubonia (co 60 minut); po godzinie 23:00 kursy według rozkładu jazdy z soboty na niedzielę; od godziny 6:00 do 12:00 kursy co 30 minut tylko na odcinku Os. Sobieskiego – Os. Dębina;</li>
 <li>linia nr 219 – w nocy z 31 grudnia na 1 stycznia kursy od godziny 21:00 (co 30 minut) na odcinku Poznań Główny – Wichrowa; po godzinie 23:00 kursy według rozkładu jazdy z soboty na niedzielę; od godziny 6:00 do 12:00 kursy co 30 minut na odcinku Poznań Główny – Ogrody</li>
 <li>linia nr 224 – w nocy z 31 grudnia na 1 stycznia kursy od godziny 21:00 co 60 minut do Junikowa PKM; po godzinie 23:00 według rozkładu jazdy z soboty na niedzielę; od godziny 6:00 do 12:00 co 60 minut, wszystkie kursy do Malwowej przez Junikowo PKM w obu kierunkach</li>
 <li>linia nr 227 – w nocy z 31 grudnia na 1 stycznia kursy od godziny 21:00 co 30 minut na odcinku Rondo Rataje – Koziegłowy; po godzinie 23:00 według rozkładu jazdy z soboty na niedzielę, od godziny 6:00 do 8:00 co 30 minut, co drugi kurs na odcinku Rondo Rataje – Koziegłowy, od godziny 8:00 do 12:00 kursy co 30 minut na odcinku Rondo Rataje – Koziegłowy</li>
 <li>linie nr 250, 252, 253, 257 i 258 – kursy w nocy z 31 grudnia na 1 stycznia zgodnie z rozkładem jazdy z soboty na niedzielę.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  1 stycznia 2025 (środa) – Nowy Rok
  <br/>
 </span>
</p>
<p>Obowiązuje świąteczny rozkład jazdy z następującymi zmianami:</p>
<ul>
 <li>linia nr 173 – kursy od godziny 8:00;</li>
 <li>linia nr 320 – brak kursów porannych;</li>
 <li>linia nr 321 – pierwszy kurs z dworca Rondo Śródka o godzinie 11:55, a z pętli w Kicinie o godzinie 12:30;</li>
 <li>linia nr 322 – kursy od godziny 12:00;</li>
 <li>linia nr 425 – kursy od godziny 8:00;</li>
 <li>linia nr 611 – pierwszy kurs z pętli Dębiec PKM o godzinie 14:00, a z pętli Luboń/Żabikowo o godzinie 14:25;</li>
 <li>linia nr 614 – pierwszy kurs z pętli Łęczyca/Dworcowa o godzinie 13:55, a z dworca Górczyn PKM o godzinie 14:41;</li>
 <li>linia nr 701 – pierwszy kurs z pętli Komorniki/Jeziorna o godzinie 6:00;</li>
 <li>linia nr 702 – pierwszy kurs z przystanku Komorniki/Os. Zielone Wzgórze o godzinie 5:37;</li>
 <li>linia nr 703 – pierwszy kurs z dworca Górczyn PKM o godzinie 8:25;</li>
 <li>linia nr 705 – pierwszy kurs z pętli w Konarzewie o godzinie 6:10;</li>
 <li>linia nr 710 – pierwszy kurs z przystanku Komorniki/Kolumba o godzinie 6:20;</li>
 <li>linia nr 716 – pierwszy kurs z pętli Głuchowo/Stawna o godzinie 6:10;</li>
 <li>linia nr 834 – brak kursów z pętli w Żydowie o godzinie 4:11 oraz z Ogrodów o godzinie 5:15;</li>
 <li>linia nr 911 – kursy od godziny 12:00.</li>
</ul>
<p>
 <span style="font-size: 14pt;">
  2, 3  stycznia 2025 (czwartek, piątek)
  <br/>
 </span>
</p>
<p>Obowiązuje roboczy rozkład jazdy.</p>
<p>
 <span style="font-size: 14pt;">
  6 stycznia 2025 (poniedziałek) – święto Trzech Króli
  <br/>
 </span>
</p>
<p>Obowiązuje świąteczny rozkład jazdy, ponadto w nocy z 5 na 6 stycznia autobusy na liniach nr 250, 252, 253, 257, 258 będą kursować zgodnie z rozkładem jazdy obowiązującym z soboty</p>
