<p>W dwa kolejne wtorki – 24 oraz 31 grudnia nieczynny będzie Punkt Obsługi Klienta w Tarnowie Podgórnym zlokalizowany przy ulicy Rokietnickiej 23, w siedzibie przewoźnika TPBUS.</p>
<p>Jednocześnie informujemy, że Punkty i Biura Obsługi Klienta ZTM w Poznaniu w Wigilię (24 grudnia) będą pracowały w skróconych godzinach (od godz. 6:00 do 12:00). Natomiast w Sylwestra (wtorek, 31 grudnia) Punkty i Biura Obsługi Klienta będzie czynne od godz. 6:00 do 14:00.</p>
<p>Za niedogodności przepraszamy.</p>
