<p>W związku z listopadową zmianą kolejowych rozkładów jazdy, od wtorku (12 listopada) w celu usprawnienia komunikacji skorygowane zostaną godziny odjazdów linii nr: 388, 394 oraz 396.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich.jpg">
  <img alt="autobus linii podmiejskich" class="aligncenter wp-image-5142 size-medium" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 567px) 100vw, 567px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-567x600.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-567x600.jpg 567w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-968x1024.jpg 968w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-768x813.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-1451x1536.jpg 1451w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich.jpg 1935w" width="567"/>
 </a>
</p>
