<p>W niedzielę (1 grudnia) odbędą  się awaryjne prace naprawcze rozjazdu na węźle Kórnicka. Zmienionymi trasami pojadą tramwaje linii nr 5, 6, 7, 17. Na czas prac uruchomiona zostanie zastępcza linia "za tramwaj" T5, na której autobusy będą kursować pomiędzy rondami   Śródka i  Rataje.</p>
<p>Zmiany w niedzielę, 1 grudnia (pogrubiono zmieniony fragment tras):</p>
<p>Linia nr 5</p>
<p>GÓRCZYN PKM – Matyi – Towarowa – Święty Marcin – Aleje Marcinkowskiego – Podgórna – pl. Bernardyński – Mostowa – Kórnicka – Trasa Kórnicka – Chartowo – Żegrze – Hetmańska – Starołęcka – STAROŁĘKA PKM</p>
<p>Linia nr 6</p>
<p>BUDZISZYŃSKA – Grunwaldzka – Bukowska – Roosevelta – Matyi – Królowej Jadwigi – Krzywoustego – Zamenhofa – Hetmańska – Reymonta – Przybyszewskiego – Dąbrowskiego – OGRODY</p>
<p>Linia nr 7</p>
<p>POŁABSKA – Aleje Solidarności – Murawa – Winogrady – Pułaskiego – Fredry – pl. Ratajskiego – pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Podwale – ZAWADY</p>
<p>Linia nr 17</p>
<p>GÓRCZYN PKM – Matyi – Towarowa – Święty Marcin – Gwarna – pl. Ratajskiego – pl. Wielkopolski – Małe Garbary – Estkowskiego – Wyszyńskiego – Jana Pawła II – Warszawska – MIŁOSTOWO</p>
<p>Autobus za tramwaj T5</p>
<p>RONDO ŚRÓDKA – Jana Pawła II – RONDO RATAJE</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5372" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 450px) 100vw, 450px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska-450x600.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska-450x600.jpg 450w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska-768x1024.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska-1152x1536.jpg 1152w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-5-Glogowska.jpg 1512w" width="450"/>
 </a>
</p>
