<p>Od poniedziałku, 4 listopada w celu polepszenia komunikacji m.in. w rejonie szkoły na Umultowie oraz Kampusu UAM na Morasku nastąpi korekta rozkładu jazdy linii autobusowych nr 188 i 198 w dni robocze.</p>
<p>Zmiany od poniedziałku (4 listopada):</p>
<ul>
 <li>uruchomiony zostanie dodatkowy kurs linii nr 188 z Os. Sobieskiego o godz. 10:05 (przyjazd na przystanek Umultowo Szkoła o godz. 10:34),</li>
 <li>uruchomione zostaną dodatkowe kursy linii nr 198 z pętli UAM Os. Różany Potok na Os. Sobieskiego o godz.: 4:50, 10:39, 18:08,</li>
 <li>uruchomiony zostanie dodatkowy kurs linii nr 198 z przystanku Umultowo Szkoła na Os. Sobieskiego o godz. 10:37,</li>
 <li>
  nastąpi korekta godzin odjazdów wybranych kursów linii nr 198.
  <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188.jpg">
   <img alt="autobus linii nr 188" class="aligncenter size-medium wp-image-5098" decoding="async" fetchpriority="high" height="442" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-600x442.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-600x442.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-1024x754.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-768x566.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-1536x1132.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/zdjecie-przedstawia-autobus-linii-nr-188-2048x1509.jpg 2048w" width="600"/>
  </a>
 </li>
</ul>
