<p>W niedzielę, 24 listopada prowadzone będą prace pielęgnacyjne w obrębie sieci trakcyjnej na ulicy Warszawskiej pomiędzy pętlą Miłostowo a ulicą Krańcową. Spowoduje to konieczność zawieszenia komunikacji tramwajowej na liniach nr 6 i 8. Obie linie zostaną zastąpione linią tramwajową nr 68, natomiast dojazd z Ronda Śródka na Miłostowo zapewni autobus linii T8.</p>
<p>Zmiany w komunikacji 24 listopada (niedziela)</p>
<p>Linie nr 6 i  8 – zawieszone</p>
<p>Linia nr 68 – dodatkowa linia tramwajowa zastępująca linie nr 6 i 8</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/68-2024.11.24.pdf">
  BUDZISZYŃSKA – Grunwaldzka – Roosevelta – most Dworcowy – Matyi – Królowej Jadwigi – Krzywoustego – Rondo rataje – Jana Pawła II – Rondo Śródka – Wyszyńskiego – Małe Garbary – pl. Wielkopolski – pl. Ratajskiego – Fredry – Roosevelta – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – OGRODY
 </a>
</p>
<p>Na wyłączonym z ruchu tramwajowego odcinku od Ronda Śródka do wiaduktu w Antoninku uruchomiona zostanie linia autobusowa "za tramwaj" T8. Kursy do godz. 10:00 będą się odbywały co 15 minut, po godz. 10:00 co 10 minut. Autobus będzie się zatrzymywał  na istniejących przystankach dla linii nocnych.</p>
<p>Linia T8 – autobusowa linia zastępcza "za tramwaj"</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/T8-2024.11.24.pdf">
  RONDO ŚRÓDKA – Warszawska – rondo Obrońców Grodna – Warszawska – RONDO ŚRÓDKA
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5254" decoding="async" fetchpriority="high" height="505" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego-600x505.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego-600x505.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego-1024x862.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego-768x647.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/slider-tramwaj-Dabrowskiego.jpg 1512w" width="600"/>
 </a>
</p>
