<p>W związku z prowadzonymi na pętli tramwajowej Ogrody pracami, od wtorku, 26 listopada do odwołania przystanek tramwajowy na peronie nr 2 będzie przystankiem pojedynczym – drugi tramwaj stojący przy tym przystanku nie będzie obsługiwał pasażerów.</p>
<p>
 Za utrudnienie przepraszamy.
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-scaled.jpg">
  <img alt="Tramwaj na pętli Ogrody" class="aligncenter wp-image-5305 size-medium" decoding="async" fetchpriority="high" height="378" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-600x378.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-600x378.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-1024x645.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-768x483.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-1536x967.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-18-Ogrody-2-2048x1289.jpg 2048w" width="600"/>
 </a>
</p>
