<p>W sobotę (23 listopada) o godzinie 17:30 na Enea Stadionie rozpocznie się mecz ekstraklasy Lech Poznań – GKS Katowice. Aby ułatwić kibicom dotarcie na stadion i powrót do domów oraz w celu utrzymania standardu podróżowania dla pozostałych pasażerów Zarząd Transportu Miejskiego wzmocni komunikację zbiorową na liniach obsługujących rejon ulicy Bułgarskiej. Przypominamy, że kibice mogą dojechać na stadion i wrócić na podstawie biletu lub karnetu meczowego, do czego zachęcamy.</p>
<p>Wzmocnienie komunikacji przed meczem:</p>
<p>Linie nr 145, 163, 191, 193 –  obsługa bardziej pojemnym taborem,</p>
<p>Linie nr 1, 6, 13, 15 – dodatkowe kursy.</p>
<p>Wzmocnienie komunikacji po meczu:</p>
<p>Linie nr 145, 163, 191, 193 – obsługa bardziej pojemnym taborem,</p>
<p>Linie nr 1, 6, 13, 15 – dodatkowe kursy.</p>
<p>Bilety</p>
<p>Kibice wybierający się na Enea Stadion przy ulicy Bułgarskiej mogą podróżować środkami komunikacji miejskiej na liniach ZTM Poznań (we wszystkich strefach) na podstawie biletu lub karnetu na mecz. Nie ma konieczności nabywania odrębnego biletu ZTM. Takie udogodnienie obowiązuje maksymalnie 3 godziny przed i 2 godziny po meczu.</p>
<p>Warto wyjść wcześniej</p>
<p>Wyjście  warto  zaplanować sobie  nieco wcześniej. Dzięki temu unikniemy ewentualnego tłoku w drodze na mecz.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n.jpg">
  <img alt="Tramwaj linii nr 1" class="aligncenter wp-image-5277 size-medium" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 487px) 100vw, 487px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n-487x600.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n-487x600.jpg 487w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n-831x1024.jpg 831w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n-768x947.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n-1246x1536.jpg 1246w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/449730787_403035438785619_8138322205135093252_n.jpg 1443w" width="487"/>
 </a>
</p>
