<p>W związku z pracami prowadzonymi na pętli Budziszyńska od soboty (19 października) do piątku (25 października) trasa tramwajów linii numer 6 będzie wydłużona do Junikowa.</p>
<p>Przystanki Budziszyńska będą w tym czasie nieczynne. Pasażerów korzystający z pętli Budziszyńska prosimy o korzystanie z przystanków położonych przy ulicy Grunwaldzkiej.</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-scaled.jpg">
  <img alt="Tramwaj linii nr 6" class="aligncenter wp-image-4982 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-6-nowy-rynek-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
