<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-scaled.jpg">
  <img alt="Autobus linii nr 184" class="aligncenter wp-image-4930 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/Linia-nr-184-przystanek-przy-ZOO-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
<p>Od poniedziałku, 14 października obowiązywać zacznie tzw. zimowy rozkład jazdy linii autobusowej nr 184. Do końca marca autobusy do Nowego ZOO, we wszystkie dni tygodnia, kursować będą w godz. 9:00-17:00 co 60 minut. Częstotliwość kursów linii 184 na odcinku Rondo Rataje – Termy Maltańskie nie ulegnie zmianie.</p>
