<p>Informujemy, że z powodu awarii wodociągowej i zamknięcia Term Maltańskich, autobusy linii numer 184 – do odwołania – będą kursować na zmienionych trasach.</p>
<p>Wszystkie kursy linii nr 184, które kończą się przy Termach Maltańskich, zostają skrócone do ronda Śródka. Kursy powrotne rozpoczynają się z ronda Śródka – ze stałego przystanku przy ul. Jana Pawła II o godzinie rozkładowego odjazdu z tego przystanku.</p>
<p>Wszystkie kursy linii nr 184, które kończą się przy Nowym ZOO, mają zmienioną trasę. Autobusy kursują ulicami Warszawską i Krańcową. Przystanki Termalna na ul. Termalnej zostaną wyłączone z użytkowania.</p>
<p>Autobusy jadące do Nowego ZOO zatrzymywać się będą "na żądanie" na przystankach Termalna zlokalizowanych przy ul. Warszawskiej.</p>
<p>Wyłączony z użytkowania jest także przystanek Termy Maltańskie.</p>
<p>
 <img alt="Linia nr 184 ZTM Poznań" class="aligncenter size-full wp-image-3861" decoding="async" fetchpriority="high" height="450" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/Linia-nr-184-Przystanek-przy-Zoo-1.webp" width="600"/>
</p>
