<p>W związku z grudniową zmianą kolejowych rozkładów jazdy, od poniedziałku (16 grudnia) zostaną skorygowane godziny odjazdów podmiejskich linii numer 388, 394 oraz 396. Zmiany pozwolą na lepsze skomunikowanie kursów autobusów z nowymi rozkładami kolejowymi i ułatwienie pasażerom możliwość wzajemnych przesiadek.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich.jpg">
  <img alt="" class="aligncenter size-medium wp-image-5142" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 567px) 100vw, 567px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-567x600.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-567x600.jpg 567w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-968x1024.jpg 968w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-768x813.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich-1451x1536.jpg 1451w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/autobus-linii-podmiejskich.jpg 1935w" width="567"/>
 </a>
</p>
