<p>W związku z zakończeniem prac w Promnicach na ul. Północnej od poniedziałku (23 grudnia) nastąpi stała zmiana trasy przejazdu autobusów linii nr 312 oraz 397.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa.jpg">
  <img alt="Autobus linii nr 312" class="aligncenter wp-image-5520 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-linia-autobusowa-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
<p>Linie nr 312 oraz 397 – zmiana trasy przejazdu od poniedziałku (23 grudnia)</p>
<p>Linia nr 312</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/312-2024.12.23.pdf">
  RONDO ŚRÓDKA – … – Bolechowo-Osiedle: Wojska Polskiego – Promnice: Północna – PROMNICE KLONOWA
 </a>
</p>
<p>powrót: PROMNICE KLONOWA – Promnice: Północna, Świerkowa, Leśna – Bolechowo Osiedle: Zagajnikowa, Obornicka, Wojska Polskiego – … – RONDO ŚRÓDKA</p>
<p>Autobusy linii 312 na terenie Promnic jadące w kierunku Promnic Klonowej zatrzymają się na przystankach Promnice Północna (w ul. Północnej) i Promnice Świerkowa, natomiast kursujące w kierunku Poznania na przystanku Promnice Sosnowa.</p>
<p>Linia nr 397</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/397-2024.12.23.pdf">
  POTASZE JODŁOWA lub TRZASKOWO WIEŚ – … – Bolechowo Osiedle: Wojska Polskiego, Obornicka, Zagajnikowa – Promnice: Leśna, Świerkowa, Północna – Promnice Klonowa (pętla) – Północna, Wojska Polskiego – BIEDRUSKO PARK
 </a>
 (w obu kierunkach)
</p>
<p>Autobusy linii 397 kursujące w stronę Biedruska na terenie Promnic zatrzymają się na przystankach Promnice: Sosnowa, Klonowa, Klub Iskra, Północna, a jadące w kierunku Trzaskowa/Potaszy na przystankach Promnice: Północna (w ul. Wojska Polskiego), Północna (w ul. Północnej), Świerkowa, Klonowa, Sosnowa.</p>
