<p>W celu zapewnienia korzystniejszych godzin dojazdu do Szkoły Podstawowej w Wierzonce, od poniedziałku (16 grudnia) zostanie wprowadzona korekta w rozkładzie linii nr 323. W dni robocze odjazd z Ronda Śródka zostanie przyspieszony z godziny 7:25 na 7:20.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-scaled.jpg">
  <img alt="Autobus linii nr 323" class="aligncenter wp-image-5516 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/323-2-2048x1536.jpg 2048w" width="600"/>
 </a>
</p>
