<p>W związku z planowanym wcześniejszym ukończeniem prac dotyczących sieci trakcyjnej na ul. Kraszewskiego, od niedzieli (10 listopada) od pierwszych kursów wróci ruch tramwajowy na tej ulicy. Tym samym tramwaje linii nr 2 pojadą swoją stałą trasą.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin.jpg">
  <img alt="Tramwaj linii nr 2" class="aligncenter wp-image-5196 size-medium" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/linia-nr-2-sw-Marcin.jpg 1707w" width="600"/>
 </a>
</p>
