<p>Od poniedziałku, 14 października na linii nr 690 w  rozkładzie jazdy w dni robocze zostanie uruchomiony dodatkowy kurs z przystanku Luboń/ Kręta o godz. 7:46.</p>
<p>Pozostałe godziny odjazdu nie ulegną zmianie.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo.jpg">
  <img alt="Autobus linii nr 690" class="aligncenter wp-image-4949 size-medium" decoding="async" fetchpriority="high" height="480" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-600x480.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-600x480.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-1024x820.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-768x615.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-1536x1230.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-690-as-Zabikowo-2048x1640.jpg 2048w" width="600"/>
 </a>
</p>
