<p>W związku z pracami prowadzonymi na Rondzie Kaponiera (na poziomie -2), w noce z 8 na 9 (wtorek/środa), z 9 na 10 (środa/czwartek) i z 10 na 11 (czwartek/piątek) października oraz z 15 na 16 (wtorek/środa), z 16 na 17 (środa/czwartek)  i z 17 na 18 (czwartek/piątek) października tramwaje linii nr 201 kursować będą objazdem.</p>
<p>Linia nr 201 (pogrubiono zmieniony fragment trasy):</p>
<p>Linia 201: OS. SOBIESKIEGO – Trasa PST – Roosevelta – Most Teatralny – Fredry – Gwarna – Św. Marcin – … – UNII LUBELSKIEJ.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8.webp">
  <img alt="linia-nocna-nr-201-8" class="aligncenter wp-image-1074 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8-600x400.webp" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8-600x400.webp 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8-1024x683.webp 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8-768x512.webp 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/06/linia-nocna-nr-201-8.webp 1200w" width="600"/>
 </a>
</p>
<p>Za utrudnienia przepraszamy.</p>
