<p>Z powodu awarii, dziś (20 listopada) o godz. 20:00 zamknięty zostanie przejazd kolejowy w ciągu ulicy Starołęckiej. Z tego powodu w nocy z 20 na 21 listopada (środa/czwartek) autobusy linii nr 211 i 221 kursować będą zmienioną trasą.</p>
<p>Linia nr 211 –  kurs o godz. 0:09 z Garbar PKM wykonany będzie zmienioną trasą  (pogrubiono zmieniony fragment )</p>
<p>GARBARY PKM – Garbary – Kazimierza Wielkiego – Kórnicka – Jana Pawła II – rondo Rataje – Zamenhofa – rondo Starołęka – Zamenhofa – Krucza – Orla – Pawia – Inflancka – Żegrze – Unii Lubelskiej – Obodrzycka – Warowna – Gołężycka – Baranowska – Minikowo – Św. Antoniego – Książęca – STAROŁĘKA PKM (Książęca) – Starołęcka – Św. Antoniego – Minikowo – Baranowska – Gołężycka – Warowna – Forteczna – STAROŁĘKA PKM (Forteczna)</p>
<p>Linia nr 211 – kurs o godz. 3:12 ze Starołęki PKM będzie przyspieszony o 10 minut i rozpocznie się o godz. 3:02, ponadto autobus pojedzie zmienioną trasą  (pogrubiono zmieniony fragment)</p>
<p>STAROŁĘKA PKM – Forteczna – Warowna – Gołężycka – Baranowska – Minikowo – Św. Antoniego – Książęca – STAROŁĘKA PKM (Książęca)  Starołęcka – Św. Antoniego – Minikowo – Baranowska – Gołężycka – Warowna – Obodrzycka – Unii Lubelskiej – Żegrze – Inflancka – Pawia – Orla – Krucza – Zamenhofa – rondo Starołęka – rondo Rataje – Jana Pawła II – Kórnicka – Mostowa – Garbary – GARBARY PKM,</p>
<p>Linia nr 221 – wszystkie kursy z Garbar PKM zostaną wykonane zmienioną trasą  (pogrubiono zmieniony fragment )</p>
<p>GARBARY PKM – Garbary – Kazimierza Wielkiego – Kórnicka – Jana Pawła II – rondo Rataje – Zamenhofa – rondo Starołęka – Starołęcka – Forteczna – Warowna – Gołężycka – Baranowska – Minikowo – Św. Antoniego – Książęca – STAROŁĘKA PKM (Książęca) – Starołęcka – Głuszyna – SYPNIEWO</p>
<p>Linia nr 221 – wszystkie kursy z Sypniewa będą przyspieszone o 8 minut (wyjazdy z Sypniewa o 0:04, 2:04 i 4:04), ponadto autobus pojedzie zmienioną trasą (pogrubiono zmieniony fragment) SYPNIEWO – Głuszyna – Starołęcka – STAROŁĘKA PKM (Książęca) – Starołęcka – Św. Antoniego – Minikowo – Baranowska – Gołężycka – Warowna – Forteczna – Starołęcka – rondo Starołęka – Zamenhofa – rondo Rataje – Jana Pawła II – Kórnicka – Mostowa – Garbary – GARBARY PKM</p>
<p>Otwarcie przejazdu kolejowego planowane jest na godz. 5:00 w czwartek, 21 listopada.</p>
<p>Za utrudnienia przepraszamy.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej.jpg">
  <img alt="Przystanek linii nocnych" class="aligncenter wp-image-5274 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-600x400.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-600x400.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-1024x683.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-768x512.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-1536x1024.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/nocny-przystanek-Rondo-Kaponiera-na-ul.-Dworcowej-2048x1365.jpg 2048w" width="600"/>
 </a>
</p>
<p></p>
