<p>Informujemy, że w związku z zakończonymi pracami na ulicy Kurlandzkiej, od dziś (poniedziałek, 9 września), od godziny 15:00 przystanek Os. Zodiak na ul. Kurlandzkiej (w kierunku Chartowa) będzie funkcjonował w stałej lokalizacji.</p>
<p>Przystanek Os. Zodiak obsługuje 2 dzienne linie autobusowe numer 166, 184 i dwie nocne linie autobusowe nr 212 i 222.</p>
<p>
 <img alt="Linia nr 212 ZTM Poznań" class="aligncenter size-full wp-image-3859" decoding="async" fetchpriority="high" height="400" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/09/linia-nr-212-2.jpg" width="600"/>
</p>
