<p>
 <b>Od środy, 20 listopada, rozpoczną się prace drogowe na ul. Dąbrowskiego przy nowej inwestycji mieszkaniowej. Zwężony będzie północny odcinek między ulicami Kochanowskiego i Strzałkowskiego, tramwaje linii nr 8 i 18 pojadą zmienioną trasą przez  ul. Kraszewskiego. Ruch samochodowy będzie utrzymany. Od 19 listopada natomiast – po zakończeniu prac na pętli i w przystanku Żeromskiego – tramwaje linii nr 2, 7, 8 i 18 znów będą kursować do pętli na Ogrodach. [AKTUALIZACJA 5.12.2024</b>
 – od czwartku, 5 grudnia, prace będą prowadzone na skrzyżowaniu ulic Dąbrowskiego i  Strzałkowskiego. W związku z powyższym, przez najbliższe dwa tygodnie, zamknięty będzie wjazd w ul. Strzałkowskiego od strony Dąbrowskiego. Dojazd do posesji zlokalizowanych przy ul. Strzałkowskiego i Mansfelda możliwy będzie od strony ul. Poznańskiej. Prace potrwają minimum dwa tygodnie. Przy niekorzystnych warunkach atmosferycznych mogą ulec wydłużeniu.]
</p>
<p>Między ulicami Kochanowskiego a Strzałkowskiego zamknięty będzie północny fragment jezdni w stronę rynku Jeżyckiego. Auta będą się poruszały po torowisku, po którym – ze względów bezpieczeństwa – nie będą wówczas jeździły tramwaje. “Ósemka" i “osiemnastka" pojadą przez ul. Kraszewskiego.</p>
<p>Tłustym drukiem zaznaczono zmienione fragmenty tras linii numer 8 i 18:</p>
<p>Linia nr 8</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/8-2024.11.12.pdf">
  MIŁOSTOWO – … – Most Teatralny – Roosevelta – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – OGRODY
 </a>
</p>
<p>Linia nr 18</p>
<p>
 <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/18-2024.11.12.pdf">
  FRANOWO – … – Most Dworcowy – Roosevelta – Zwierzyniecka – Kraszewskiego – Dąbrowskiego – OGRODY
 </a>
</p>
<p>W związku z powrotem tramwajów na pętlę Ogrody, na swoje stałe trasy wrócą też autobusy linii nr 182, 191, 193, 835, 836 i 837, ale do 24 listopada autobusy powyższych linii oraz linii nocnych nr 219 i 258 nie będą zatrzymywały się na przystankach tramwajowo-autobusowych Żeromskiego.</p>
<p>– autobusy jadące w kierunku Ogrodów (nr 182, 191, 193, 219 i 258) zatrzymywać się będą na tymczasowym przystanku na ul. Dąbrowskiego za ul. Wilkońskich,</p>
<p>– autobusy jadące w kierunku centrum (nr 219 i 258) zatrzymywać się będą na tymczasowym przystanku na ul Dąbrowskiego przed ul. Długosza,</p>
<p>–  autobusy jadące w kierunku Sołacza i Piątkowa (nr 182, 191, 193, 835, 836 i 837) zatrzymywać się będą na stałym przystanku na ul. Żeromskiego.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n.jpg">
  <img alt="Linia tramwajowa nr 8" class="aligncenter wp-image-5252 size-medium" decoding="async" fetchpriority="high" height="600" sizes="(max-width: 450px) 100vw, 450px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n-450x600.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n-450x600.jpg 450w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n-768x1024.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n-1152x1536.jpg 1152w, https://www.ztm.poznan.pl/wp-content/uploads/2024/11/462553564_1669036437363334_196712609582976493_n.jpg 1512w" width="450"/>
 </a>
</p>
<p></p>
<p>Za utrudnienia przepraszamy.</p>
