<p>W związku z budową ronda na skrzyżowaniu ulic Konopackiej z Kowalewicką od poniedziałku 14 października do odwołania zmianie ulegnie trasa autobusów linii nr 704 oraz 710.</p>
<p>
 <img alt="" class="size-medium wp-image-4944 aligncenter" decoding="async" fetchpriority="high" height="450" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-600x450.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-600x450.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-1024x768.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-768x576.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-1536x1152.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nr-716-b-2048x1536.jpg 2048w" width="600"/>
</p>
<table>
 <tbody>
  <tr>
   <td rowspan="2" width="69">
    <p></p>
    <p>704</p>
   </td>
   <td width="496">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/704-2024.10.14.pdf">
     GÓRCZYN PKM – Głogowska – Marii Lange – Komorniki/Fabianowska – Komorniki/Tulipanowa – Komorniki/Wiśniowa – Komorniki/Ks. Wawrzyniaka – Komorniki/Kolumba – Głuchowo/Poznańska – Głuchowo/Stawna – Głuchowo/Komornicka – Komorniki/Polna – KOMORNIKI TOPOLOWA
    </a>
   </td>
  </tr>
  <tr>
   <td width="496">Powrót bez zmian</td>
  </tr>
  <tr>
   <td rowspan="2" width="69">
    <p></p>
    <p>710</p>
    <p></p>
   </td>
   <td width="496">
    <a href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/710-2024.10.14.pdf">
     GÓRCZYN PKM – Głogowska – Marii Lange – Sycowska – Trzebińska – Plewiska/Fabianowska – Plewiska/Skryta – Plewiska/Grunwaldzka – Plewiska/Szkolna – Komorniki/Kolumba – KOMORNIKI KOLUMBA
    </a>
   </td>
  </tr>
  <tr>
   <td width="496">Powrót bez zmian</td>
  </tr>
 </tbody>
</table>
<p>Z użytkowania zostanie wyłączony przystanek: Konopacka NŻ (w kierunku ulicy Marii Lange).</p>
<p>Zostanie utworzony tymczasowy przystanek na ulicy Marii Lange za skrzyżowaniem z ulicą Haliny Konopackiej.</p>
<p>Za utrudnienia przepraszamy.</p>
