<p>W celu polepszenia komunikacji od poniedziałku (4 listopada) wprowadzona zostanie korekta w rozkładzie jazdy linii nr 123 i 154.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan.jpg">
  <img alt="Linia minibusowa ZTM Poznań" class="aligncenter wp-image-5093 size-medium" decoding="async" fetchpriority="high" height="399" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan-600x399.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan-600x399.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan-1024x680.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan-768x510.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/minibus-ZTM-Poznan.jpg 1204w" width="600"/>
 </a>
</p>
<p>Linia nr 123:</p>
<ul>
 <li>kurs ze Starołęki PKM przesunięty zostanie z godz. 11:09 na 11:14.</li>
 <li>kurs z Krzesin przesunięty zostanie z godz. 11:40 na 11:45.</li>
</ul>
<p>Linia nr 154:</p>
<ul>
 <li>kurs z Ronda Rataje przesunięty zostanie z godz. 7:00 na 6:55</li>
 <li>kurs z Krzesin przesunięty zostanie z godz. 7:41 na 7:36.</li>
</ul>
