<p>Najbliższe dwie niedziele – 15 i 22 grudnia będą niedzielami handlowymi. W celu ułatwienia dojazdu do centrów i placówek handlowych, transport zbiorowy będzie wzmocniony.</p>
<p>W niedziele (15 i 22 grudnia) autobusy na liniach  nr 180 oraz 193 będą kursować zgodnie z sobotnim rozkładem jazdy. Autobusy linii nr 180 będą dojeżdżać do centrum handlowego przy ul. Sycowskiej, a autobusy linii nr 193 będą obsługiwać przystanki przy CH na Marcelinie.</p>
<p>Na liniach podmiejskich komunikacja odbywać się będzie według świątecznego rozkładu jazdy, ale autobusami linii nr 611, 703, 705 i 707 będzie można dojechać do przystanku – Sycowska Centrum Handlowe, natomiast autobusami linii nr 811, 812, 813 do przystanku Swadzim/Auchan.</p>
<p>Zachęcamy do skorzystania z komunikacji zbiorowej.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193.jpg">
  <img alt="Autobus linii nr 193" class="aligncenter wp-image-5527 size-medium" decoding="async" fetchpriority="high" height="403" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-600x403.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-600x403.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-1024x687.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-768x515.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-1536x1031.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/12/zdjecie-przedstawia-autobus-linii-nr-193-2048x1374.jpg 2048w" width="600"/>
 </a>
</p>
