<p>W związku z pracami prowadzonymi na Rondzie Kaponiera (na poziomie -2), w noce z 22 na 23 (wtorek-środa), z 23 na 24 (środa-czwartek) oraz z 24 na 25 października (czwartek-piątek) tramwaje linii nr 201 kursować będą objazdem.</p>
<p>
 <a data-fslightbox="gallery" data-type="image" href="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3.jpg">
  <img alt="Tramwaj nocnej linii nr 201" class="aligncenter wp-image-4996 size-medium" decoding="async" fetchpriority="high" height="400" sizes="(max-width: 600px) 100vw, 600px" src="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-600x400.jpg" srcset="https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-600x400.jpg 600w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-1024x683.jpg 1024w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-768x512.jpg 768w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-1536x1024.jpg 1536w, https://www.ztm.poznan.pl/wp-content/uploads/2024/10/linia-nocna-nr-201-3-2048x1365.jpg 2048w" width="600"/>
 </a>
</p>
<p>Linia nr 201 (pogrubiono zmieniony fragment trasy):</p>
<p>Linia 201: OS. SOBIESKIEGO – Trasa PST – Roosevelta – Most Teatralny – Fredry – Gwarna – Św. Marcin – … – UNII LUBELSKIEJ.</p>
<p>Za utrudnienia przepraszamy.</p>
