<div class='content-section object-view' id='vehicle-view'>
    <div id='vehicle-name' class='name-label'></div>
    <div id='vehicle-license-plate'></div>
    <div id='vehicle-image'></div>
    <table id='vehicle-details' class='details-table hidden'>
        <tr>
            <td>carrier:</td>
            <td id='vehicle-carrier'></td>
        </tr>
        <tr>
            <td>type:</td>
            <td id='vehicle-kind'></td>
        </tr>
        <tr>
            <td>brand:</td>
            <td id='vehicle-brand'></td>
        </tr>
        <tr>
            <td>model:</td>
            <td id='vehicle-model'></td>
        </tr>
        <tr>
            <td>seats:</td>
            <td id='vehicle-seats'></td>
        </tr>
    </table>
    <div id='vehicle-lore' class='lore-label'></div>
    <div id='vehicle-discoveries' class='discoveries-label'></div>
</div>