<div class='sidebar' id='search'>
    <div class='sidebar-header'>
        <div class='sidebar-icon material-icons'>search</div>
        <div class='sidebar-title'>Search anything</div>
        <div class='sidebar-close-icon material-symbols-outlined' onclick='toggleSidebar("search")'>close</div>
    </div>
    <input type='text' id='search-input' placeholder='Search for stops, vehicles or lines' oninput='searchObject()'>
    <div id='search-results'></div>
</div>