<div class='line-preview' data-line-number='{{ line.number }}'>
    <div class='line-path-container'>
        <img class='line-path' src='{{ ref.mapdata_path }}/{{ line.number }}/1.svg'>
    </div>
    <div class='line-number' style='background-color: #{{ line.background_color }}; color: #{{ line.text_color }};'>
        {{ line.number }}
    </div>
</div>