<div class='content-section object-view' id='line-view'>
    <div class='line-view hidden'>
        <span class='line-number' id='line-number'></span>
        <span class='line-destination' id='line-terminals'></span>
    </div>
    <table class='details-table hidden' id='line-details'>
        <tr>
            <td>type:</td>
            <td id='line-kind'></td>
        </tr>
        <tr>
            <td>route:</td>
            <td id='line-route'></td>
        </tr>
    </table>
    <div id='line-routes'></div>
    <div class='discoveries-label' id='line-discoveries'></div>
</div>