<div id='navigation'>
    <div class='navigation-tile selected' data-tab='stops' onclick='openTab(this, "stops")'>
        <span class='material-icon material-symbols-outlined'>pin_drop</span>
        <span>Stops</span>
    </div>
    <div class='navigation-tile' data-tab='lines' onclick='openTab(this, "lines")'>
        <span class='material-icon material-symbols-outlined'>route</span>
        <span>Lines</span>
    </div>
    <div class='navigation-tile' data-tab='vehicles' onclick='openTab(this, "vehicles")'>
        <span class='material-icon material-symbols-outlined'>tram</span>
        <span>Vehicles</span>
    </div>
</div>