@font-face {
    font-family: 'Genshin';
    src: url('../fonts/genshin.ttf');
}

@font-face {
    font-family: 'Markers';
    src: url('../fonts/markers.ttf');
}

.hidden {
    display: none !important;
}

.nowrap {
    white-space: nowrap;
}