.hud {
    color: white;
    font-family: Genshin, sans-serif;
    font-size: min(5dvh, 5dvw);
    z-index: 1000;
    text-align: right;
    pointer-events: none;
}

.hud .switch-label {
    font-size: min(4dvh, 4dvw);
}

.hud label, .hud input, .hud select {
    pointer-events: auto;
}

.label-new-tab-button::after {
    content: "NEW";
    padding: 0 min(0.5dvh, 0.5dvw);
    border-radius: min(0.5dvh, 0.5dvw);
    margin-right: min(0.5dvh, 0.5dvw);
    font-size: min(1.5vh, 1.5dvw);
    background-color: orangered;
    -webkit-text-stroke: initial;
    text-shadow: none;
    position: absolute;
    bottom: 2em;
    transform: translateX(0.25em);
}

.label-new-switch::before {
    content: "NEW";
    padding: 0 min(0.5dvh, 0.5dvw);
    border-radius: min(0.5dvh, 0.5dvw);
    margin-right: min(0.5dvh, 0.5dvw);
    font-size: min(2vh, 2dvw);
    background-color: orangered;
    -webkit-text-stroke: initial;
    text-shadow: none;
    position: relative;
    bottom: 1.5em;
    left: 0.5em;
    z-index: -1;
}

@supports (-webkit-text-stroke: min(0.25dvh, 0.25dvw) black) {
    .hud {
        -webkit-text-stroke: min(0.25dvh, 0.25dvw) black;
    }
}

@supports not (-webkit-text-stroke: min(0.25dvh, 0.25dvw) black) {
    .hud {
        text-shadow: min(0.18dvh, 0.18dvw) min(0.18dvh, 0.18dvw) black,
        max(-0.18dvh, -0.18dvw) min(0.18dvh, 0.18dvw) black,
        min(0.18dvh, 0.18dvw) max(-0.18dvh, -0.18dvw) black,
        max(-0.18dvh, -0.18dvw) max(-0.18dvh, -0.18dvw) black,
        0 min(0.25dvh, 0.25dvw) black,
        0 max(-0.25dvh, -0.25dvw) black,
        min(0.25dvh, 0.25dvw) 0 black,
        max(-0.25dvh, -0.25dvw) 0 black;
    }
}

#tab-buttons {
    position: absolute;
    top: min(3dvh, 3dvw);
    left: 0;
    z-index: 1000;
    text-align: left;
    font-size: min(3dvh, 3vw);
}

#tab-buttons .material-icons {
    font-size: min(4dvh, 4vw);
    margin-right: min(1dvh, 1vw);
}

@supports (-webkit-text-stroke: min(0.2dvh, 0.2dvw) black) {
    #tab-buttons {
        -webkit-text-stroke: min(0.15dvh, 0.15dvw) black
    }
}

@supports not (-webkit-text-stroke: min(0.2dvh, 0.2dvw) black) {
    #tab-buttons {
        text-shadow: min(0.11dvh, 0.11dvw) min(0.11dvh, 0.11dvw) black,
        max(-0.11dvh, -0.11dvw) min(0.11dvh, 0.11dvw) black,
        min(0.11dvh, 0.11dvw) max(-0.11dvh, -0.11dvw) black,
        max(-0.11dvh, -0.11dvw) max(-0.11dvh, -0.11dvw) black,
        0 min(0.15dvh, 0.15dvw) black,
        0 max(-0.15dvh, -0.15dvw) black,
        min(0.15dvh, 0.15dvw) 0 black,
        max(-0.15dvh, -0.15dvw) 0 black;
    }
}

.tab-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: min(0.5dvh, 0.5dvw) 0;
    padding: 0 min(2dvh, 2vw);
    background: linear-gradient(to right, rgba(112, 112, 112, 0), rgba(112, 112, 112, 0.6667) 10% 90%, rgba(112, 112, 112, 0));
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: min(0.25dvh, 0.25vw);
    border-image: linear-gradient(to right, transparent, black 10% 90%, transparent) 1;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}

.dark .tab-button {
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 10% 90%, rgba(255, 255, 255, 0)) 1;
}

.tab-button-divider {
    height: min(1dvh, 1vw);
}

#control {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: min(3dvh, 3dvw);
    right: min(5dvh, 5dvw);
    z-index: 1000;
    text-align: right;
}

#control td {
    vertical-align: baseline;
}

#exploration {
    position: absolute;
    bottom: min(3dvh, 3dvw);
    right: min(17dvh, 17dvw);
}

#exploration {
    line-height: 85%;
}

.mode-info-label {
    font-size: min(4dvh, 4dvw);
}

@supports (-webkit-text-stroke: min(0.2dvh, 0.2dvw) black) {
    .mode-info-label {
        -webkit-text-stroke: min(0.2dvh, 0.2dvw) black
    }
}

@supports not (-webkit-text-stroke: min(0.2dvh, 0.2dvw) black) {
    .mode-info-label {
        text-shadow: min(0.14dvh, 0.14dvw) min(0.14dvh, 0.14dvw) black,
        max(-0.14dvh, -0.14dvw) min(0.14dvh, 0.14dvw) black,
        min(0.14dvh, 0.14dvw) max(-0.14dvh, -0.14dvw) black,
        max(-0.14dvh, -0.14dvw) max(-0.14dvh, -0.14dvw) black,
        0 min(0.2dvh, 0.2dvw) black,
        0 max(-0.2dvh, -0.2dvw) black,
        min(0.2dvh, 0.2dvw) 0 black,
        max(-0.2dvh, -0.2dvw) 0 black;
    }
}

#compass {
    position: absolute;
    bottom: min(5dvh, 5dvw);
    right: min(5dvh, 5dvw);
    width: min(10dvh, 10dvw);
    height: min(10dvh, 10dvw);
    z-index: 1000;
}

/* toggle switch implementation styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    margin-left: min(1dvh, 1dvw);
    width: min(12dvh, 12dvw);
    height: min(6dvh, 6dvw);
    vertical-align: middle;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    transition: linear 0.5s;
    border: min(0.5dvh, 0.5dvw) solid black;
    border-radius: min(3dvh, 3dvw);
}

.toggle-switch input:checked + .slider {
    background-color: #4caf50;
}

.slider:before {
    content: "";
    position: absolute;
    width: min(4.5dvh, 4.5dvw);
    height: min(4.5dvh, 4.5dvw);
    left: min(0.75dvh, 0.75dvw);
    top: min(0.375dvh, 0.375dvw);
    background-color: white;
    border-radius: min(2.25dvh, 2.25dvw);
    transition: cubic-bezier(0, 0.67, 0.67, 1) 0.5s;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(min(4.875dvh, 4.875dvw));
}

/* end of toggle switch implementation styles  */
.dropdown {
    background-color: rgb(112, 112, 112);
    border-radius: min(2dvh, 2dvw) min(2dvh, 2dvw);
    border: min(0.5dvh, 0.5dvw) solid black;
    padding: 0 min(2dvh, 2dvw);
    margin-top: min(1dvh, 1dvw);
    text-align: center;
}

.sidebar {
    display: none;
    height: 100vh;
    width: min(60dvh, 60dvw);
    position: absolute;
    left: 0;
    top: 0;
    padding: min(1.25dvh, 1.25dvw);
    z-index: 1200;
    background-color: rgb(224, 223, 223);
    border-right: min(0.5dvh, 0.5dvw) solid black;
    font-family: Genshin, sans-serif;
    font-size: min(2dvh, 2dvw);
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.expanded {
    display: block;
}

.dark .sidebar {
    background-color: rgb(56, 56, 56);
}

.dark .sidebar > * {
    filter: invert(1);
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: min(1dvh, 1dvw);
}

.sidebar-icon {
    font-size: min(5dvh, 5dvw);
    margin-right: min(1dvh, 1dvw);
    cursor: default;
}

.sidebar-title {
    flex: 1;
    font-size: min(3dvh, 3dvw);
}

.sidebar-close-icon {
    font-size: min(4dvh, 4dvw);
    font-weight: 900;
    cursor: pointer;
}

.progress-list table {
    width: 100%;
    line-height: 1.25;
}

.progress-list table td {
    padding-bottom: min(0.5dvh, 0.5dvw);
}

.list-title {
    margin: min(1.5dvh, 1.5dvw) 0;
}

.achievement-stars {
    font-size: min(2dvh, 2dvw);
    width: min(4.5dvh, 4.5dvw);
    text-align: center;
    word-break: break-all;
    line-height: 1;
}

.achievement-details {
    padding: 0 min(1dvh, 1dvw);
}

.achievement-progress {
    text-align: center;
    white-space: nowrap;
}

.achievement-description {
    color: gray;
    font-size: min(1.25dvh, 1.25dvw);
    line-height: 1.25;
}

.brand-logo {
    height: min(4dvh, 4dvw);
}

.vehicle-icon {
    height: min(4dvh, 4dvw);
    padding-bottom: min(0.75dvh, 0.75dvw);
}

#search {
    width: min(75dvh, 75dvw);
}

#search-input {
    width: 100%;
    margin: min(1dvh, 1dvw) 0;
    padding: min(0.5dvh, 0.5dvw);
    font-size: min(2dvh, 2dvw);
    border-radius: min(1dvh, 1dvw);
}

.result-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-row > div {
    padding: min(0.5dvh, 0.5dvw);
}

.result-icon, .result-lock-icon {
    font-size: min(4dvh, 4dvw);
}

.result-body {
    flex: 1;
    font-size: min(2dvh, 2dvw);
}

#search-results .line-number {
    font-size: min(2dvh, 2dvw);
}

#theme-icon {
    width: 100%;
    padding: 4px;
}

/* map styles */

.dark .folium-map {
    background-color: #181818;
}

.marker {
    font-family: Markers, sans-serif;
}

@supports (-webkit-text-stroke: 4px white) {
    .marker {
        font-size: 28px;
        -webkit-text-stroke: 4px white;
    }

    .dark .marker {
        -webkit-text-stroke-color: black;
    }

    .marker.raid {
        -webkit-text-stroke-width: 2px;
    }
}

@supports not (-webkit-text-stroke: 4px white) {
    .marker {
        font-size: 22px;
        text-shadow: 3px 3px white, -3px 3px white, 3px -3px white, -3px -3px white, 0 4px white, 0 -4px white, 4px 0 white, -4px 0 white;
    }

    .dark .marker {
        text-shadow: 3px 3px black, -3px 3px black, 3px -3px black, -3px -3px black, 0 4px black, 0 -4px black, 4px 0 black, -4px 0 black;
    }

    .marker.raid {
         text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white, 0 2px white, 0 -2px white, 2px 0 white, -2px 0 white;
    }

    .dark .marker.raid {
         text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black, 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black;
    }
}

.leaflet-popup {
    white-space: nowrap;
    font-family: Genshin, sans-serif;
}

.dark .folium-map .leaflet-popup {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.dark .folium-map .leaflet-popup-content-wrapper {
    box-shadow: 0 3px 14px rgba(255, 255, 255, 0.4); /* style copied from leaflet default, with white color to compensate for the invert filter */
}

.stop-name {
    font-size: min(2dvh, 2dvw);
}

.stop-visitors, .stop-tp {
    font-size: min(1.5dvh, 1.5dvw);
}

.stellar-voyage .stop-visitors {
    display: none;
}

.stop-tp {
    display: none;
}

.stellar-voyage .stop-tp {
    display: initial;
}
