<span class="stop-name">{{ point.stop }}</span>
<span class="stop-visitors">
    {%- for point in point.points -%}
        <br><i>{{ point.phase }} point</i><br>
        {%- if point.phase == 'transfer' and point.arrival and point.departure -%}
            &nbsp;arrival time: {{ point.arrival.strftime('%-I:%M%p') -}}
            <br>&nbsp;departure time: {{ point.departure.strftime('%-I:%M%p') }}
        {%- elif point.phase in ['departure', 'arrival'] and (point.departure or point.arrival) -%}
            &nbsp;time: {{ (point.departure or point.arrival).strftime('%-I:%M%p') }}
        {%- endif -%}
        {%- if point.comment %}&nbsp;{{ point.comment }}{% endif -%}
    {%- endfor -%}
</span>