<span class="stop-name">{{ point.stop }}</span>
<span class="stop-visitors"><br>{{ point.phase }} point<br>
    {%- if point.phase == 'transfer' -%}
        arrival time: {{ point.arrival.strftime('%-I:%M%p') if point.arrival else '?' }}<br>
        departure time: {{ point.departure.strftime('%-I:%M%p') if point.departure else '?' }}
    {%- else -%}
        time: {{ point.time.strftime('%-I:%M%p') if point.time else '?' }}
    {%- endif -%}
</span>