<p id='exploration' class='hud'>
    <label id='region-selection'>
        <select class='dropdown hud' onchange='selectRegion()'>
            {% for region in db.regions.values() | sort %}
                <option value='{{ region.short_name }}'>{{ region.full_name }}</option>
            {% endfor %}
        </select>
    </label>
    <br>
    <span id='exploration-progress' class='mode-info-label'>
        Exploration progress:
        <span id='exploration-percentage'
                {%- for player in db.players -%}
                    data-lines-{{ player.nickname.lower() }}='{{ db.progress['LN'][player.nickname] }}'
                    data-sv-{{ player.nickname.lower() }}='{{ db.progress['SV'][player.nickname] }}'
                    {%- for region in db.regions.values() -%}
                      data-{{ region.short_name.lower() }}-{{ player.nickname.lower() }}='{{ db.progress[region.short_name][player.nickname] }}'
                      data-{{ region.short_name.lower() }}-ev-{{ player.nickname.lower() }}='{{ db.progress[region.short_name]['ev-' + player.nickname] }}'
                    {%- endfor -%}
                {%- endfor -%}>
            {{ db.progress[db.district.short_name][db.players[0].nickname] }}
        </span>
    </span>
    <span id='raid-info' class='mode-info-label hidden'>
        Total length:
        <span id='raid-length'
                {%- for raid in db.raids -%}
                    data-length-{{ raid.raid_id }}='{{ raid.get_total_length().format(precision=1) }}'
                {%- endfor -%}>
            {{ db.raids[0].get_total_length().format(precision=1) }}
        </span>
    </span>
</p>
<img id='compass' src='{{ ref.asset_img_compass }}'>