<div id='tab-buttons' class='hud'>
    <div class='tab-button' onclick='window.location.href = "announcements.html"'>
        <div class="material-icons">newspaper</div>
        <div>The Steambird</div>
    </div>
    <div class='tab-button' onclick='window.location.href = "archive.html"'>
        <div class="material-icons">auto_stories</div>
        <div>Pokestops Archive</div>
    </div>
    <div class='tab-button' onclick='window.location.href = "raids.html"'>
        <div class="material-icons">explore</div>
        <div class='label-new-tab-button'>Raider's Logbook</div>
    </div>
    <div class='tab-button-divider'></div>
    <div class='tab-button' onclick='toggleSidebar("achievements")'>
        <div class="material-icons">emoji_events</div>
        <div>Achievements</div>
    </div>
    <div class='tab-button' onclick='toggleSidebar("vehicles")'>
        <div class="material-icons">tram</div>
        <div>Vehicles</div>
    </div>
    <div class='tab-button-divider'></div>
    <div class='tab-button' onclick='toggleSidebar("search")'>
        <div class="material-icons">search</div>
        <div>Search anything</div>
    </div>
</div>