<div class='content-section object-view' id='stop-view'>
    <div id='stop-name' class='name-label'></div>
    <table id='stop-details' class='details-table hidden'>
        <tr>
            <td class='nowrap'>served by:</td>
            <td id='stop-lines'></td>
        </tr>
        <tr>
            <td class='nowrap'>location:</td>
            <td id='stop-location'>
                <span id='stop-address'></span><br>
                <span id='stop-coordinates'></span><br>
                <a id='street-view-link' href='#' target='_blank'>
                    <span>view the location</span>
                    <span class='material-icon material-symbols-outlined'>arrow_forward_ios</span>
                </a>
            </td>
        </tr>
    </table>
    <div id='stop-discoveries' class='discoveries-label'></div>
</div>